<app-headnavagation></app-headnavagation>
<div class="fixed-login"></div>
<div class="banner d-flex justify-content-center align-items-center flex-column">
  <h1 class="text-center text-white fw-bolder mt-lg-5 mt-md-5 mt-5 text-uppercase">
    College
  </h1>
  <p
    [textContent]="enrollmentData?.academic_year"
    class="text-center m-0 pt-2 text-white"></p>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 formContain bg-white shadow-lg mx-lg-auto mx-md-auto m-0 my-lg-5 my-md-3 my-0 p-3 login-bg">
      <div class="asclogo mx-auto"></div>

      <div class="text-center pb-4">
        <h2 class="formTitle text-center">CREATE AN ACCOUNT</h2>
        <small class="text-center fs-6 fst-italic">
          <strong>Note:  </strong>
          All Input with asterisks
          <span class="text-danger fs-5"></span>
          are required!
        </small>
      </div>
      <div class="formBody border border-5 pt-3 m-lg-3 m-md-2 m-0 rounded-5">
        <div *ngIf="!otp">
          <form
            [formGroup]="signUpForm"
            (ngSubmit)="signUp()"
            novalidate>
            <div class="row pt-4 pb-3 px-3">
              <div class="col-lg-3 col-md-6 col-12">
                <div class="mb-lg-0 mb-md-3 mb-3">
                  <label
                    for="firstname"
                    class="form-label">
                    First Name
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    type="text"
                    pInputText
                    pAutoFocus
                    [autofocus]="true"
                    class="border p-inputtext-md px-3 text-uppercase"
                    autocomplete="off"
                    formControlName="first_name"
                    id="firstname"
                    [style]="{ width: '100%' }">
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div>
                  <div class="mb-lg-0 mb-md-3 mb-3">
                    <label
                      for="lastname"
                      class="form-label">
                      Last Name
                      <span class="text-danger">*</span>
                      <br>
                    </label>
                    <input
                      type="text"
                      pInputText
                      class="p-inputtext-md border text-uppercase"
                      autocomplete="off"
                      formControlName="last_name"
                      id="lastname"
                      [style]="{ width: '100%' }">
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="mb-lg-0 mb-md-3 mb-3">
                  <label
                    for="middlename"
                    class="form-label">
                    Middle Name
                    <small class="fw-normal fst-italic">(check if none)</small>  
                    <p-checkbox
                      [ariaChecked]="noMiddleName"
                      (click)="toggleMiddleName()"
                      [binary]="true"
                      class="text-uppercase"
                      inputId="binary"></p-checkbox>
                    <br>
                  </label>
                  <input
                    pInputText
                    [readonly]="noMiddleName"
                    formControlName="middle_name"
                    type="text"
                    class="p-inputtext-md border text-uppercase"
                    id="middlename"
                    [style]="{ width: '100%' }">
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div>
                  <div class="mb-lg-0 mb-md-3 mb-3">
                    <label
                      for="suffix"
                      class="form-label">
                      Extension:
                    </label>
                    <"
                      pInputText
                      type="text"
                      class="p-inputtext-md border"
                      autocomplete="off"
                      formControlName="suffix"
                      id="suffix"
                      [style]="
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
