<footer>
	<div class="foot1">
		<div class="container p-5">
			<div class="row">
				<div class="col-3">
					<img src="../../../assets/misc/homepage/20230425_063141.png"
						width="256">
				</div>
				<div class="col-3 text-light">
					<p class="size">
						Andres Soriano Avenue, Mangagoy, Bislig City
					</p>
					<br>
					<p class="size">
						ascb&#64;gmail.com
						<br>
						+63 912-3456-781
					</p>
					<!-- placeholder contacts -->
					<br>
					<ul>
						<li>
							<a href="https://www.facebook.com/AndresSorianoCollege"
								target="_blank"
								rel="noopener noreferrer">
								<img src="../../../assets/misc/homepage/epbi.png"
									alt>
							</a>
						</li>
						<!-- <li>
							<a href="https://twitter.com/?lang=en"
								target="_blank"
								rel="noopener noreferrer">
								<img src="../../../assets/misc/homepage/twittw.png"
									alt>
							</a>
						</li> -->
						<li>
							<a href="https://www.youtube.com/@andressorianocollegesofbis1214"
								target="_blank"
								rel="noopener noreferrer">
								<img src="../../../assets/misc/homepage/Youtube.png"
									alt>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-3 text-light">
					<a routerLink
						class="text-white fw-bolder link-offset-2 link-underline link-underline-opacity-0">
						Home
					</a>
					<hr>
					<a routerLink
						class="text-white fw-bolder link-offset-2 link-underline link-underline-opacity-0">
						About
					</a>
					<hr>
					<a routerLink
						class="text-white fw-bolder link-offset-2 link-underline link-underline-opacity-0">
						Departments
					</a>
					<hr>
					<a routerLink
						class="text-white fw-bolder link-offset-2 link-underline link-underline-opacity-0">
						Gallery
					</a>
					<hr>
					<a routerLink
						class="text-white fw-bolder link-offset-2 link-underline link-underline-opacity-0">
						Enroll Now
					</a>
				</div>
				<div class="col-3 text-light">
					<span class="flast fw-bolder link-offset-2 link-underline link-underline-opacity-0">ASCB</span>
					<br>
					<br>
					<p class="size">
						Every Andres strives for (A)cademic excellence with a heart for (S)ervice to community; a (C)atalyst for Change and at all times (B)enevolent and compassionate.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="foot2">
		<div class="container d-flex p-3">
			<div class="p-2 flex-grow-1 text-center">
				<span class="size text-light">
					© 2024 Andres Soriano Colleges of Bislig. All rights reserved.
				</span>
			</div>
		</div>
	</div>
</footer>
