<app-headnavagation></app-headnavagation>
<main>
  <button
    onclick="topFunction()"
    id="topbtn"
    title="Back to Top"
    data-bs-toggle="tooltip"
    data-bs-placement="top"
    data-bs-custom-class="custom-tooltip"
  ></button>
  <div class="hero text-center text-light shadow p-5 mt-lg-5 mt-md-5 mt-1">
    <h1>REGISTRATION</h1>
    <p>REGISTRATION REQUIREMENTS &sol; ENROLLMENT PROCESS</p>
  </div>
  <div class="container mt-3">
    <div class="row">
      <div class="d-flex float-end">
        <div class="box m-2 me-3"><span></span></div>
        <p class="about">Requirements</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="d-flex float-end">
          <div class="bullt m-1 me-2"><span></span></div>
          <p class="desc">ACADEMIC RECORDS</p>
        </div>
      </div>
      <p class="state">
        Academic records are documents that show your grades throughout high
        school and senior high school. These include report cards &lpar;Form
        138&rpar; and transcript of records &lpar;Form 137&rpar;. Schools may
        request either one or both of these documents.
      </p>
      <p class="state">
        Aside from being proof of your secondary education, they serve as a way
        for the school to see whether or not you will be able to keep up with
        your academic performance in college. Academic records are important if
        you&apos;re applying for a scholarship!
      </p>
      <div class="row">
        <div class="d-flex float-end">
          <div class="bullt m-1 me-2"><span></span></div>
          <p class="desc">CERTIFICATE OF GOOD MORAL</p>
        </div>
      </div>
      <p class="state">
        Your grades show your academic performance in numbers, while a
        certificate of good moral speaks of your character. Schools have rules
        and regulations students must follow. Some of which includes rules about
        academic honesty, bullying, attendance, and more. This document shows
        your disciplinary record throughout your time in high school.
      </p>
      <div class="row">
        <div class="d-flex float-end">
          <div class="bullt m-1 me-2"><span></span></div>
          <p class="desc">PSA&sol;NSO BIRTH CERTIFICATE</p>
        </div>
      </div>
      <p class="state">
        A birth certificate is an important document, because &apos;s a valid
        proof of identity. It indicates your basic details such as name, age,
        citizenship, and status. It&apos;s a way for the school to verify the
        personal information you put on your application form. In other words,
        schools use this to make sure that you are who you say you are!
      </p>
    </div>
    <div class="row">
      <div class="d-flex float-end">
        <div class="box m-2 me-3"><span></span></div>
        <p class="about">Enrollment Process</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="d-flex float-end">
          <div class="bullt m-1 me-2"><span></span></div>
          <p class="desc">STEP 1</p>
        </div>
        <p class="state">
          To create an account, simply fill out the form provided on the portal.
          Once completed, check your email for the OTP code that will be sent to
          you. If you already have an account, please proceed to Log&mdash;in.
        </p>
      </div>
      <div class="row">
        <div class="d-flex float-end">
          <div class="bullt m-1 me-2"><span></span></div>
          <p class="desc">STEP 2</p>
        </div>
        <p class="state">
          Before you can proceed, kindly update your password to finish your
          account set&apos;up.
        </p>
      </div>
      <div class="row">
        <div class="d-flex float-end">
          <div class="bullt m-1 me-2"><span></span></div>
          <p class="desc">STEP 3</p>
        </div>
        <p class="state">
          Please ensure the payment of the designated registration fee at the
          accounting office. This fee is necessary for your registration in the
          program. Once the payment is processed, you will have access to browse
          and pick your subjects.
        </p>
      </div>
      <div class="row">
        <div class="d-flex float-end">
          <div class="bullt m-1 me-2"><span></span></div>
          <p class="desc">STEP 4</p>
        </div>
        <p class="state">
          To complete the process, after you&apos;ve picked your subjects, you
          can head over and ask for your dean&apos;s approval.
        </p>
      </div>
    </div>
  </div>
</main>

<app-footernavigation> </app-footernavigation>
