<div class="container-dashboard">
  <app-registrar-sidebar></app-registrar-sidebar>
  <div class="main-content">
    <div class="fixed-background"></div>
    <app-registrar-navbar></app-registrar-navbar>
    <div class="container-fluid vh-100 content">
      <h2 class="h3 text-white">Dashboard</h2>
      <div class="divider"></div>
      <div class="container">
        <div class="row justify-content-evenly mt-2">
          <a
            routerlink=""
            class="col-auto row py-2 bg-white link-offset-2 link-underline link-underline-opacity-0 text-dark"
          >
            <div
              class="col-4 d-flex justify-content-center align-items-center route"
            >
              <i class="fa-solid fa-user fs-1"></i>
            </div>
            <div class="col-8">
              <p class="fs-4 m-0">Applicants</p>
              <h3 class="text-center">100</h3>
            </div>
          </a>
          <div class="col-auto py-2 bg-white">
            <a href="">Grade's Approval</a>
          </div>
          <div class="col-auto py-2 bg-white">
            <a href="">Enrollment Ledger</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
