<footer>
  <div class="foot1">
    <div class="container p-5">
      <div class="row">
        <div class="col-3">
          <img
            src="../../../assets/misc/homepage/20230425_063141.png"
            width="256"
          />
        </div>
        <div class="col-3 text-light">
          <p class="size">Andres Soriano Avenue, Mangagoy, Bislig City</p>
          <br />
          <a href="mailto:ascb@gmail.com" class="size text-light">
            ascb&#64;gmail.com
          </a>
          <br />
          <a href="#" class="size text-light">+63 912-3456-781</a>
          <br />

          <!-- placeholder contacts -->
          <br />
          <ul>
            <li>
              <a
                href="https://www.facebook.com/AndresSorianoCollege"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img src="../../../assets/misc/homepage/epbi.png" alt />
              </a>
            </li>
            <li>
              <a
                href="https://twitter.com/?lang=en"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img src="../../../assets/misc/homepage/twittw.png" alt />
              </a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/@andressorianocollegesofbis1214"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img src="../../../assets/misc/homepage/Youtube.png" alt />
              </a>
            </li>
          </ul>
        </div>
        <div class="col-3 text-light">
          <p class="size fs-4 fw-bold">Links</p>
          <div class="border-1 border-bottom linkBtn">
            <a
              routerLink="/home"
              routerLinkActive="active"
              class="size1 text-light list1"
              >Home</a
            >
          </div>
          <div class="pt-3 border-1 border-bottom linkBtn">
            <a href="" class="size1 text-light list1">About</a>
          </div>
          <div class="pt-3 border-1 border-bottom linkBtn">
            <a
              routerLink="/department-ui"
              routerLinkActive="active"
              class="size1 text-light list1"
              >Departments</a
            >
          </div>
          <div class="pt-3 border-1 border-bottom linkBtn">
            <a href="" class="size1 text-light list1">Gallery</a>
          </div>
          <div class="pt-3 border-1 border-bottom linkBtn">
            <a
              routerLink="/new/student"
              routerLinkActive="active"
              class="size1 text-light list1"
              >Enroll Now</a
            >
          </div>
        </div>
        <div class="col-3 text-light">
          <span class="flast fw-bolder">Andres Soriano Colleges of Bislig</span>
          <br />
          <br />
          <p class="size">
            Rising above Adversities through Faith, Resilience and Unity
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="foot2">
    <div class="container d-flex p-3">
      <div class="p-2 flex-grow-1 text-center">
        <span class="size text-light">
          © 2024 Andres Soriano Colleges of Bislig. All rights reserved.
        </span>
      </div>
    </div>
  </div>
</footer>
