.text-header {
    background-color: #0287AF;
}

.btnAddFees {
    background-color: #1E3050;
}

input[type=text], input[type=date], select {
    font-size: 1rem;
    width: 95%;
    padding: 10px 15px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
  }