<div class="container-dashboard">
  <app-registrar-sidebar></app-registrar-sidebar>
  <div class="main-content">
    <div class="fixed-background"></div>
    <app-registrar-navbar></app-registrar-navbar>
    <div class="container-fluid vh-100 applicants">
      <div class="bg-white w-100 rounded">
        <div class="text-start text-header rounded-top shadow w-100 py-2 ps-3">
          <h3 class="text-white fw-bold h5 m-0">Student Applicants</h3>
        </div>
        <div class="container py-3">
          <table
            id="example"
            #dataTable
            class="table table-striped"
            style="width:100%">
            <thead>
              <tr>
                <th>ID No.</th>
                <th>Name</th>
                <th>Course/Yr.</th>
                <th>Registration Fee</th>
                <th>Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>01234567835</td>
                <td>Roda, John Vincent E.</td>
                <td>BSCS/4th year</td>
                <td class="text-danger">Unpaid</td>
                <td>2011-01-25</td>
                <td
                  colspan="2"
                  class="d-flex justify-content-evenly">
                  <button class="btn btn-success btn-sm">Approve</button>
                  <button class="btn btn-danger btn-sm">Decline</button>
                </td>
              </tr>
              <tr>
                <td>01234567821</td>
                <td>Badang, James M.</td>
                <td>BSIT/4th year</td>
                <td class="text-success">Paid</td>
                <td>2011-06-27</td>
                <td
                  colspan="2"
                  class="d-flex justify-content-evenly">
                  <button class="btn btn-success btn-sm">Approve</button>
                  <button class="btn btn-danger btn-sm">Decline</button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
