<div class="container-dashboard">
  <app-registrar-sidebar></app-registrar-sidebar>
  <div class="main-content">
    <div class="fixed-background"></div>
    <app-registrar-navbar></app-registrar-navbar>
    <div class="container-fluid vh-100 enrolled">
      <!-- <div class="divider mb-4"></div> -->
      <div class="bg-white w-100 rounded">
        <div class="text-start text-header rounded-top shadow w-100 py-2 ps-3">
          <h3 class="text-white fw-bold h5 m-0">Pending Enrollees</h3>
        </div>
        <div class="container py-3">
          <div class="row">
            <div class="col-6 text-start">
              <label for="search" class="mx-1 mb-3"> Search: </label>
              <input
                type="search"
                aria-label="search"
                [(ngModel)]="filterObj.name"
                (input)="onSearchInputChange()"
                id="search"
              />
            </div>
            <div class="col-6 text-end">{{ this.total }} Total of Students</div>
          </div>
          <div class="table-responsive">
            <table
              id="example"
              class="table table-striped table-sm table-bordered align-middle text-center"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Course/Year</th>
                  <!-- <th>Registration</th> -->
                  <th>Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- Use ngIf to check if there are students -->
                <ng-container
                  *ngIf="students && students.length > 0; else noRecords"
                >
                  <!-- Iterate over students and display table rows -->
                  <tr *ngFor="let student of students">
                    <td>{{ student.id }}</td>
                    <td class="text-uppercase">
                      {{ student.lastname }}, {{ student.firstname }}
                      {{ student.middlename }}
                    </td>
                    <!-- <td class="text-uppercase">
                      {{ student.course }}
                    </td> -->
                    <td *ngIf="student.student_yr_lvl === '1'">
                      {{ student.course }}/1st Year
                    </td>
                    <td *ngIf="student.student_yr_lvl === '2'">
                      {{ student.course }}/2nd Year
                    </td>
                    <td *ngIf="student.student_yr_lvl === '3'">
                      {{ student.course }}/3rd Year
                    </td>
                    <td *ngIf="student.student_yr_lvl === '4'">
                      {{ student.course }}/4th Year
                    </td>
                    <td>08/20/2024</td>
                    <td>
                      <div
                        class="d-flex gap-2 align-item-center justify-content-center"
                      >
                        <!-- <button
                          [id]="student.id"
                          class="btn btn-success btn-sm text-center information"
                          (click)="approvestudent(student.acad_records_id)"
                        >
                          Approve
                        </button>
                        <button class="btn btn-sm btn-danger">Delete</button> -->
                        <p-button
                          icon="pi pi-eye"
                          (click)="
                            showDialogStud(
                              student.id,
                              student.lastname,
                              student.firstname,
                              student.middlename
                            )
                          "
                        ></p-button>
                      </div>
                    </td>
                  </tr>
                </ng-container>
                <!-- If no records are found, display a message -->
                <ng-template #noRecords>
                  <tr>
                    <td colspan="6" class="text-center">No Records Found</td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
            <div class="row table-under">
              <div class="d-flex justify-content-center">
                <div class="">
                  <nav aria-label="Page navigation example ">
                    <ul class="pagination">
                      <li
                        class="page-item"
                        (click)="onPrevious()"
                        [class.disabled]="filterObj.page === 1"
                      >
                        <a class="page-link" tabindex="-1" aria-disabled="true">
                          Previous
                        </a>
                      </li>
                      <li
                        class="page-item"
                        *ngFor="let pageNum of generatePageNumbers()"
                      >
                        <p
                          class="page-link"
                          (click)="goToPage(pageNum)"
                          [class.active]="pageNum === filterObj.page"
                        >
                          {{ pageNum }}
                        </p>
                      </li>

                      <li
                        class="page-item"
                        (click)="onNext()"
                        [class.disabled]="filterObj.page === totalPage"
                      >
                        <a class="page-link"> Next </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="opacity-0 my-3">space</p>
    </div>
  </div>
</div>

<p-dialog
  header="{{ displayname }}"
  [modal]="true"
  [(visible)]="viewstudinfos"
  [style]="{ width: '70rem' }"
  [maximizable]="true"
>
  <div class="container-fluid">
    <div *ngIf="studinfos" class="row">
      <div class="col-6 mb-3">
        <img
          *ngIf="!studinfos[0]['signature']"
          class="img-thumbnail"
          [src]="'assets/misc/homepage/default.png'"
          alt=""
        />
        <img
          *ngIf="studinfos[0]['signature']"
          class="img-thumbnail"
          [src]="
            'http://127.0.0.1:8000/images/user-profile/' +
            studinfos[0]['profile']
          "
          alt=""
          width="500"
        />
      </div>
      <div class="col-6 mb-3">
        <img
          *ngIf="studinfos[0]['signature']"
          class="img-thumbnail"
          alt=""
          [src]="studinfos[0]['signature']"
        />
        <img
          *ngIf="!studinfos[0]['signature']"
          class="img-thumbnail"
          [src]="'assets/misc/homepage/default.png'"
          alt=""
        />
      </div>

      <div class="col-lg-3 mb-2">
        <div class="flex flex-column">
          <label for="firstname">First Name</label>
          <input
            pInputText
            id="firstname"
            [value]="studinfos[0]['firstname']"
            [readOnly]="true"
          />
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div class="flex flex-column">
          <label for="lastname">Last Name</label>
          <input
            pInputText
            id="lastname"
            [value]="studinfos[0]['lastname']"
            [readOnly]="true"
          />
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div class="flex flex-column">
          <label for="middlename">Middle Name</label>
          <input
            pInputText
            id="middlename"
            class="text-capitalize"
            [value]="studinfos[0]['middlename']"
            [readOnly]="true"
          />
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div class="flex flex-column">
          <label for="suffix">Extension</label>
          <input
            pInputText
            id="suffix"
            class="text-capitalize"
            [value]="studinfos[0]['suffix']"
            [readOnly]="true"
          />
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div class="flex flex-column">
          <label for="gender">Gender</label>
          <input
            pInputText
            id="gender"
            class="text-capitalize"
            [value]="studinfos[0]['gender']"
            [readOnly]="true"
          />
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div class="flex flex-column">
          <label for="civil_status">Civil Status</label>
          <input
            pInputText
            id="civil_status"
            class="text-capitalize"
            [value]="studinfos[0]['civil_status']"
            [readOnly]="true"
          />
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div class="flex flex-column">
          <label for="citizenship">Citizenship</label>
          <input
            pInputText
            id="citizenship"
            class="text-capitalize"
            [value]="studinfos[0]['citizenship']"
            [readOnly]="true"
          />
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div class="flex flex-column">
          <label for="religion">Religion</label>
          <input
            pInputText
            id="religion"
            class="text-capitalize"
            [value]="studinfos[0]['religion']"
            [readOnly]="true"
          />
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div class="flex flex-column">
          <label for="contact_number">Contact Number</label>
          <input
            pInputText
            id="contact_number"
            class="text-capitalize"
            [value]="studinfos[0]['contact_number']"
            [readOnly]="true"
          />
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div class="flex flex-column">
          <label for="email">Email</label>
          <input
            pInputText
            id="email"
            [value]="studinfos[0]['email_address']"
            [readOnly]="true"
          />
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div class="flex flex-column">
          <label for="birthdate">Birth Date</label>
          <input
            pInputText
            id="religion"
            class="text-capitalize"
            [value]="studinfos[0]['birthdate'] | date : 'yyyy-MM-dd'"
            [readOnly]="true"
          />
        </div>
      </div>
      <div class="col-lg-3 mb-2">
        <div class="flex flex-column">
          <label for="birth_place">Birth Place</label>
          <input
            pInputText
            id="birth_place"
            class="text-capitalize"
            [value]="studinfos[0]['birth_place']"
            [style]="{ width: '100%' }"
            [readOnly]="true"
          />
        </div>
      </div>
      <div class="col-lg-6 mb-3">
        <div class="flex flex-column">
          <label for="Home">Home Address</label>
          <textarea
            id="Home"
            cols="50"
            rows="4"
            pInputTextarea
            [readOnly]="true"
            [style]="{ width: '100%' }"
            >{{ studinfos[0]["home_address"] }}</textarea
          >
        </div>
      </div>
      <div class="col-lg-6 mb-3">
        <div class="flex flex-column">
          <label for="Present">Present Address</label>
          <textarea
            id="Present"
            cols="50"
            rows="4"
            pInputTextarea
            [readOnly]="true"
            [style]="{ width: '100%' }"
            >{{ studinfos[0]["present_address"] }}</textarea
          >
        </div>
      </div>
      <hr />
      <h3>Education</h3>
      <div class="col-lg-4 mb-3">
        <p-card header="Elementary">
          <div class="flex flex-column mb-3">
            <label for="elem_school">School Name</label>
            <input
              pInputText
              id="elem_school"
              class="text-capitalize"
              [value]="studinfos[0]['elem_school']"
              [style]="{ width: '100%' }"
              [readOnly]="true"
            />
          </div>
          <div class="flex flex-column mb-3">
            <label for="elem_yrgrad">Year Graduated</label>
            <input
              pInputText
              id="elem_yrgrad"
              class="text-capitalize"
              [value]="studinfos[0]['elem_yr']"
              [style]="{ width: '100%' }"
              [readOnly]="true"
            />
          </div>
        </p-card>
      </div>
      <div class="col-lg-4 mb-3">
        <p-card header="Junior HighSchool">
          <div class="flex flex-column mb-3">
            <label for="jhs_school">School Name</label>
            <input
              pInputText
              id="jhs_school"
              class="text-capitalize"
              [value]="studinfos[0]['jhs_school']"
              [style]="{ width: '100%' }"
              [readOnly]="true"
            />
          </div>
          <div class="flex flex-column mb-3">
            <label for="jhs_yrgrad">Year Graduated</label>
            <input
              pInputText
              id="jhs_yrgrad"
              class="text-capitalize"
              [value]="studinfos[0]['jhs_yr']"
              [style]="{ width: '100%' }"
              [readOnly]="true"
            />
          </div>
        </p-card>
      </div>
      <div class="col-lg-4 mb-3">
        <p-card header="Senior HighSchool">
          <div class="flex flex-column mb-3">
            <label for="shs_school">School Name</label>
            <input
              pInputText
              id="shs_school"
              class="text-capitalize"
              [value]="studinfos[0]['shs_school']"
              [style]="{ width: '100%' }"
              [readOnly]="true"
            />
          </div>
          <div class="flex flex-column mb-3">
            <label for="shs_yrgrad">Year Graduated</label>
            <input
              pInputText
              id="shs_yrgrad"
              class="text-capitalize"
              [value]="studinfos[0]['shs_yr']"
              [style]="{ width: '100%' }"
              [readOnly]="true"
            />
          </div>
        </p-card>
      </div>
      <div class="col-lg-6 mb-3">
        <div class="flex flex-column">
          <label for="lastschoolattended">Last School Attended</label>
          <input
            pInputText
            id="lastschoolattended"
            class="text-capitalize"
            [value]="studinfos[0]['last_school']"
            [style]="{ width: '100%' }"
            [readOnly]="true"
          />
        </div>
      </div>
      <div class="col-lg-6 mb-3">
        <div class="flex flex-column">
          <label for="Last School Year Attended">Last School Year</label>
          <input
            pInputText
            id="Last School Year Attended"
            class="text-capitalize"
            [value]="studinfos[0]['last_school_year']"
            [style]="{ width: '100%' }"
            [readOnly]="true"
          />
        </div>
      </div>
      <hr />
      <h3>Parent/Guardian&apos;s Information</h3>
      <div class="col-lg-12 mb-3">
        <p-card header="Father's Information">
          <div class="row">
            <div class="col-lg-6">
              <div class="flex flex-column mb-3">
                <label for="f_name">Father&apos;s Name</label>
                <input
                  pInputText
                  id="f_name"
                  class="text-capitalize"
                  [value]="studinfos[0]['father_name']"
                  [style]="{ width: '100%' }"
                  [readOnly]="true"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="flex flex-column mb-3">
                <label for="employed_where">If Employed? Where?</label>
                <input
                  pInputText
                  id="employed_where"
                  class="text-capitalize"
                  [value]="studinfos[0]['father_employed']"
                  [style]="{ width: '100%' }"
                  [readOnly]="true"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="flex flex-column mb-3">
                <label for="occupation">Occupation</label>
                <input
                  pInputText
                  id="occupation"
                  class="text-capitalize"
                  [value]="studinfos[0]['father_occupation']"
                  [style]="{ width: '100%' }"
                  [readOnly]="true"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="flex flex-column mb-3">
                <label for="f_number">Mobile Number</label>
                <input
                  pInputText
                  id="f_number"
                  class="text-capitalize"
                  [value]="studinfos[0]['father_contact']"
                  [style]="{ width: '100%' }"
                  [readOnly]="true"
                />
              </div>
            </div>
          </div>
        </p-card>
      </div>
      <div class="col-lg-12 mb-3">
        <p-card header="Mother's Information">
          <div class="row">
            <div class="col-lg-6">
              <div class="flex flex-column mb-3">
                <label for="m_name">Mother&apos;s Maiden Name</label>
                <input
                  pInputText
                  id="m_name"
                  class="text-capitalize"
                  [value]="studinfos[0]['mother_name']"
                  [style]="{ width: '100%' }"
                  [readOnly]="true"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="flex flex-column mb-3">
                <label for="m_employed_where">If Employed? Where?</label>
                <input
                  pInputText
                  id="m_employed_where"
                  class="text-capitalize"
                  [value]="studinfos[0]['mother_employed']"
                  [style]="{ width: '100%' }"
                  [readOnly]="true"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="flex flex-column mb-3">
                <label for="m_occupation">Occupation</label>
                <input
                  pInputText
                  id="m_occupation"
                  class="text-capitalize"
                  [value]="studinfos[0]['mother_occupation']"
                  [style]="{ width: '100%' }"
                  [readOnly]="true"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="flex flex-column mb-3">
                <label for="m_number">Mobile Number</label>
                <input
                  pInputText
                  id="m_number"
                  class="text-capitalize"
                  [value]="studinfos[0]['mother_contact']"
                  [style]="{ width: '100%' }"
                  [readOnly]="true"
                />
              </div>
            </div>
          </div>
        </p-card>
      </div>
      <div class="col-lg-12 mb-3">
        <p-card header="Guardian's Information">
          <div class="row">
            <div class="col-lg-6">
              <div class="flex flex-column mb-3">
                <label for="g_name">Guardian&apos;s Name</label>
                <input
                  pInputText
                  id="g_name"
                  class="text-capitalize"
                  [value]="studinfos[0]['guardian_name']"
                  [style]="{ width: '100%' }"
                  [readOnly]="true"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="flex flex-column mb-3">
                <label for="g_employed_where">If Employed? Where?</label>
                <input
                  pInputText
                  id="g_employed_where"
                  class="text-capitalize"
                  [value]="studinfos[0]['guardian_employed']"
                  [style]="{ width: '100%' }"
                  [readOnly]="true"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="flex flex-column mb-3">
                <label for="g_occupation">Occupation</label>
                <input
                  pInputText
                  id="g_occupation"
                  class="text-capitalize"
                  [value]="studinfos[0]['guardian_occupation']"
                  [style]="{ width: '100%' }"
                  [readOnly]="true"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="flex flex-column mb-3">
                <label for="g_number">Mobile Number</label>
                <input
                  pInputText
                  id="g_number"
                  class="text-capitalize"
                  [value]="studinfos[0]['guardian_contact']"
                  [style]="{ width: '100%' }"
                  [readOnly]="true"
                />
              </div>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</p-dialog>
