<div class="container-fluid p-0 vh-100" id="home">
  <app-headnavagation></app-headnavagation>
  <div class="mw-100 text-center my-3">
    <img
      src="../../../assets/misc/ascb_logo.png"
      class="img-responsive mt-3 mw-100"
      alt="ascb_logo"
    />
  </div>
  <div class="row mw-100 text-center">
    <div class="col-12">
      <a
        routerLink="/enroll-tesda"
        class="btn btn-primary mt-5 link-offset-2 link-underline link-underline-opacity-0 text-white w-50 p-1"
        ><p class="h3 fw-bold">Enroll TESDA</p></a
      >
    </div>
    <div class="col-12">
      <a
        href=""
        class="btn btn-primary mt-4 link-offset-2 link-underline link-underline-opacity-0 text-white w-50 p-1"
        ><p class="h3 fw-bold">Enroll SHS</p></a
      >
    </div>
    <div class="col-12">
      <a
        href=""
        class="btn btn-primary mt-4 link-offset-2 link-underline link-underline-opacity-0 text-white w-50 p-1"
        ><p class="h3 fw-bold">Enroll College</p></a
      >
    </div>
    <div class="col-12">
      <a
        href=""
        class="btn btn-primary mt-4 link-offset-2 link-underline link-underline-opacity-0 text-white w-50 p-1"
        ><p class="h3 fw-bold">Graduate Studies</p></a
      >
    </div>
  </div>
</div>
