#home {
  background-image: url("../../../assets/misc/logo_background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  filter: contrast(90%);
}

.col-12 a {
  border: none;
  box-shadow: 0px 5px 10px #00000073;
}
