<app-headnavagation></app-headnavagation>
<div
  class="container-fluid"
  id="home">
  <div class="row vh-100">
    <div class="col-4 side-content d-flex justify-content-center align-items-center flex-column">
      <div class="mw-100 text-center">
        <img
          src="../../../assets/misc/ascb_logo.png"
          class="img-responsive mt-3 mw-100"
          alt="ascb_logo">
      </div>
      <div class="my-4">
        <p class="fs-5 mx-4">
          Every Andres strives for (A)cademic excellence with a heart for (S)ervice to community; a (C)atalyst for Change and at all times (B)enevolent and compassionate.
        </p>
      </div>
      <div>
        <p class="btn btn-primary h3 fw-bold fs-5 opacity-100">Be Part of Andres</p>
      </div>
    </div>
    <div class="col-8 row my-auto">
      <div class="col-6 text-center my-3">
        <a
          routerLink="/login"
          class="btn btn-primary fw-bold fs-4 shadow-xl">
          Old Student
        </a>
      </div>
      <div class="col-6 text-center my-3">
        <a
          routerLink="/new/student"
          class="btn btn-primary fw-bold fs-4 shadow-xl">
          New Student
        </a>
      </div>
    </div>
  </div>
</div>
