<div class="container-dashboard">
  <app-accounting-sidebar></app-accounting-sidebar>
  <div class="main-content">
    <div class="fixed-background"></div>
    <app-accounting-navbar></app-accounting-navbar>
    <p-toast></p-toast>
    <div
      class="container-fluid vh-100 d-flex justify-content-center align-items-center flex-column"
    >
      <!-- <div class="divider mb-4"></div> -->
      <div *ngIf="studentLedg" class="contentab bg-white rounded">
        <div
          class="text-header shadow w-100 py-2 ps-3 d-flex justify-content-between text-capitalize"
        >
          <div class="row w-100">
            <div class="col">
              <h3 class="text-white fw-bold fs-3">
                {{ studentLedg.studname }}
              </h3>
              <p class="text-white">
                <i class="fa-solid fa-user me-2"></i
                >{{ studentLedg.student_status }}
              </p>
            </div>
            <div class="col d-flex justify-content-end align-items-end">
              <button class="btn btn-primary">Daily Collection Report</button>
              <!-- <p-button
                class="mx-2"
                (click)="
                  showpayHistory(studentLedg.studname, studentLedg.stud_id)
                "
              >
                Payment History
              </p-button> -->
            </div>
          </div>
        </div>
        <div class="container my-4">
          <p-table
            [rowHover]="true"
            [value]="receiptform"
            styleClass="p-datatable-striped"
            class="text-capitalize"
            [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Acknowledge No.</th>
                <th>Mode of Payment</th>
                <th>Semester/School Yr.</th>
                <th>Amount</th>
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td>{{ data.ack_no }}</td>
                <td>{{ data.mop }}</td>
                <td>{{ data.trimester }}</td>
                <td>{{ data.amount }}</td>
                <td>
                  <p-button label="View"></p-button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td class="p-4 text-center" colspan="7">No Data Found.</td>
              </tr>
            </ng-template>
            <!-- <ng-template pTemplate="footer">
                  <tr>
                    <td>Total:</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Tuition Fees:</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Additional Fees:</td>
                    <td>{{ studentLedg.total_addtionalfee }}</td>
                  </tr>
                </ng-template> -->
          </p-table>
        </div>
      </div>
      <div class="printBox bg-white fs-3 my-2 p-2 rounded-circle shadow">
        <a data-bs-toggle="modal" data-bs-target="#printModal">
          <i class="fa-solid fa-print"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Payment History"
  [modal]="true"
  [maximizable]="true"
  appendTo="body"
  [(visible)]="payHistoryDialog"
  [style]="{ width: '75vw' }"
  [contentStyle]="{ height: '500px' }"
>
  <p-table
    [scrollable]="true"
    [value]="studentTranac"
    scrollHeight="flex"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>OR No.</th>
        <th>Mode of Payment</th>
        <th>Amount Paid</th>
        <th>Posting Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-stud>
      <tr>
        <td>{{ stud.receiptNo }}</td>
        <td>{{ stud.mop }}</td>
        <td>{{ stud.paidAmount }}</td>
        <td>{{ stud.date }}</td>
        <td>{{ stud.status }}</td>
        <td>
          <p-button
            icon="pi pi-eye"
            (click)="showfees(stud.studledger_id)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>

<p-dialog
  header="Breakdown Fees"
  [modal]="true"
  [maximizable]="true"
  appendTo="body"
  [(visible)]="showbreakdownDialog"
  [style]="{ width: '70vw' }"
  [contentStyle]="{ height: '450px' }"
>
  <div class="row">
    <div class="col-4">
      <label for="semester">Semester:</label>
      <input type="text" placeholder="2nd Trimester" id="semester" />
    </div>
    <div class="col-4">
      <label for="schoolyr">School Yr:</label>
      <input type="text" placeholder="A.Y 2023-2024" id="schoolyr" />
    </div>
  </div>
  <p-divider></p-divider>
  <p class="fw-bold">Breakdown Fees</p>
  <p-table
    [scrollable]="true"
    scrollHeight="flex"
    [value]="feesbreakdown"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Breakdown Fees</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-datas>
      <tr>
        <td>{{ datas.feesbreak }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
