<div
  class="container-fluid p-0 mw-100 vh-100 d-flex justify-content-center align-items-center"
  id="student-reset"
>
  <div
    class="p-3 bg-light mx-auto container-fluid p-2 bg-opacity-75 rounded-4 login-bg"
  >
    <div class="asclogo text-center">
      <img
        src="../../../assets/misc/ascb_logo.png"
        alt=""
        class="img-responsive"
      />
    </div>
    <div class="text-center">
      <h3 class="h4 mt-2">Reset Password</h3>
      <p class="text-wrap reset mb-0">
        In an effort to secure your personal information, please provide us with
        the following details.
      </p>
      <form action="">
        <div>
          <label for="username" class="form-label"></label>
          <input
            type="text"
            class="form-control fw-bold mx-auto py-2 shadow-xl"
            name="username"
            id="username"
            placeholder="USERNAME"
          />
        </div>
        <div>
          <label for="birthdate" class="form-label"></label>
          <input
            type="date"
            class="form-control fw-bold mx-auto py-2 shadow-xl"
            name="birthdate"
            id="birthdate"
            placeholder="BIRTHDATE"
          />
        </div>
        <div class="mt-4 text-center">
          <button
            type="submit"
            class="btn btn-primary fw-bold p-2 w-50 login-button"
          >
            Send Request
          </button>
        </div>
      </form>
    </div>
    <p class="text-center mt-3 mx-5">
      <a
        routerLink="/forgot-password"
        class="fw-normal text-primary link-offset-2 link-underline link-underline-opacity-0"
        >Back</a
      >
    </p>
  </div>
</div>
