<div class="container-dashboard">
  <app-registrar-sidebar></app-registrar-sidebar>
  <div class="main-content">
    <div class="fixed-background"></div>
    <app-registrar-navbar></app-registrar-navbar>
    <div class="container-fluid vh-100 enrolled">
      <!-- <div class="divider mb-4"></div> -->
      <div class="bg-white w-100 rounded">
        <div class="text-start text-header rounded-top shadow w-100 py-2 ps-3">
          <h3 class="text-white fw-bold h5 m-0">Enrolled Students</h3>
        </div>
        <div class="container py-3">
          <table
            id="example"
            #dataTable
            class="table table-striped"
            style="width:100%">
            <thead>
              <tr>
                <th>ID No.</th>
                <th>Name</th>
                <th>Course/Yr.</th>
                <th>Gender</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>01234567821</td>
                <td>Badang, James M.</td>
                <td>BSIT/4th year</td>
                <td>Male</td>
                <td>Continuing</td>
                <td colspan="2">
                  <button
                    class="btn btn-secondary btn-sm text-center"
                    data-bs-toggle="modal"
                    data-bs-target="#studView">
                    View
                  </button>
                </td>
              </tr>
              <tr>
                <td>01234567835</td>
                <td>Roda, John Vincent E.</td>
                <td>BSCS/4th year</td>
                <td>Female</td>
                <td>Continuing</td>
                <td colspan="2">
                  <button
                    class="btn btn-secondary btn-sm text-center"
                    data-bs-toggle="modal"
                    data-bs-target="#studView">
                    View
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-student-info></app-student-info>
