<app-headnavagation></app-headnavagation>

<main>
  <div class="hero text-center text-light shadow p-5 mt-lg-5 mt-md-5 mt-3">
    <h1>DEPARTMENTS</h1>
    <p>SENIOR HIGHSCHOOL</p>
  </div>
  <div class="container whole">
    <div class="list1 row container">
      <div class="col-lg-3 col-md-12 col-12 my-3 text-center">
        <p class="fw-bolder desc text-light rounded-top">
          STAFF AND ADMINISTRATION
        </p>
        <div class="row">
          <p class="fw-bold">PRINCIPAL</p>
          <div class="col-lg-12 dean">
            <img
              src="../../../../assets/misc/genesys-default-pfp.png"
              alt="staff profile"
              width="100"
            />
            <p class="fw-bold pt-3">
              Anrey G. Antiquina, Ph.D <br />
              <span class="state">Principal, Senior Highshool</span>
            </p>
          </div>
          <p class="fw-bold">TEACHERS</p>
          <div class="profs">
            <div class="container">
              <div class="d-flex flex-wrap justify-content-evenly">
                <div class="p-2 float-end">
                  <img
                    class="deptCard"
                    src="../../../../assets/misc/genesys-default-pfp.png"
                    alt="staff profile"
                    width="100"
                  />
                  <p class="fw-bold pt-3">
                    ... <br />
                    <span class="state"></span>
                  </p>
                </div>
                <div class="p-2 float-end">
                  <img
                    class="deptCard"
                    src="../../../../assets/misc/genesys-default-pfp.png"
                    alt="staff profile"
                    width="100"
                  />
                  <p class="fw-bold pt-3">
                    ... <br />
                    <span class="state"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="deptCard border border-3 rounded-3 my-3 col-lg-9 col-md-12 col-12 align-items-center"
      >
        <div class="face d-flex justify-content-center">
          <img
            src="../../../../assets/misc/homepage/genesys-departments-shs.png"
            alt="senior&dash;high logo"
            width="200"
          />
        </div>
        <hr />
        <div class="container px-3">
          <h3 class="about sRespo">Senior Highshool Department</h3>
          <hr />
          <p class="desc p-1 px-3 text-light mt-3">STRANDS OFFERED</p>
          <div class="program px-3">
            <div class="state">
              <ul>
                <li class="">
                  <span class="fw-bold"
                    >Science, Technology, Engineering &amp; Mathematics
                    &lpar;STEM&rpar;</span
                  >
                  <p class="ps-lg-3 ps-md-3 ps-0">
                    The STEM strand in senior high school introduces students to
                    advanced mathematical and scientific theories and concepts,
                    laying the groundwork for their future college studies.
                  </p>
                </li>
                <li class="">
                  <span class="fw-bold"
                    >Humanities and Social Sciences &lpar;HUMMS&rpar;</span
                  >
                  <p class="ps-lg-3 ps-md-3 ps-0">
                    This academic strand embraces a diverse array of disciplines
                    aimed at exploring the complexities of human conditions. It
                    engages students in the exploration and investigation of
                    human behavior and societal changes using empirical,
                    analytical, and critical methodologies.
                  </p>
                </li>
                <li class="">
                  <span class="fw-bold"
                    >General Academics Strand &lpar;GAS&rpar;</span
                  >
                  <p class="ps-lg-3 ps-md-3 ps-0">
                    A strand that takes a general approach to prepare students
                    for university life. Students can expect to tackle different
                    disciplines. This can cover various subjects and topics such
                    as Humanities, Management, Social Sciences, and even
                    Organization.
                  </p>
                </li>
                <li class="">
                  <span class="fw-bold"
                    >Accountancy Business and Management&lpar;ABM&rpar;</span
                  >
                  <p class="ps-lg-3 ps-md-3 ps-0">
                    The strand paves a way for students in taking up a Business
                    Administration degree. It focuses on teaching them the
                    basics of financial management, project management,
                    marketing, human resources, modern management trends,
                    organizational behavior, and more.
                  </p>
                </li>
                <li class="">
                  <span class="fw-bold"
                    >Shielded Metal Arc Welding&lpar;SMAW&rpar;</span
                  >
                  <p class="ps-lg-3 ps-md-3 ps-0">
                    A technical Diploma program provides a solid foundation in
                    process-specific production welding technology.
                  </p>
                </li>
                <li class="">
                  <span class="fw-bold"
                    >Information Communication Technology&lpar;ICT&rpar;</span
                  >
                  <p class="ps-lg-3 ps-md-3 ps-0">
                    A strand that equips you with advanced skills in computer
                    systems, programming, creating web pages, and basic
                    animation.
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <p class="desc p-1 px-3 text-light mt-3">
            <a routerLink="/dept-ui01" href="#"> SEE OTHER DEPARTMENTS </a>
          </p>
          <div class="others px-3">
            <ul>
              <li>
                <a routerLink="/dept-cbae" href="#"
                  >College of Business Accountancy Education</a
                >
              </li>
              <li>
                <a routerLink="/dept-cce" href="#"
                  >College of Computer Education</a
                >
              </li>
              <li>
                <a routerLink="/dept-ccje" href="#"
                  >College of Business Criminal Justice Education</a
                >
              </li>
              <li>
                <a routerLink="/dept-cte" href="#"
                  >College of Teacher Education</a
                >
              </li>
              <li>
                <a routerLink="/dept-elementary" href="#">Elementary</a>
              </li>
              <li>
                <a routerLink="/dept-jhs" href="#">Junior Highschool</a>
              </li>
              <li>
                <a routerLink="/dept-tvet" href="#">TVET Department</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footernavigation></app-footernavigation>
