<nav class="navbar fixed-top nav-student d-lg-block d-none">
  <div class="container-fluid">
    <div class="mw-100 text-center ps-1">
      <img
        src="../../../../assets/misc/ascb_logo.png"
        alt="ASCB logo"
        width="45"
      />
      <span class="nav-text mt-1 ps-2">Andres Soriano Colleges of Bislig</span>
    </div>
    <div class="d-flex align-items-center">
      <div class="dropdown">
        <button
          type="button"
          class="btn header-item noti-icon waves-effect"
          id="page-header-notifications-dropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa-solid fa-bell fs-4"></i>
          <span class="noti-dot"></span>
        </button>

        <div class="dropdown-menu noti-list">
          <div class="w-75 d-flex justify-content-center flex-column mx-auto">
            <h3 class="fs-6">Notifications</h3>
            <a class="text-dark text-decoration-none" href>View More...</a>
          </div>
        </div>
      </div>
      <div>
        <i class="fa-solid fa-message fs-4 mx-3"></i>
      </div>
    </div>
  </div>
</nav>
