<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="container-fluid containerTab">
  <!-- <div class="divider mb-4"></div> -->
  <div class="contentTab mb-3 bg-white w-100 rounded">
    <div class="text-start text-header rounded-top shadow w-100 py-2 ps-3">
      <h3 class="text-white fw-bold">Expenses Category</h3>
    </div>
    <div class="d-flex justify-content-between align-items-center p-3">
      <div class="W-100">
        <p-button
          (click)="showDialog()"
          icon="pi pi-plus"
          severity="success"
          class="mx-2"
          label="New Category"
        >
        </p-button>
        <span class="p-input-icon-left me-2">
          <i class="pi pi-search"></i>
          <input
            type="text"
            pInputText
            placeholder="Search keyword"
            (input)="filterInput($event)"
          />
        </span>
        <!-- <p-multiSelect
          [options]="selectFilter"
          optionLabel="itemname"
          placeholder="Add Filter"
          display="chip"
          [filter]="true"
          [showClear]="true"
          [(ngModel)]="selectedFilters"
          (ngModelChange)="filterData()"
          [style]="{ width: '60%' }"
        ></p-multiSelect> -->
      </div>
      <p-button
        class="p-button-danger"
        icon="pi pi-trash"
        severity="warning"
        [disabled]="selectedItems.length === 0"
        (click)="deleteSelectedItems($event)"
      ></p-button>
    </div>

    <div class="container my-2">
      <p-table
        #dt
        [rowHover]="true"
        [value]="categorylist"
        selectionMode="multiple"
        [(selection)]="selectedItems"
        styleClass="p-datatable-striped p-datatable-sm"
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="itemname" style="width: 30%">
              Category Name <p-sortIcon field="itemname"></p-sortIcon>
            </th>
            <th style="width: 30%">School Year</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>
              <p-tableCheckbox [value]="item"></p-tableCheckbox>
            </td>
            <td>{{ item.category_name }}</td>
            <td>{{ item.semyear }}</td>
            <td>
              <p-button
                severity="warn"
                (click)="addItembtn(item.categ_id, item.category_name)"
              >
                <i class="fa-solid fa-plus"></i>
              </p-button>
              <p-button class="m-2" (click)="showDetailitem(item.categ_id)">
                <i class="fa-solid fa-eye"></i>
              </p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>


<!-- view item fees -->
<p-dialog header="{{ displayedGroupName }}" [(visible)]="showFeesDetails">
  <p-table
    #dt
    [rowHover]="true"
    [value]="itemfeesList"
    selectionMode="multiple"
    styleClass="p-datatable-striped p-datatable-sm"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="itemname" style="width: 20%">Item Name</th>
        <th pSortableColumn="itemgroup" style="width: 20%">Amount</th>
        <th pSortableColumn="itemgroup" style="width: 20%">Increase</th>
        <th pSortableColumn="itemgroup" style="width: 20%">Percent (%)</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-fees>
      <tr>
        <td>
          <p-tableCheckbox [value]="fees"></p-tableCheckbox>
        </td>
        <td>{{ fees.item_name }}</td>
        <td>{{ fees.amount }}</td>
        <td>{{ fees.increase }}</td>
        <td>{{ fees.percent }}</td>
        <td>
          <p-button icon="pi pi-pen-to-square"></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="2">Sub Total:</td>
        <td>₱{{ totalamount }}.00</td>
        <td>₱{{ totalincrease }}.00</td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>

<!-- add items by rows -->
<p-dialog
  header="Add Item Fees"
  [(visible)]="showaddFeesForm"
  [style]="{ width: '80vw' }"
>
  <div class="d-flex justify-content-between align-items-center">
    <p class="fw-bold">Group Name: {{ displayedGroupName }}</p>
    <button pButton pRipple icon="pi pi-plus" type="button" (click)="addRow(1)">
      Row
    </button>
  </div>
  <form (ngSubmit)="saveFeesData()">
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Amount</th>
          <th>Increase</th>
          <th>Percent</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows1">
          <td>
            <input
              [(ngModel)]="row.item_name"
              [ngModelOptions]="{ standalone: true }"
              type="text"
              pInputText
            />
          </td>
          <td>
            <input
              [(ngModel)]="row.amount"
              [ngModelOptions]="{ standalone: true }"
              type="number"
              pInputText
            />
          </td>
          <td>
            <input
              [(ngModel)]="row.increase"
              [ngModelOptions]="{ standalone: true }"
              type="number"
              pInputText
            />
          </td>
          <td>
            <input
              [(ngModel)]="row.percent"
              [ngModelOptions]="{ standalone: true }"
              type="number"
              pInputText
            />
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <p-button type="submit" label="Submit Fees"></p-button>
    </div>
  </form>
</p-dialog>

<!-- view group modal and add item -->
<p-dialog
  header="Category: {{ displayedCategoryName }}"
  [modal]="true"
  [(visible)]="showDetails"
  [style]="{ width: '50%' }"
>
  <p class="fw-bold text-start">
    Semester: <span [textContent]="activeyr"></span>
  </p>
  <p-table
    [rowHover]="true"
    [value]="matrigroups"
    styleClass="p-datatable-striped p-datatable-sm"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Group Name</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-matritems>
      <tr>
        <td>{{ matritems.group_name }}</td>
        <td>
          <p-button
            icon="pi pi-plus"
            class="mx-2"
            label="Add Fees"
            (click)="additemfeesbtn(matritems.groupid, matritems.group_name)"
          ></p-button>
          <p-button
            icon="pi pi-eye"
            (click)="viewitemfeesbtn(matritems.groupid, matritems.group_name)"
            label="List Fees"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>

<!-- Add category -->
<p-dialog
  header="ADD CATEGORY"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '40%' }"
>
  <p class="fw-bold text-start">
    Semester: <span [textContent]="activeyr"></span>
  </p>
  <form
    class="px-1 d-flex justify-content-center align-items-center flex-column"
    [formGroup]="addCategoryForm"
    (ngSubmit)="submitCategory()"
  >
    <div class="inputGroup w-100">
      <input
        type="hidden"
        formControlName="semesteryr"
        id="syschool"
        [value]="semester"
      />
      <div class="my-4">
        <label for="category_name">Category Name:</label>
        <input
          pInputText
          type="text"
          class="ms-2"
          id="category_name"
          formControlName="category_name"
        />
      </div>
    </div>
    <button
      pButton
      pRipple
      type="submit"
      class="p-button-success"
      label="Save changes"
    ></button>
  </form>
</p-dialog>

<!-- add Group item -->
<p-dialog
  header="Add Group for {{ displayedItemName }} Category"
  [modal]="true"
  [style]="{ width: '30%' }"
  [(visible)]="itemModal"
>
  <form
    class="px-1 d-flex justify-content-center align-items-center flex-column"
    [formGroup]="addItemForm"
    (ngSubmit)="submitItems()"
  >
    <div class="inputGroup w-100">
      <div class="my-3">
        <label for="itemGroup">Item Group:</label>
        <input
          pInputText
          type="text"
          class="ms-2"
          id="itemGroup"
          name="itemGroup"
          formControlName="itemGroup"
        />
      </div>
    </div>
    <button
      pButton
      pRipple
      type="submit"
      class="p-button-success"
      label="Save changes"
    ></button>
  </form>
</p-dialog>
