<div
  class="d-lg-flex d-none flex-column flex-shrink-0 p-3 vh-100 position-fixed border-4 sidebar-content"
  style="width: 20%"
>
  <div class="text-center">
    <a href="">
      <img
        src="../../../../assets/misc/ascb_logo.png"
        alt=""
        width="50"
        class="mx-auto"
      />
    </a>
  </div>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        class="nav-link mb-3"
        routerLink="/maed/home"
        routerLinkActive="active"
      >
        <i class="pi pi-home mx-2 pi-user-edit"></i>
        <!-- <i class=" fa-solid fa-house"></i> -->
        Home
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link mb-3"
        routerLink="/maed/information"
        routerLinkActive="active"
      >
        <i class="pi mx-2 pi-user-edit"></i>
        Information
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link mb-3"
        routerLink="/maed/academics"
        routerLinkActive="active"
      >
        <i class="mx-2 pi pi-file"></i>
        Grade Evaluation
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link mb-3"
        routerLink="/maed/finance"
        routerLinkActive="active"
      >
        <i class="mx-2 pi pi-dollar"></i>
        Financial Record
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link mb-3"
        routerLink="/maed/prospectus"
        routerLinkActive="active"
      >
        <i class="mx-2 pi pi-bars"></i>
        Prospectus
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link mb-3"
        routerLink="/maed/courses"
        routerLinkActive="active"
      >
        <i class="mx-2 pi pi-book"></i>
        Course Offerings
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link mb-3"
        routerLink="/maed/enrollment"
        routerLinkActive="active"
      >
        <i class="mx-2 pi pi-list"></i>
        Enrollment
      </a>
    </li>
  </ul>
  <hr />
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center text-decoration-none dropdown-toggle"
      id="dropdownUser2"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="https://github.com/mdo.png"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong>mdo</strong>
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
      <li>
        <a
          class="dropdown-item"
          routerLink="/maed/update-information"
          routerLinkActive="active"
          >Update Information</a
        >
      </li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>
