<div class="container-dashboard">
  <app-student-sidebar></app-student-sidebar>
  <div class="main-content">
    <div class="fixed-background"></div>
    <app-student-navbar></app-student-navbar>
    <div class="container-fluid content mb-5">
      <div class="bg-white rounded">
        <div class="bg-secondary rounded-top py-3">
          <div class="text-center">
            <a
              class="text-white text-uppercase fs-5 text-decoration-none student-info"
              routerLink="/student-dashboard-information"
            >
              Student Information
            </a>
          </div>
        </div>
        <form (ngSubmit)="onEdit()" method="post">
          <div class="row mt-3 p-3">
            <div class="col-4">
              <div class="mb-3 input-holder">
                <label for="first_name" class="form-label"> First Name </label>
                <input
                  type="text"
                  name="first_name"
                  id="first_name"
                  [value]="this.studentdata[0].firstname"
                  required
                />
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3 input-holder">
                <label for="middle_name" class="form-label">
                  Middle Name
                </label>
                <input
                  type="text"
                  name="middle_name"
                  id="middle_name"
                  [value]="this.studentdata[0]['middlename']"
                  value
                  required
                />
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3 input-holder">
                <label for="last_name" class="form-label"> Last Name </label>
                <input
                  type="text"
                  name="last_name"
                  [value]="this.studentdata[0]['lastname']"
                  id="last_name"
                  required
                />
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3 input-holder">
                <label for="suffix" class="form-label"> Suffix </label>
                <input
                  type="text"
                  [value]="this.studentdata[0]['suffix']"
                  name="suffix"
                  id="suffix"
                  value
                  required
                />
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3 input-holder">
                <label for="gender" class="form-label"> Gender </label>
                <select
                  name="gender"
                  id="gender"
                  [value]="this.studentdata[0]['gender']"
                  required
                >
                  <option value disabled selected>Please Select Gender</option>
                  <option value="male" id="male">Male</option>
                  <option value="female" id="female">Female</option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3 input-holder">
                <label for="civil_status" class="form-label">
                  Civil Status
                </label>
                <select
                  name="civil_status"
                  id="civil_status"
                  [value]="this.studentdata[0]['civil_status']"
                  required
                >
                  <option value disabled selected>
                    Please Select Civil Status
                  </option>
                  <option value="single">Single</option>
                  <option value="married">Married</option>
                  <option value="widowed">Widowed</option>
                  <option value="divorced">Divorced</option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3 input-holder">
                <label for="birth_date" class="form-label"> Birthdate </label>
                <input
                  type="date"
                  name="birth_date"
                  id="birth_date"
                  [value]="this.studentdata[0]['birthdate']"
                  value
                  required
                />
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3 input-holder">
                <label for="birth_place" class="form-label">
                  Place of Birth
                </label>
                <input
                  type="text"
                  name="birth_place"
                  id="birth_place"
                  [value]="this.studentdata[0]['birth_place']"
                  value
                  required
                />
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3 input-holder">
                <label for="religion" class="form-label"> Religion </label>
                <input
                  type="text"
                  name="religion"
                  id="religion"
                  [value]="this.studentdata[0]['religion']"
                  value
                  required
                />
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3 input-holder">
                <label for="contact_number" class="form-label">
                  Contact Number
                </label>
                <input
                  type="tel"
                  pattern="[0-9]{11}"
                  name="contact_number"
                  id="contact_number"
                  [value]="this.studentdata[0]['contact_number']"
                  value
                  required
                />
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3 input-holder">
                <label for="email" class="form-label"> Email </label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  [value]="this.studentdata[0]['email_address']"
                  value
                  required
                />
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3 input-holder">
                <label for="citizenship" class="form-label">
                  Citizenship
                </label>
                <input
                  type="text"
                  name="citizenship"
                  id="citizenship"
                  [value]="this.studentdata[0]['citizenship']"
                  value
                  required
                />
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3 input-holder">
                <label for="home_address" class="form-label">
                  Home Address
                </label>
                <input
                  type="text"
                  name="home_address"
                  [value]="this.studentdata[0]['home_address']"
                  id="home_address"
                  value
                  required
                />
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3 input-holder">
                <label for="permanent_address" class="form-label">
                  Present Address
                </label>
                <input
                  type="text"
                  name="permanent_address"
                  [value]="this.studentdata[0]['permanent_address']"
                  id="permanent_address"
                  value
                  required
                />
              </div>
            </div>

            <div class="divider mx-auto my-5"></div>

            <div class="records">
              <h4>Records of Education</h4>
              <div class="row mt-4">
                <div class="col-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Elementary</h5>
                      <p class="card-text">
                        <label for="elem_school">School Name</label>
                        <input
                          type="text"
                          name="elem_school"
                          id="elem_school"
                          [value]="this.studentdata[0]['elemschool']"
                        />
                        <label for="elem_yrgrad" class="mt-3"
                          >Year Graduated</label
                        >
                        <input
                          type="text"
                          name="elem_yrgrad"
                          [value]="this.studentdata[0]['elemgradyr']"
                          id="elem_yrgrad"
                        />
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Junior High School</h5>
                      <p class="card-text">
                        <label for="jhs_school">School Name</label>
                        <input
                          type="text"
                          name="jhs_school"
                          id="jhs_school"
                          [value]="this.studentdata[0]['jhsschoolname']"
                        />
                        <label for="jhs_yrgrad" class="mt-3"
                          >Year Graduated</label
                        >
                        <input
                          type="text"
                          name="jhs_yrgrad"
                          id="jhs_yrgrad"
                          [value]="this.studentdata[0]['jhsgradsyr']"
                        />
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Senior High School</h5>
                      <p class="card-text">
                        <label for="shs_school">School Name</label>
                        <input
                          type="text"
                          name="shs_school"
                          id="shs_school"
                          [value]="this.studentdata[0]['shsschoolname']"
                        />
                        <label for="shs_yrgrad" class="mt-3"
                          >Year Graduated</label
                        >
                        <input
                          type="text"
                          name="shs_yrgrad"
                          id="shs_yrgrad"
                          [value]="this.studentdata[0]['shsschoolgradyr']"
                        />
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-4 mt-4">
                  <label for="lastschoolattended">Last School Attended</label>
                  <input
                    type="text"
                    name="lastschoolattended"
                    [value]="this.studentdata[0]['schoollastattended']"
                    id="lastschoolattended"
                  />
                </div>
                <div class="col-4 mt-4">
                  <label for="lastschool_yrattend"
                    >Last School Year Attended</label
                  >
                  <input
                    type="text"
                    name="lastschool_yrattend"
                    id="lastschool_yrattend"
                    [value]="this.studentdata[0]['lastschoolyearattended']"
                  />
                </div>
              </div>
            </div>

            <div class="divider mx-auto my-5"></div>

            <div class="parents">
              <h4>Parent/Guardian's Information</h4>
              <div class="row mt-4">
                <div class="col-4">
                  <div class="mb-3 input-holder">
                    <label for="parent_name" class="form-label">
                      Parent's/Guardian's Name
                    </label>
                    <input
                      type="text"
                      name="parent_name"
                      id="parent_name"
                      [value]="this.studentdata[0]['parentsOrguradian']"
                      value
                      required
                    />
                  </div>
                </div>
                <div class="col-4">
                  <div class="mb-3 input-holder">
                    <label for="employed_where" class="form-label">
                      If Employed? Where?
                    </label>
                    <input
                      type="text"
                      name="employed_where"
                      id="employed_where"
                      [value]="this.studentdata[0]['employedwhere']"
                      value
                    />
                  </div>
                </div>
                <div class="col-4">
                  <div class="mb-3 input-holder">
                    <label for="parent_occupation" class="form-label">
                      Occupation
                    </label>
                    <input
                      type="text"
                      name="parent_occupation"
                      id="parent_occupation"
                      [value]="this.studentdata[0]['parentsOccupation']"
                      value
                      required
                    />
                  </div>
                </div>
                <div class="col-4 mt-4">
                  <div class="mb-3 input-holder">
                    <label for="parent_contact" class="form-label">
                      Contact Number
                    </label>
                    <input
                      type="tel"
                      pattern="[0-9]{11}"
                      name="parent_contact"
                      [value]="this.studentdata[0]['parentcontactnumber']"
                      id="parent_contact"
                      value
                      required
                    />
                  </div>
                </div>
                <div class="col-4 mt-4">
                  <div class="mb-3 input-holder">
                    <label for="parent_home_address" class="form-label">
                      Home Address
                    </label>
                    <input
                      type="text"
                      name="parent_home_address"
                      [value]="this.studentdata[0]['parentshomeaddress']"
                      id="parent_home_address"
                      value
                      required
                    />
                  </div>
                </div>
                <div class="col-4 mt-4">
                  <div class="mb-3 input-holder">
                    <label for="parent_permanent_address" class="form-label">
                      Present Address
                    </label>
                    <input
                      type="text"
                      [value]="this.studentdata[0]['parentspresentaddress']"
                      name="parent_permanent_address"
                      id="parent_permanent_address"
                      value
                      required
                    />
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <div class="col-6 my-2 text-center">
                  <button type="submit" class="btn btn-success w-50 mx-auto">
                    Save
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="my-5"></div>
    </div>
    <p class="opacity-0">Footer-spacer</p>
  </div>
</div>
