<div
  class="container-fluid p-0 mw-100 vh-100 d-flex justify-content-center align-items-center"
  id="login"
>
  <div class="d-none position-absolute loading-overlay" id="loading">
    <app-loading-page></app-loading-page>
  </div>
  <div class="back d-flex align-items-center">
    <div class="login-container m-auto bg-opacity-75 bg-light shadow">
      <div class="row">
        <div class="col-12">
          <div class="topBanner">
            <img
              class="img-responisve"
              src="../../../assets/misc/genesys-ascb-70th-logo.png"
            />
          </div>
          <hr />
          <form (ngSubmit)="submit()" [formGroup]="form">
            <div class="text-center">
              <label for="email" class="form-label"></label>
              <input
                class="rounded rounded-3"
                type="text"
                name="email"
                placeholder="Email"
                required
                formControlName="email"
                required
              />
              <div
                *ngIf="email.invalid && (email.dirty || email.touched)"
                class="text-danger">
                <div *ngIf="email.errors?.['required']">Email is required.</div>
              </div>
            </div>
            <div class="text-center">
              <label for="password" class="form-label"></label>
              <input
                class="rounded rounded-3"
                type="password"
                formControlName="password"
                placeholder="Password"
                required
              />
              <div
                *ngIf="password.invalid && (password.dirty || password.touched)"
                class="text-danger">
                <div *ngIf="password.errors?.['required']">Password is required.</div>
              </div>
            </div>
            <ng-template [ngIf]="loading">
              <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" animationDuration=".5s"></p-progressSpinner>
            </ng-template>
            <ng-template [ngIf]="!loading">
              <button
                type="SUBMIT"
                class="loginBtn btn mt-3 mb-2 text-light w-100"
                [disabled]="!form.valid"
              >
                Log&dash;in
              </button>
            </ng-template>
            <a routerLink="/forgot-password" href="#" class="text-primary"
              >Forgot Password&quest;</a
            >
            <hr />
          </form>
          <div class="d-flex flex-row">
            <a class="homeBtn mt-1" href="#" routerLink="/home">
              <img src="../../../assets/misc/genesys-login-back.png" alt="" />
              <span class="btnTooltip">Homepage</span>
            </a>

            <button
              routerLink="/new/student"
              class="createBtn btn ms-3 text-light w-100"
            >
              Create an account
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast position="top-center"></p-toast>
