nav {
  background-color: #191970;
}

.back {
  border-right: 2px solid rgb(255, 255, 255);
}

.portal {
  display: block;
  font-size: small;
  color: white;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
select {
  font-size: 1rem;
  width: 95%;
  padding: 10px 15px;
  box-sizing: border-box;
  border: none;
  border: solid 1px #d1d5db;
  /* border: solid 1px #abaeb3; */
  /*  */
  border-radius: 5px;
  outline: none;
}

img {
  /* width: 200px;
  height: 200px;
  border-radius: 50%; */
  display: block;
  aspect-ratio: 3/2;
  object-fit: cover;
}

canvas {
  border: 2px solid grey;
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  canvas {
    width: 300px;
  }
}

@media only screen and (max-width: 576px) {
  canvas {
    width: 170px;
  }
}
