<header>
  <nav class="navbar-expand">
    <div class="container-fluid py-2 shadow d-flex">
      <a (click)="backClicked()" class="back mx-2 pe-3 my-auto"
        ><img
          src="../../../../assets/misc/genesys-login-back-white.png"
          alt="exit"
          width="30"
          height="30"
      /></a>
      <div class="portal ps-3">
        <h6>ASCB</h6>
        <p class="p-0 m-0">Student Portal</p>
      </div>
    </div>
  </nav>
</header>
<div class="container my-5">
  <p-card header=" Update Information" class="shadow">
    <div class="text-center">
      <p class="fst-italic">
        Note: All Input with Asterisk(<span class="text-danger">&ast;</span>)
        are required!
      </p>
    </div>
    <form [formGroup]="update_student">
      <div class="container-fluid my-2">
        <div class="row">
          <div class="col-lg-3">
            <div class="flex flex-column">
              <label for="firstname " class="mb-1"
                >First Name <span class="text-danger">*</span></label
              >
              <input
                pInputText
                id="firstname"
                formControlName="first_name"
                class="text-uppercase"
                [value]="data?.first_name"
                [style]="{ width: '100%' }"
              />
            </div>
          </div>
          <div class="col-lg-3">
            <div class="d-flex align-items-stretch flex-column">
              <label for="lastname" class="mb-1"
                >Last Name <span class="text-danger">*</span></label
              >
              <input
                pInputText
                id="lastname"
                formControlName="last_name"
                class="text-uppercase"
                [value]="data?.last_name"
                [style]="{ width: '100%' }"
              />
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="flex flex-column">
              <label for="middlename" class="form-label">
                Middle Name
                <small class="fw-normal fst-italic">(N/A)</small
                >&nbsp;&nbsp;<p-checkbox
                  [ariaChecked]="noMiddleName"
                  (click)="toggleMiddleName()"
                  class="text-uppercase"
                  [binary]="true"
                  inputId="binary"
                ></p-checkbox>
              </label>
              <input
                pInputText
                [readonly]="noMiddleName"
                formControlName="middle_name"
                type="text"
                class="p-inputtext-md border py-2"
                id="middle_name"
                [style]="{ width: '100%' }"
                [value]="data?.middle_name"
              />
            </div>
          </div>
          <div class="col-lg-3 mb-2">
            <div class="flex flex-column">
              <label for="suffix" class="mb-1">Extension </label>
              <input
                pInputText
                id="suffix"
                formControlName="suffix"
                [value]="data?.suffix"
                [style]="{ width: '100%' }"
              />
            </div>
          </div>
          <div class="col-lg-3 mb-2">
            <div class="flex flex-column">
              <label for="gender" class="mb-2"
                >Gender <span class="text-danger">*</span></label
              >
              <select
                name="gender"
                id="gender"
                class="w-100 form-select"
                formControlName="gender"
              >
                <option value="" disabled>Please Select</option>
                <option value="male" [selected]="data?.gender === 'Male'">
                  Male
                </option>
                <option value="female" [selected]="data?.gender === 'Female'">
                  Female
                </option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 mb-2">
            <div class="flex flex-column">
              <label for="civil_status" class="mb-2"
                >Civil Status <span class="text-danger">*</span></label
              >
              <select
                name="civil_status"
                id="civil_status"
                formControlName="civil_status"
                class="w-100 form-select"
              >
                <option value="" disabled>Please Select</option>
                <option
                  value="Single"
                  [selected]="data?.civil_status === 'single'"
                >
                  Single
                </option>
                <option
                  value="Married"
                  [selected]="data?.civil_status === 'married'"
                >
                  Married
                </option>
                <option
                  value="Widowed"
                  [selected]="data?.civil_status === 'widowed'"
                >
                  Widowed
                </option>
                <option
                  value="Divorced"
                  [selected]="data?.civil_status === 'divorced'"
                >
                  Divorced
                </option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 mb-2">
            <div class="flex flex-column">
              <label for="citizenship" class="form-label">
                Citizenship<span class="text-danger">*</span>
              </label>
              <p-dropdown
                formControlName="citizenship"
                [options]="nationalitiesList"
                placeholder="Select Citizenship"
                [showClear]="true"
                [style]="{ width: '100%' }"
                [virtualScroll]="true"
                [virtualScrollItemSize]="55"
              ></p-dropdown>
            </div>
          </div>
          <div class="col-lg-3 mb-2">
            <div class="flex flex-column">
              <!-- <label for="religion">Religion <span class="text-danger">*</span></label> -->
              <label for="religion" class="form-label">
                Religion<span class="text-danger">*</span>
              </label>
              <p-dropdown
                formControlName="religion"
                [options]="religionList"
                placeholder="Select Religion"
                [showClear]="true"
                [editable]="true"
                filterBy="name"
                [style]="{ width: '100%' }"
                [virtualScroll]="true"
                [virtualScrollItemSize]="55"
              ></p-dropdown>
            </div>
          </div>
          <div class="col-lg-3 mb-2">
            <div class="flex flex-column">
              <label for="contact_number"
                >Contact Number <span class="text-danger">*</span></label
              >
              <input
                pInputText
                id="contact_number"
                formControlName="contact_number"
                [value]="data?.contact_number"
                [style]="{ width: '100%' }"
                maxlength="11"
              />
            </div>
          </div>
          <div class="col-lg-3 mb-2">
            <div class="flex flex-column">
              <label for="email"
                >Email <span class="text-danger">*</span></label
              >
              <input
                pInputText
                id="email"
                formControlName="email"
                [value]="data?.user.email"
                [style]="{ width: '100%' }"
              />
            </div>
          </div>
          <div class="col-lg-3 mb-2">
            <div class="flex flex-column">
              <label for="birth_date"
                >Birth Date <span class="text-danger">*</span></label
              >
              <input
                type="date"
                name="birth_date"
                formControlName="birth_date"
                id="birth_date"
                [value]="data?.birth_date"
                class="w-100"
              />
            </div>
          </div>
          <div class="col-lg-3 mb-2">
            <div class="flex flex-column">
              <label for="birth_place"
                >Birth Place <span class="text-danger">*</span></label
              >
              <input
                pInputText
                id="birth_place"
                formControlName="birth_place"
                [value]="data?.birth_place"
                [style]="{ width: '100%' }"
              />
            </div>
          </div>
          <hr />
          <div class="col-lg-12 my-3 py-2">
            <h4>Home Address <span class="text-danger">*</span></h4>
            <div class="container-fluid">
              <div class="row">
                <div class="col-3">
                  <select
                    (change)="onRegionChange($event)"
                    class="w-100"
                    formControlName="home_region"
                  >
                    <option value="" selected disabled>Select Region</option>
                    <option
                      *ngFor="let region of regions"
                      [value]="region.region_name"
                    >
                      {{ region.region_name }}
                    </option>
                  </select>
                </div>
                <div class="col-3">
                  <select
                    (change)="onProvinceChange($event)"
                    class="w-100"
                    formControlName="home_province"
                  >
                    <option value="" selected disabled>Select Province</option>
                    <option
                      *ngFor="let province of filteredProvinces"
                      [value]="province.province_name"
                    >
                      {{ province.province_name }}
                    </option>
                  </select>
                </div>
                <div class="col-3">
                  <select
                    (change)="onCityChange($event)"
                    class="w-100"
                    formControlName="home_city"
                  >
                    <option value="" selected disabled>Select City</option>
                    <option
                      *ngFor="let city of filteredCities"
                      [value]="city.city_name"
                    >
                      {{ city.city_name }}
                    </option>
                  </select>
                </div>
                <div class="col-3">
                  <select class="w-100" formControlName="home_barangay">
                    <option value="" selected disabled>Select Barangay</option>
                    <option
                      *ngFor="let barangay of filteredBarangays"
                      [value]="barangay.brgy_name"
                    >
                      {{ barangay.brgy_name }}
                    </option>
                  </select>
                </div>
                <div class="col-10 my-3">
                  <label for="home_street"
                    >House Number/Building/Street/Subdivision:<span
                      class="text-danger"
                      >*</span
                    ></label
                  >
                  <input
                    pInputText
                    type="text"
                    id="home_street"
                    class="w-100"
                    formControlName="home_street"
                  />
                </div>
                <div class="col-2 my-3">
                  <label for="home_zip"
                    >Zip Code<span class="text-danger">*</span></label
                  >
                  <input
                    pInputText
                    formControlName="home_zip"
                    placeholder=""
                    [style]="{ width: '100%' }"
                    (input)="inputMask($event)"
                    maxlength="4"
                    placeholder="xxxx"
                  />
                  <!-- <input type="text" id="home_zip" maxlength="4" class="w-100" formControlName="home_zip" class="w-100"> -->
                </div>
                <hr />
              </div>
            </div>
          </div>
          <div class="col-lg-12 mb-3 pb-2">
            <div class="container-fluid">
              <div class="form-check mb-2">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="sameAsHome"
                  (change)="onSameAsHomeChange($event)"
                />
                <label class="form-check-label" for="sameAsHome"
                  >Same as Home Address</label
                >
              </div>
              <h4>Present Address <span class="text-danger">*</span></h4>
              <div class="row">
                <div class="col-3">
                  <select
                    (change)="onPresentRegionChange($event)"
                    formControlName="present_region"
                    class="w-100"
                  >
                    <option value="" selected disabled>
                      Select Present Region
                    </option>
                    <option
                      *ngFor="let region of regions"
                      [value]="region.region_name"
                    >
                      {{ region.region_name }}
                    </option>
                  </select>
                </div>
                <div class="col-3">
                  <select
                    (change)="onPresentProvinceChange($event)"
                    formControlName="present_province"
                    class="w-100"
                  >
                    <option value="" selected disabled>
                      Select Present Province
                    </option>
                    <option
                      *ngFor="let province of filteredPresentProvinces"
                      [value]="province.province_name"
                    >
                      {{ province.province_name }}
                    </option>
                  </select>
                </div>
                <div class="col-3">
                  <select
                    (change)="onPresentCityChange($event)"
                    formControlName="present_city"
                    class="w-100"
                  >
                    <option value="" selected disabled>
                      Select Present City
                    </option>
                    <option
                      *ngFor="let city of filteredPresentCities"
                      [value]="city.city_name"
                    >
                      {{ city.city_name }}
                    </option>
                  </select>
                </div>
                <div class="col-3">
                  <select formControlName="present_barangay" class="w-100">
                    <option value="" selected disabled>
                      Select Present Barangay
                    </option>
                    <option
                      *ngFor="let barangay of filteredPresentBarangays"
                      [value]="barangay.brgy_name"
                    >
                      {{ barangay.brgy_name }}
                    </option>
                  </select>
                </div>
                <div class="col-10 my-3">
                  <label for="present_street"
                    >House Number/Building/Street/Subdivision:<span
                      class="text-danger"
                      >*</span
                    ></label
                  >
                  <input
                    pInputText
                    type="text"
                    id="present_street"
                    class="w-100"
                    formControlName="present_street"
                    class="w-100"
                  />
                </div>
                <div class="col-2 my-3">
                  <label for="present_zip"
                    >Zip Code<span class="text-danger">*</span></label
                  >
                  <input
                    pInputText
                    formControlName="present_zip"
                    placeholder=""
                    [style]="{ width: '100%' }"
                    (input)="inputMask($event)"
                    maxlength="4"
                    placeholder="xxxx"
                  />
                </div>
              </div>
            </div>
          </div>
          <hr />
          <h3>Education</h3>
          <div class="col-lg-4 mb-3">
            <p-card header="Elementary">
              <div class="flex flex-column mb-3">
                <label for="elem_school"
                  >School Name <span class="text-danger">*</span></label
                >
                <input
                  pInputText
                  id="elem_school"
                  formControlName="elem_school"
                  [value]="data?.elem_school"
                  class="text-uppercase"
                  [style]="{ width: '100%' }"
                />
              </div>
              <div class="flex flex-column mb-3">
                <label for="elem_year"
                  >Year Graduated <span class="text-danger">*</span></label
                >
                <input
                  pInputText
                  id="elem_year"
                  formControlName="elem_year"
                  [value]="data?.elem_year"
                  [style]="{ width: '100%' }"
                  (input)="inputMask($event)"
                  maxlength="4"
                  placeholder="xxxx"
                />
              </div>
            </p-card>
          </div>
          <div class="col-lg-4 mb-3">
            <p-card header="Junior HighSchool">
              <div class="flex flex-column mb-3">
                <label for="jhs_school"
                  >School Name <span class="text-danger">*</span></label
                >
                <input
                  pInputText
                  id="jhs_school"
                  formControlName="jhs_school"
                  [value]="data?.jhs_school"
                  class="text-uppercase"
                  [style]="{ width: '100%' }"
                />
              </div>
              <div class="flex flex-column mb-3">
                <label for="jhs_year"
                  >Year Graduated <span class="text-danger">*</span></label
                >
                <input
                  pInputText
                  id="jhs_year"
                  formControlName="jhs_year"
                  [value]="data?.jhs_year"
                  [style]="{ width: '100%' }"
                  (input)="inputMask($event)"
                  maxlength="4"
                  placeholder="xxxx"
                />
              </div>
            </p-card>
          </div>
          <div class="col-lg-4 mb-3">
            <p-card header="Senior HighSchool">
              <div class="flex flex-column mb-3">
                <label for="shs_school"
                  >School Name <span class="text-danger">*</span></label
                >
                <input
                  pInputText
                  id="shs_school"
                  formControlName="shs_school"
                  [value]="data?.shs_school"
                  class="text-uppercase"
                  [style]="{ width: '100%' }"
                />
              </div>
              <div class="flex flex-column mb-3">
                <label for="shs_year"
                  >Year Graduated <span class="text-danger">*</span></label
                >
                <input
                  pInputText
                  id="shs_year"
                  formControlName="shs_year"
                  [value]="data?.shs_year"
                  [style]="{ width: '100%' }"
                  (input)="inputMask($event)"
                  maxlength="4"
                  placeholder="xxxx"
                />
              </div>
            </p-card>
          </div>
          <div class="col-lg-6 mb-3">
            <div class="flex flex-column">
              <label for="last_school"
                >Last School Attended <span class="text-danger">*</span></label
              >
              <input
                pInputText
                id="last_school"
                formControlName="last_school"
                [value]="data?.last_school"
                class="text-uppercase"
                [style]="{ width: '100%' }"
              />
            </div>
          </div>
          <div class="col-lg-6 mb-3">
            <div class="flex flex-column">
              <label for="last_school_year"
                >Last School Year <span class="text-danger">*</span></label
              >
              <input
                pInputText
                id="last_school_year"
                formControlName="last_school_year"
                [value]="data?.last_school_year"
                [style]="{ width: '100%' }"
                (input)="inputMask($event)"
                maxlength="4"
                placeholder="xxxx"
              />
            </div>
          </div>
          <hr />
          <h3>Parent/Guardian&apos;s Information</h3>
          <div class="col-lg-12 mb-3">
            <p-card header="Father's Information">
              <div class="row">
                <div class="col-lg-6">
                  <div class="flex flex-column mb-3">
                    <label for="f_name">Father&apos;s Name</label>
                    <input
                      pInputText
                      id="f_name"
                      formControlName="father_name"
                      [value]="data?.student_parent?.father_name"
                      class="text-uppercase"
                      [style]="{ width: '100%' }"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="flex flex-column mb-3">
                    <label for="employed_where">If Employed? Where?</label>
                    <input
                      pInputText
                      id="employed_where"
                      formControlName="father_employed"
                      [value]="data?.student_parent?.father_employed"
                      class="text-uppercase"
                      [style]="{ width: '100%' }"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="flex flex-column mb-3">
                    <label for="occupation">Occupation</label>
                    <input
                      pInputText
                      id="occupation"
                      formControlName="father_occupation"
                      [value]="data?.student_parent?.father_occupation"
                      class="text-uppercase"
                      [style]="{ width: '100%' }"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="flex flex-column mb-3">
                    <label for="f_number">Mobile Number</label>
                    <input
                      pInputText
                      id="f_number"
                      formControlName="father_contact"
                      [value]="data?.student_parent?.father_contact"
                      [style]="{ width: '100%' }"
                      (input)="inputMask($event)"
                      maxlength="11"
                      placeholder="xxxxxxxxxxx"
                    />
                  </div>
                </div>
              </div>
            </p-card>
          </div>
          <div class="col-lg-12 mb-3">
            <p-card header="Mother's Information">
              <div class="row">
                <div class="col-lg-6">
                  <div class="flex flex-column mb-3">
                    <label for="m_name">Mother&apos;s Maiden Name</label>
                    <input
                      pInputText
                      id="m_name"
                      formControlName="mother_name"
                      [value]="data?.student_parent?.mother_name"
                      class="text-uppercase"
                      [style]="{ width: '100%' }"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="flex flex-column mb-3">
                    <label for="m_employed_where">If Employed? Where?</label>
                    <input
                      pInputText
                      id="m_employed_where"
                      formControlName="mother_employed"
                      [value]="data?.student_parent?.mother_employed"
                      class="text-uppercase"
                      [style]="{ width: '100%' }"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="flex flex-column mb-3">
                    <label for="m_occupation">Occupation</label>
                    <input
                      pInputText
                      id="m_occupation"
                      formControlName="mother_occupation"
                      [value]="data?.student_parent?.mother_occupation"
                      class="text-uppercase"
                      [style]="{ width: '100%' }"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="flex flex-column mb-3">
                    <label for="m_number">Mobile Number</label>
                    <input
                      pInputText
                      id="m_number"
                      formControlName="mother_contact"
                      [value]="data?.student_parent?.mother_contact"
                      [style]="{ width: '100%' }"
                      (input)="inputMask($event)"
                      maxlength="11"
                      placeholder="xxxxxxxxxxx"
                    />
                  </div>
                </div>
              </div>
            </p-card>
          </div>
          <div class="col-lg-12 mb-3">
            <p-card header="Guardian's Information">
              <div class="row">
                <div class="col-lg-6">
                  <div class="flex flex-column mb-3">
                    <label for="g_name">Guardian&apos;s Name</label>
                    <input
                      pInputText
                      id="g_name"
                      formControlName="guardian_name"
                      [value]="data?.student_parent?.guardian_name"
                      class="text-uppercase"
                      [style]="{ width: '100%' }"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="flex flex-column mb-3">
                    <label for="g_employed_where">If Employed? Where?</label>
                    <input
                      pInputText
                      id="g_employed_where"
                      formControlName="guardian_employed"
                      [value]="data?.student_parent?.guardian_employed"
                      class="text-uppercase"
                      [style]="{ width: '100%' }"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="flex flex-column mb-3">
                    <label for="g_occupation">Occupation</label>
                    <input
                      pInputText
                      id="g_occupation"
                      formControlName="guardian_occupation"
                      class="text-uppercase"
                      [style]="{ width: '100%' }"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="flex flex-column mb-3">
                    <label for="g_number">Mobile Number</label>
                    <input
                      pInputText
                      id="g_number"
                      formControlName="guardian_contact"
                      [value]="data?.student_parent?.guardian_contact"
                      [style]="{ width: '100%' }"
                      (input)="inputMask($event)"
                      maxlength="11"
                      placeholder="xxxxxxxxxxx"
                    />
                  </div>
                </div>
              </div>
            </p-card>
          </div>
          <div class="col-6">
            <div class="mb-3">
              <label for="profile" class="form-label"
                >Profile Image <span class="text-danger">*</span></label
              >
              <input
                type="file"
                accept="image/*"
                class="form-control mb-3"
                capture="user"
                name="profile"
                id="profile"
                (change)="showPreview($event)"
              />
              <div class="imagePreview text-center">
                <img
                  *ngIf="!imageURL || imageURL === ''"
                  src="/../../../../../assets/misc/genesys-default-pfp.png"
                  alt="Default Image"
                  class="img-thumbnail mx-auto"
                  width="400"
                />

                <img
                  *ngIf="imageURL && imageURL !== ''"
                  [src]="imageURL"
                  [alt]=""
                  class="img-thumbnail mx-auto"
                  width="400"
                />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">

              <canvas
                #canvas
                (touchstart)="startDrawing($event)"
                (touchmove)="moved($event)"
                width="450"
                height="300"
              ></canvas>
              <small class="error-message text-danger" *ngIf="signatureNeeded">
                Signature is required
              </small>

              <div class="my-3 text-center">
                <p-button (click)="clearPad()">Clear Signature</p-button>
              </div>
            </div>
          </div>
          <div class="text-center">
            <p-button (click)="update()">Update Information</p-button>
          </div>
        </div>
      </div>
    </form>
  </p-card>
</div>
<p-toast></p-toast>
