<div class="sidebar position-fixed">
  <div class="logout position-relative">
    <div class="text-end">
      <a routerLink="/login" (click)="logout()"
        class="text-white position-absolute top-0 end-0 my-1 mx-3 link-offset-2 link-underline link-underline-opacity-0">
        <i class="pi pi-sign-out"></i>
        Logout
      </a>
    </div>
    <div class="text-start">
      <img src="../../../assets/misc/default.jpg" alt="avatar" id="profile" width="60" height="60"
        class="img-thumbnail mt-4 mx-3" />
      <h2 class="h6 fw-bold text-white mx-3 my-2 text-capitalize">{{ data?.lastname }}, {{ data?.firstname }}</h2>
      <div class="text-white ms-3">
        <ng-container *ngIf="data">
          {{ courseAcronym }}
        </ng-container>
        <span>- </span>
        <span *ngIf="data?.year_lvl">{{ data?.year_lvl }}{{ getYearLabel(data?.year_lvl) }}</span>
      </div>
    </div>
  </div>
  <div>
    <div id="listPros" class="list-group">
      <a class="py-3 mb-1 list-group-item list-group-item-action home" routerLink="/student/home"
        routerLinkActive="active">
        <i class="pi pi-home mx-2 pi-user-edit"></i>
        <!-- <i class=" fa-solid fa-house"></i> -->
        Home
      </a>
      <a class="my-1 py-3 list-group-item list-group-item-action" routerLink="/student/information"
        routerLinkActive="active">
        <i class="pi mx-2 pi-user-edit"></i>
        Information
      </a>
      <a class="my-1 py-3 list-group-item list-group-item-action" routerLink="/student/academic-record"
        routerLinkActive="active">
        <i class="mx-2 pi pi-file"></i>
        Grade Evaluation
      </a>
      <a class="my-1 py-3 list-group-item list-group-item-action" routerLink="/student/financial"
        routerLinkActive="active">
        <i class="mx-2 pi pi-dollar"></i>
        Financial Record
      </a>
      <a class="my-1 py-3 list-group-item list-group-item-action" routerLink="/student/prospectus"
        routerLinkActive="active">
        <i class="mx-2 pi pi-bars"></i>
        Prospectus
      </a>
      <a class="my-1 py-3 list-group-item list-group-item-action" routerLink="/student/courses"
        routerLinkActive="active">
        <i class="mx-2 pi pi-book"></i>
        Course Offerings
      </a>
      <a class="my-1 py-3 list-group-item list-group-item-action" routerLink="/student/enrollment"
        routerLinkActive="active">
        <i class="mx-2 pi pi-list"></i>
        Enrollment
      </a>
      <!-- <a
        class="my-1 py-3 list-group-item list-group-item-action"
        routerLink="/student-dashboard-settings"
        routerLinkActive="active"
      >
        <i class="mx-2 fa-solid fa-gear"></i>
        Account Settings
      </a> -->
    </div>
  </div>
</div>