.sidebar-content {
  background: #ffffff;
}

.respo-md {
  padding-top: 45px;
}

.profileCard {
  font-size: 15px;
  color: #333333;
}

.setting i {
  cursor: pointer;
  color: #333333;
  transition: 0.2s ease-in-out;
}

.setting i:hover {
  cursor: pointer;
  transform: rotate(90deg);
}

.disabled {
  color: red !important;
}

@media only screen and (min-width: 769px) {
  .nav-link {
    color: black;
    transition: 0.1s ease-out;
  }

  .nav-link:hover {
    background: var(--midnight) !important;
    color: #ffffff;
    padding-left: 2rem;
  }

  .active {
    background: var(--midnight) !important;
    padding-left: 2rem;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .nav-link i {
    font-size: 20px;
  }

  .nav-link {
    color: black;
  }

  .nav-link:hover {
    background: var(--midnight) !important;
    color: #ffffff;
    padding-left: none;
  }
  .active {
    background: var(--midnight) !important;
    color: #ffffff;
    padding-left: none;
  }
}
