<div class="container-fluid vh-100 d-flex justify-content-center align-items-center flex-column w-100">
  <app-headnavagation></app-headnavagation>

  <div class="w-75 p-0">
    <h2 class="fw-bold text-start p-0">Student Information</h2>
  </div>

  <div class="divider my-1"></div>

  <div class="w-75">
    <div class="row">
      <div class="col-3">
        <div class="mb-3">
          <label
            for="last_name"
            class="form-label">
            Last Name
          </label>
          <input
            type="text"
            class="form-control in-valid"
            [class.is-invalid]="lastnameisEmpty"
            name="last_name"
            id="last_name"
            required
            [value]="lastnameval"
            (change)="lastname($event)">
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label
            for="first_name"
            class="form-label">
            First Name
          </label>
          <input
            type="text"
            class="form-control"
            [class.is-invalid]="firstnamevalisEmpty"
            name="first_name"
            id="first_name"
            required
            [value]="firstnameval"
            (change)="firstname($event)">
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label
            for="middle_name"
            class="form-label">
            Middle Name (Optional)
          </label>
          <input
            type="text"
            class="form-control"
            name="middle_name"
            id="middle_name"
            required
            [value]="middlenameval"
            (change)="middlename($event)">
        </div>
      </div>
      <div class="col-3">
        <div class="mb-3">
          <label
            for="suffix"
            class="form-label">
            Suffix (Optional)
          </label>
          <select
            name="suffix"
            id="suffix"
            class="form-control form-select w-50"
            required
            [value]="suffixval"
            (change)="suffix($event)">
            <option
              value
              selected
              disabled></option>
            <option value="jr.">Jr.</option>
            <option value="sr.">Sr.</option>
            <option value="II">II</option>
            <option value="III">III</option>
            <option value="IV">IV</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="mb-3">
          <label
            for="gender"
            class="form-label">
            Gender
          </label>
          <select
            name="gender"
            id="gender"
            class="form-control form-select"
            [value]="genderval"
            [class.is-invalid]="gendervalisEmpty"
            (change)="gender($event)">
            <option
              value
              selected
              disabled>
              Please Select Gender
            </option>
            <option value="male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
      </div>

      <div class="col-4">
        <div class="mb-3">
          <label
            for="civil_status"
            class="form-label">
            Civil Status
          </label>
          <select
            name="civil_status"
            id="civil_status"
            class="form-control form-select"
            [class.is-invalid]="civilstatusvalisEmpty"
            [value]="civilstatusval"
            (change)="civilstatus($event)">
            <option
              value
              selected
              disabled>
              Please Select Civil Status
            </option>
            <option value="single">Single</option>
            <option value="married">Married</option>
            <option value="widowed">Widowed</option>
          </select>
        </div>
      </div>

      <div class="col-4">
        <div class="mb-3">
          <label
            for="birth_date"
            class="form-label">
            Birth Date
          </label>
          <input
            type="date"
            class="form-control"
            name="birth_date"
            id="birth_date"
            required
            [value]="birthdateval"
            [class.is-invalid]="birthdatevalisEmpty"
            (change)="birthdate($event)">
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-4">
        <div class="mb-3">
          <label
            for="birth_place"
            class="form-label">
            Birth Place
          </label>
          <input
            type="text"
            class="form-control"
            name="birth_place"
            id="birth_place"
            required
            [value]="birth_placeval"
            [class.is-invalid]="birth_placevalisEmpty"
            (change)="birth_place($event)">
        </div>
      </div>
      <div class="col-4">
        <div class="mb-3">
          <label
            for="email"
            class="form-label">
            Email Address
          </label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            required
            [value]="email_addressval"
            [class.is-invalid]="email_addressvalisEmpty"
            (change)="email_address($event)">
        </div>
      </div>

      <div class="col-4">
        <div class="mb-3">
          <label
            for="contact_number"
            class="form-label">
            Student Contact Number
          </label>
          <input
            type="text"
            pattern="[0-9]{11}"
            class="form-control"
            name="contact_number"
            id="contact_number"
            required
            [value]="contactnumberval"
            [class.is-invalid]="contactnumbervalisEmpty"
            (change)="contactnumber($event)">
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-4">
        <div class="mb-3">
          <label
            for="citizenship"
            class="form-label">
            Citizenship
          </label>
          <input
            type="text"
            class="form-control"
            name="citizenship"
            id="citizenship"
            required
            [value]="citizenshipval"
            [class.is-invalid]="citizenshipvalisEmpty"
            (change)="citizenship($event)">
        </div>
      </div>
      <div class="col-4">
        <div class="mb-3">
          <label
            for="religion"
            class="form-label">
            Religion
          </label>
          <input
            type="text"
            class="form-control"
            name="religion"
            id="religion"
            required
            [value]="religionval"
            [class.is-invalid]="religionvalisEmpty"
            (change)="religion($event)">
        </div>
      </div>
    </div>

  </div>

  <!-- <app-pagination></app-pagination> -->
  <app-mat-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChanged)="onPageChanged($event)"></app-mat-pagination>
  <app-footernavigation></app-footernavigation>
</div>
