<div class="container-dashboard">
  <app-deans-sidebar></app-deans-sidebar>
  <div class="main-content">
    <div class="fixed-background"></div>
    <app-deans-navbar></app-deans-navbar>
    <div class="container-fluid containerTab">
      <!-- <div class="divider mb-4"></div> -->
      <div class="contentTab mb-3 bg-white w-100 rounded">
        <div class="text-start text-header rounded-top shadow w-100 py-3 ps-3">
          <h3 class="text-white fw-bold">Create Section</h3>
        </div>
        <div class="container my-2">
          <!-- BSCS -->
          <div class="row1">
            <div class="d-flex justify-content-between align-items-center p-2">
              <div>
                <label for="search"> Search: </label>
                <input
                  type="search"
                  name="filter_section"
                  id="filter_section"
                  [(ngModel)]="filterObj.name"
                  (input)="filtersection()"
                  aria-label="search"
                />
              </div>
              <button
                class="btn btnAddFees text-white m-2"
                data-bs-toggle="modal"
                data-bs-target="#assignModal"
              >
                <i class="fa-solid fa-file-circle-plus mx-2"></i>Create Section
              </button>
            </div>
            <!-- <form [formGroup]="addSection">
              <label for="program">Select Program:</label>
              <select (change)="onProgramChange()">
                <option *ngFor="let pr of programs" [value]="pr.courses_id">
                  {{ pr.name }}
                </option>
              </select>

              <label for="sectionName">Section Name:</label>
              <input type="text" />

              <button type="submit">Create Section</button>
            </form> -->
            <table id="example" class="table table-striped" style="width: 100%">
              <thead>
                <tr>
                  <th>Section Name</th>
                  <th>Year Level</th>
                  <th>Max Students</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let section of sections">
                  <td>{{ section.sectionname }}</td>
                  <td>{{ section.year_level }}</td>
                  <td>{{ section.max_students }}</td>
                  <td>
                    <button
                      class="btn btn-secondary"
                      data-bs-toggle="modal"
                      data-bs-target="#viewSubs"
                      (click)="
                        onclickdata(
                          section.name,
                          section.section_type,
                          section.year_level,
                          section.max_students
                        )
                      "
                    >
                      <a class="text-white text-decoration-none"
                        ><i class="fa-solid fa-eye"></i>View</a
                      >
                    </button>
                    <button
                      class="btn btn-success"
                      data-bs-toggle="modal"
                      data-bs-target="#addStudes"
                    >
                      <a class="text-white text-decoration-none"
                        ><i class="fa-solid fa-plus"></i>Add</a
                      >
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Create section -->
<div
  class="modal fade"
  id="assignModal"
  tabindex="-1"
  aria-labelledby="assignModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 fw-bold" id="assignModalLabel">
          Create Section
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          (ngSubmit)="onSubmitSection()"
          [formGroup]="addSection"
          class="m-2 px-2"
        >
          <div class="row1">
            <div class="d-flex justify-content-between align-items-center p-2">
              <span class="caption-top fw-bold">1st Year</span>
            </div>
            <table id="example" class="table table-striped" style="width: 100%">
              <thead>
                <tr>
                  <th>Section Name</th>
                  <th>Section Type</th>
                  <th>Year Level</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of rows1">
                  <td>
                    <input
                      type="text"
                      [(ngModel)]="row.sectioname"
                      [ngModelOptions]="{ standalone: true }"
                      id="sectioname"
                      class="form-control"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      [(ngModel)]="row.sectype"
                      [ngModelOptions]="{ standalone: true }"
                      id="sectype"
                      class="form-control"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      [(ngModel)]="row.yr_lvl"
                      [ngModelOptions]="{ standalone: true }"
                      id="yr_lvl"
                      class="form-control"
                    />
                  </td>
                  <!-- <td>
                    <input
                      type="text"
                      [(ngModel)]="row.maxstuds"
                      [ngModelOptions]="{ standalone: true }"
                      id="maxstuds"
                      class="form-control"
                    />
                  </td> -->
                </tr>
              </tbody>
              <button
                class="btn btn-outline-primary btn-sm my-2"
                type="button"
                (click)="addRow(1)"
              >
                Row
                <i class="fa-solid fa-plus"></i>
              </button>
            </table>
          </div>
          <div class="divider mx-auto py-3"></div>
          <div class="row2">
            <div class="d-flex justify-content-between align-items-center p-2">
              <span class="caption-top fw-bold">2nd Year</span>
            </div>
            <table id="example" class="table table-striped" style="width: 100%">
              <thead>
                <tr>
                  <th>Section Name</th>
                  <th>Section Type</th>
                  <th>Year Level</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of rows2">
                  <td>
                    <input
                      type="text"
                      [(ngModel)]="row.sectioname"
                      [ngModelOptions]="{ standalone: true }"
                      id="sectioname"
                      class="form-control"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      [(ngModel)]="row.sectype"
                      [ngModelOptions]="{ standalone: true }"
                      id="sectype"
                      class="form-control"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      [(ngModel)]="row.yr_lvl"
                      [ngModelOptions]="{ standalone: true }"
                      id="yr_lvl"
                      class="form-control"
                    />
                  </td>
                </tr>
              </tbody>
              <button
                class="btn btn-outline-primary btn-sm my-2"
                type="button"
                (click)="addRow(2)"
              >
                Row
                <i class="fa-solid fa-plus"></i>
              </button>
            </table>
          </div>
          <div class="divider mx-auto py-3"></div>
          <div class="row3">
            <div class="d-flex justify-content-between align-items-center p-2">
              <span class="caption-top fw-bold">3rd Year</span>
            </div>
            <table id="example" class="table table-striped" style="width: 100%">
              <thead>
                <tr>
                  <th>Section Name</th>
                  <th>Section Type</th>
                  <th>Year Level</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of rows3">
                  <td>
                    <input
                      type="text"
                      [(ngModel)]="row.sectioname"
                      [ngModelOptions]="{ standalone: true }"
                      id="sectioname"
                      class="form-control"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      [(ngModel)]="row.sectype"
                      [ngModelOptions]="{ standalone: true }"
                      id="sectype"
                      class="form-control"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      [(ngModel)]="row.yr_lvl"
                      [ngModelOptions]="{ standalone: true }"
                      id="yr_lvl"
                      class="form-control"
                    />
                  </td>
                </tr>
              </tbody>
              <button
                class="btn btn-outline-primary btn-sm my-2"
                type="button"
                (click)="addRow(3)"
              >
                Row
                <i class="fa-solid fa-plus"></i>
              </button>
            </table>
          </div>
          <div class="divider mx-auto py-3"></div>
          <div class="row4">
            <div class="d-flex justify-content-between align-items-center p-2">
              <span class="caption-top fw-bold">4th Year</span>
            </div>
            <table id="example" class="table table-striped" style="width: 100%">
              <thead>
                <tr>
                  <th>Section Name</th>
                  <th>Section Type</th>
                  <th>Year Level</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of rows4">
                  <td>
                    <input
                      type="text"
                      [(ngModel)]="row.sectioname"
                      [ngModelOptions]="{ standalone: true }"
                      class="form-control"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      [(ngModel)]="row.sectype"
                      [ngModelOptions]="{ standalone: true }"
                      class="form-control"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      [(ngModel)]="row.yr_lvl"
                      [ngModelOptions]="{ standalone: true }"
                      id="yr_lvl"
                      class="form-control"
                    />
                  </td>
                </tr>
              </tbody>
              <button
                class="btn btn-outline-primary btn-sm my-2"
                type="button"
                (click)="addRow(4)"
              >
                Row
                <i class="fa-solid fa-plus"></i>
              </button>
            </table>
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success me-2">
              <i class="fa-solid fa-user-check"></i>
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- View MODAL -->
<div
  class="modal fade"
  id="viewSubs"
  tabindex="-1"
  aria-labelledby="viewSubsLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="viewSubsLabel">Section Information</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="m-2 px-2">
          <div class="container p-1">
            <input type="hidden" name="" id="sectid" />
            <div>
              Section:
              <span class="fw-bold" id="section"
                >Bachelor of Science in Information Technology</span
              >
            </div>
            <div>
              Year Level:
              <span class="fw-bold" id="yearlvl"
                >College of Computer Education</span
              >
            </div>
            <div>
              Max Students:
              <span class="fw-bold" id="maxstuds"></span>
            </div>
          </div>
          <br />
          <span class="caption-top">List of Students</span>
          <table
            id="example"
            class="table table-striped table-bordered my-3"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th>Student Name</th>
                <th>Email</th>
                <th>Number</th>
                <th>Course</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Rizal Jose P.</td>
                <td>user123&#64;gmail.com</td>
                <td>09458223652</td>
                <td>BSCS 1</td>
                <td>
                  <span class="badge bg-success">Officially Enrolled</span>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Add Studs -->
<div
  class="modal fade"
  id="addStudes"
  tabindex="-1"
  aria-labelledby="addStudesLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addStudesLabel">Add Students</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="m-2 px-2"
          (ngSubmit)="addStudentSection()"
          [formGroup]="addstudentsection"
        >
          <div class="row1">
            <div class="d-flex justify-content-between align-items-center p-2">
              <!-- <span class="caption-top fw-bold">1st Year</span> -->
            </div>

            <div class="row1">
              <div
                class="d-flex justify-content-between align-items-center p-2"
              >
                <span class="caption-top fw-bold">1st Year</span>
              </div>
              <table
                id="example"
                class="table table-striped"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>Student Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of rows5">
                    <td>
                      <select
                        name="addstuds"
                        id="addstuds"
                        class="form-control mb-3"
                        [(ngModel)]="row.addstudes"
                        [ngModelOptions]="{ standalone: true }"
                      >
                        <option *ngFor="let stud of students" [value]="stud.id">
                          {{ stud.fullname }}
                        </option>
                      </select>
                      <!-- <td>
                    <input
                      type="text"
                      [(ngModel)]="row.maxstuds"
                      [ngModelOptions]="{ standalone: true }"
                      id="maxstuds"
                      class="form-control"
                    />
                  </td> -->
                    </td>
                  </tr>
                </tbody>
                <button
                  class="btn btn-outline-primary btn-sm my-2"
                  type="button"
                  (click)="addRowStuds(5)"
                >
                  Row
                  <i class="fa-solid fa-plus"></i>
                </button>
              </table>
            </div>
            <div class="divider mx-auto py-3"></div>
            <div class="row2">
              <div
                class="d-flex justify-content-between align-items-center p-2"
              >
                <span class="caption-top fw-bold">2nd Year</span>
              </div>
              <table
                id="example"
                class="table table-striped"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>Student Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of rows6">
                    <td>
                      <select
                        name="addstuds"
                        id="addstuds"
                        class="form-control mb-3"
                        [(ngModel)]="row.addstudes"
                        [ngModelOptions]="{ standalone: true }"
                      >
                        <option *ngFor="let stud of students" [value]="stud.id">
                          {{ stud.fullname }}
                        </option>
                      </select>
                    </td>
                  </tr>
                </tbody>
                <button
                  class="btn btn-outline-primary btn-sm my-2"
                  type="button"
                  (click)="addRowStuds(6)"
                >
                  Row
                  <i class="fa-solid fa-plus"></i>
                </button>
              </table>
            </div>
            <div class="divider mx-auto py-3"></div>
            <div class="row3">
              <div
                class="d-flex justify-content-between align-items-center p-2"
              >
                <span class="caption-top fw-bold">3rd Year</span>
              </div>
              <table
                id="example"
                class="table table-striped"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>Student Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of rows7">
                    <td>
                      <select
                        name="addstuds"
                        id="addstuds"
                        class="form-control mb-3"
                        [(ngModel)]="row.addstudes"
                        [ngModelOptions]="{ standalone: true }"
                      >
                        <option *ngFor="let stud of students" [value]="stud.id">
                          {{ stud.fullname }}
                        </option>
                      </select>
                    </td>
                  </tr>
                </tbody>
                <button
                  class="btn btn-outline-primary btn-sm my-2"
                  type="button"
                  (click)="addRowStuds(7)"
                >
                  Row
                  <i class="fa-solid fa-plus"></i>
                </button>
              </table>
            </div>
            <div class="divider mx-auto py-3"></div>
            <div class="row4">
              <div
                class="d-flex justify-content-between align-items-center p-2"
              >
                <span class="caption-top fw-bold">4th Year</span>
              </div>
              <table
                id="example"
                class="table table-striped"
                style="width: 100%"
              >
                <thead>
                  <tr>
                    <th>Student Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of rows8">
                    <td>
                      <select
                        name="addstuds"
                        id="addstuds"
                        class="form-control mb-3"
                        [(ngModel)]="row.addstudes"
                        [ngModelOptions]="{ standalone: true }"
                      >
                        <option *ngFor="let stud of students" [value]="stud.id">
                          {{ stud.fullname }}
                        </option>
                      </select>
                    </td>
                  </tr>
                </tbody>
                <button
                  class="btn btn-outline-primary btn-sm my-2"
                  type="button"
                  (click)="addRowStuds(8)"
                >
                  Row
                  <i class="fa-solid fa-plus"></i>
                </button>
              </table>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
