<div class="container-fluid containerTab">
  <!-- <div class="divider mb-4"></div> -->
  <div class="contentTab mb-3 bg-white w-100 rounded">
    <p-toast></p-toast>
    <div class="text-start text-header rounded-top shadow w-100 py-2 ps-3">
      <h3 class="text-white fw-bold">Tellering</h3>
    </div>
    <div class="container my-2">
      <p-table
        [rowHover]="true"
        [value]="studledgers"
        class="text-capitalize"
        styleClass="p-datatable-striped"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Student ID</th>
            <th>Student</th>
            <th style="width: 30%">Sem/School Year</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-stud>
          <tr>
            <td>{{ stud.uid }}</td>
            <td>{{ stud.studname }}</td>
            <td>{{ stud.trimester }} / {{ stud.academic_year }}</td>
            <td>{{ stud.student_status }}</td>
            <td>
              <p-button
                label="Pay"
                class="mx-2"
                (click)="showdialog(stud.studid, stud.studname, stud.semester)"
              ></p-button>
              <p-button icon="pi pi-eye" (click)="viewTransac(stud)"></p-button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="p-4 text-center" colspan="7">No Data Found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog
  header="{{ studentName }}'s Payment"
  [modal]="true"
  [maximizable]="true"
  appendTo="body"
  [(visible)]="showMakePaymentDIalog"
  [style]="{ width: '70vw' }"
  [contentStyle]="{ height: '500px' }"
>
  <form [formGroup]="studTransac" (ngSubmit)="saveTransac()" novalidate>
    <div class="p-2 row d-flex align-items-center">
      <div class="col-4">
        <label for="mop">Mode of Payment:</label>
        <p-dropdown
          formControlName="mop"
          [options]="getmopdata"
          optionLabel="description"
          optionValue="id"
          [style]="{ width: '80%' }"
          (onChange)="onDropdownChange()"
        />
      </div>
      <div class="col-4 my-3">
        <label for="acknowledgeNo">Acknowledge Receipt No.</label>
        <input
          class="inputs"
          type="text"
          formControlName="acknowledgeNo"
          id="acknowledgeNo"
          readonly
        />
      </div>
      <div class="col-4 my-3">
        <label for="paydate">Payment Date:</label>
        <input
          class="inputs"
          type="text"
          formControlName="paydate"
          id="paydate"
          name="paydate"
          readonly
        />
      </div>
      <span class="caption-top">Balance Infomation</span>
      <div class="col-4">
        <label for="paidAmount">Paid Amount(PHP)</label>
        <input
          class="inputs"
          type="number"
          id="paidAmount"
          name="paidAmount"
          formControlName="paidAmount"
          placeholder="₱"
        />
      </div>
      <div class="col-4">
        <label for="teller">Teller/Cashier Name</label>
        <input
          class="inputs"
          type="text"
          id="teller"
          formControlName="teller"
          readonly
        />
      </div>
    </div>
    <div class="col-4 my-3" *ngIf="displayInput">
      <label for="onlinepayRef">Online Payment Reference:</label>
      <input
        class="inputs"
        type="text"
        id="onlinepayRef"
        formControlName="onlinepayRef"
        readonly
      />
    </div>
    <!-- <div class="d-flex align-items-center gap-3 my-4">
      <div>
        <p-checkbox
          value="full"
          formControlName="paystatus"
          inputId="full"
        ></p-checkbox>
        <label for="full">Full</label>
      </div>
      <div>
        <p-checkbox
          value="partial"
          formControlName="paystatus"
          inputId="partial"
        ></p-checkbox>
        <label for="partial">Partial</label>
      </div>
    </div> -->
    <div>
      <p-button
        icon="pi pi-list-check"
        (click)="showallocateFees()"
        label="Allocate Fees"
      ></p-button>
      <p-table
        *ngIf="allocateTable"
        [rowHover]="true"
        [value]="allocation"
        styleClass="p-datatable-striped p-datatable-sm"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Item Fees</th>
            <th>Amount</th>
            <th>Paid</th>
            <th>Balance</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-breakdown>
          <tr>
            <td>{{ breakdown.category }}</td>
            <td>{{ breakdown.amount }}</td>
            <td>{{ breakdown.paid }}</td>
            <td>{{ breakdown.balance }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="d-flex justify-content-end">
      <p-button type="submit" label="Submit"></p-button>
    </div>
  </form>
</p-dialog>
