<app-headnavagation></app-headnavagation>

<main>
  <div class="hero text-center text-light shadow p-5 mt-lg-5 mt-md-5 mt-1">
    <h1>ABOUT ASCB</h1>
    <p>ABOUT</p>
  </div>
  <div class="container">
    <div class="row p-3">
      <div class="col-10">
        <p class="about">Andres Soriano Colleges of Bislig &lpar;ASCB&rpar;</p>
        <p class="state"><span class="fw-bold">Type:</span>&nbsp;Private</p>
        <p class="state">
          <span class="fw-bold">Religious affiliation:</span>&nbsp;Non-Sectarian
        </p>
        <p class="state">
          <span class="fw-bold">Term structure:</span>&nbsp;Semester, Trimester
        </p>
        <hr />
        <p class="about">About ASCB</p>
        <p class="state">
          <span class="fw-bold">Andres Soriano Colleges of Bislig</span>, a
          non-stock, non-profit, non-sectarian educational institution, aspires
          to form a community of totally liberated persons equipped with
          knowledge, skills and values in a just and humane society.
        </p>
        <p class="state">
          It aims to deliver quality, foster awareness, personal desipline and
          ability to make creative and sound judgement smong it's students, and
          to stand as a training ground for well-balanced academic education
          designed to promote a culture of excellence.
        </p>
        <p class="about">Academics</p>
        <p class="state">
          ASCB provides a diverse array of educational opportunities, including
          12 Bachelor's programs, a Master's degree program, and a Certificate
          Course. Additionally, the institute offers comprehensive basic
          education aligned with the K-12 program. See
          <a routerLink="/dept-ui01" href="#">Departments</a> to learn more
          about these programs.
        </p>
        <div class="scholar">
          <p class="about">Scholarships Offered</p>
          <div class="row ps-3 state">
            <div class="col-lg-6 col-md-6 col-12 state">
              <p>
                <span class="fw-bold"> CSP/CHED</span> &lpar;CHED Scholarship
                Program&rpar;
              </p>
              <p>
                <span class="fw-bold"> TES</span> &lpar;Tertiary Education
                Subsidy&rpar;
              </p>
              <p>
                <span class="fw-bold"> TDP-TES</span> &lpar;Tong Dunong
                Program&rpar;
              </p>
            </div>
            <div class="col-lg-6 col-md-6 col-12 state">
              <p>
                <span class="fw-bold"> LGU</span> &lpar;Local Government
                Unit&rpar;
              </p>
              <p><span class="fw-bold"> Alay ng Probinsya</span></p>
              <p>
                <span class="fw-bold"> SMART</span> &lpar;Student Monetary
                Assistance for Recovery nd Transition&rpar;
              </p>
            </div>
          </div>
        </div>

        <div class="history">
          <p class="about">History</p>
          <p class="state">
            The
            <strong> Andres Soriano College of Bislig </strong>
            was founded in 1951 as a consequence of the tenacious efforts of
            people who thought that children should be developed holistically.
            The college, which was situated in Mangagoy, was established to meet
            the educational requirements of the expanding populace, which
            included workers from businesses like PICOP and BBLCI. Under the
            direction of committed civic-minded people like Mr. Godofredo M.
            Manila and Mr. Marcelo Ligas, Andres Soriano College started out as
            a modest 13-room nipa building that could house hundreds of eager
            students.
            <a routerLink="/ascb-about-history" href="#"
              >Learn more about ASCB&apos;s history.....</a
            >
          </p>
        </div>
      </div>
      <div class="col-2">
        <div class="">
          <img src="../../../../assets/misc/ascb_logo.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</main>

<app-footernavigation> </app-footernavigation>
