* {
  user-select: none;
}

.headicon {
  width: 60;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../../assets/misc/homepage/genesys-ascb-wallpaper-old_building-1.jpg");
  mix-blend-mode: darken;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero h1 {
  padding-top: 2rem;
  font-size: 70px;
  font-weight: bold;
}

.about {
  font-size: 32px;
  font-weight: 900;
}

.state2 {
  font-size: 15px;
  color: #555555;
}

.state {
  font-size: 15px;
  color: #555555;
}

@media only screen and (max-width: 574px) {
  .hero h1 {
    font-size: 30px;
    padding-top: 4rem;
  }

  .hero {
    height: 225px;
  }

  .about {
    font-size: 20px;
  }
}
