<app-headnavagation></app-headnavagation>

<main>
  <div class="hero text-center text-light shadow p-5 mt-lg-5 mt-md-5 mt-3">
    <h1>DEPARTMENTS</h1>
    <p>COLLEGE OF CRIMINAL JUSTICE EDUCATION</p>
  </div>
  <div class="container whole">
    <div class="list1 row container">
      <div class="col-lg-3 col-md-12 col-12 my-3 text-center">
        <p class="fw-bolder desc text-light rounded-top">
          STAFF AND ADMINISTRATION
        </p>
        <div class="row">
          <p class="fw-bold">DEAN</p>
          <div class="col-lg-12 dean">
            <img
              src="../../../../assets/misc/genesys-default-pfp.png"
              alt="staff profile"
              width="100"
            />
            <p class="fw-bold pt-3">
              Eric M. Malazarte, MSCJ <br />
              <span class="state"
                >Dean, College of Criminal Justice Education</span
              >
            </p>
          </div>
          <p class="fw-bold">PROFFESSORS</p>
          <div class="profs">
            <div class="container">
              <div class="d-flex flex-wrap justify-content-evenly">
                <div class="p-2 float-end">
                  <img
                    class="deptCard"
                    src="../../../../assets/misc/genesys-default-pfp.png"
                    alt="staff profile"
                    width="100"
                  />
                  <p class="fw-bold pt-3">
                    ... <br />
                    <span class="state"></span>
                  </p>
                </div>
                <div class="p-2 float-end">
                  <img
                    class="deptCard"
                    src="../../../../assets/misc/genesys-default-pfp.png"
                    alt="staff profile"
                    width="100"
                  />
                  <p class="fw-bold pt-3">
                    ... <br />
                    <span class="state"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="deptCard border border-3 rounded-3 my-3 col-lg-9 col-md-12 col-12 align-items-center"
      >
        <div class="face d-flex justify-content-center">
          <img
            src="../../../../assets/misc/homepage/genesys-departments-ccje.png"
            alt="ccje logo"
            width="200"
          />
        </div>
        <hr />
        <div class="container px-3">
          <h3 class="about sRespo">College of Criminal Justice Education</h3>
          <hr />
          <p class="desc p-1 px-3 text-light mt-3">PROGRAMS OFFERED</p>
          <div class="program px-3">
            <div class="state">
              <ul>
                <li class="">
                  <span class="fw-bold"
                    >Bachelor of Science in Criminology &lpar;BSC&rpar;</span
                  >
                  <p class="ps-lg-3 ps-md-3 ps-0">
                    A program focused on the study of crime, criminal behavior,
                    law enforcement, and the criminal justice system.
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <p class="desc p-1 px-3 text-light mt-3">
            <a routerLink="/dept-ui01" href="#"> SEE OTHER DEPARTMENTS </a>
          </p>
          <div class="others px-3">
            <ul>
              <li>
                <a routerLink="/dept-cbae" href="#"
                  >College of Business Accountancy Education</a
                >
              </li>
              <li>
                <a routerLink="/dept-cce" href="#"
                  >College of Computer Education</a
                >
              </li>
              <li>
                <a routerLink="/dept-cte" href="#"
                  >College of Teacher Education</a
                >
              </li>
              <li>
                <a routerLink="/dept-elementary" href="#">Elementary</a>
              </li>
              <li>
                <a routerLink="/dept-jhs" href="#">Junior Highschool</a>
              </li>
              <li>
                <a routerLink="/dept-shs" href="#">Senior Highschool</a>
              </li>
              <li>
                <a routerLink="/dept-tvet" href="#">TVET Department</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footernavigation></app-footernavigation>
