<div class="container-dashboard">
  <app-accounting-sidebar></app-accounting-sidebar>
  <div class="main-content">
    <div class="fixed-background"></div>
    <app-accounting-navbar></app-accounting-navbar>
    <div
      class="container-fluid vh-100 d-flex justify-content-center align-items-center flex-column"
    >
      <!-- <div class="divider mb-4"></div> -->
      <div class="bg-white w-100 h-75 rounded">
        <div class="text-start text-header rounded-top shadow w-100 py-2 ps-3">
          <h3 class="text-white fw-bold">Matriculation</h3>
        </div>
        <form class="m-4 px-2">
          <div
            class="inputGroup row d-flex justify-content-center align-items-center"
          >
            <div class="col-4">
              <label for="ledger">Ledger</label>
              <select class="inputs" name="ledger" id="ledger">
                <option selected hidden>Input here..</option>
                <option value="1">20221545/A.Y 2021-2022</option>
                <option value="2">20254487/A.Y 2022-2023</option>
                <option value="3">20200365/A.Y 2023-2024</option>
              </select>
            </div>
            <div class="col-4">
              <label for="semester">Semester</label>
              <select class="inputs" name="semester" id="semester">
                <option selected hidden>Open this select menu</option>
                <option value="1">1st Trimester</option>
                <option value="2">2nd Trimester</option>
                <option value="3">3rd Trimester</option>
              </select>
            </div>
            <div class="col-4">
              <label for="studid">ID:</label>
              <input
                class="inputs"
                type="number"
                id="studid"
                name="studid"
                placeholder="202244564"
              />
            </div>
            <div class="col-4 my-4">
              <label for="studname">Student's Name:</label>
              <input
                class="inputs"
                type="text"
                id="studname"
                name="studname"
                placeholder="input here"
              />
            </div>
            <div class="col-4">
              <label for="course">Course/Yr.</label>
              <input
                class="inputs"
                type="text"
                id="course"
                name="course"
                placeholder="input here"
              />
            </div>
            <div class="col-4">
              <label for="date">Date:</label>
              <input
                class="inputs"
                type="date"
                id="date"
                name="date"
                placeholder="input date here"
              />
            </div>
          </div>
        </form>
        <div class="divider mx-auto my-4"></div>
        <div class="container">
          <table
            id="example"
            #dataTable
            class="table table-striped table-bordered"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th>ID Number</th>
                <th>Student's Name</th>
                <th>Ledger</th>
                <th>Ledger Status</th>
                <th>Semester</th>
                <th>Course/Yr.</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>202244564</td>
                <td>Rizal, Jose Patricio</td>
                <td>20221545/A.Y 2021-2022</td>
                <td>Submitted</td>
                <td>1st Trimester</td>
                <td>BSIT/1st Year</td>
                <td>
                  <button class="btn btn-secondary">
                    <a routerLink="/accounting-matriculation-viewuser"
                      ><i class="fa-solid fa-eye"></i
                    ></a>
                  </button>
                  <button class="btn btn-success mx-2">
                    <a routerLink="/test"><i class="fa-solid fa-pen"></i></a>
                  </button>
                </td>
              </tr>
              <tr>
                <td>202244356</td>
                <td>Lumpay, Ignacio P</td>
                <td>2022774/A.Y 2023-2024</td>
                <td>Submitted</td>
                <td>2nd Trimester</td>
                <td>BSIT/3rd Year</td>
                <td>
                  <button class="btn btn-secondary">
                    <a routerLink="/test"><i class="fa-solid fa-eye"></i></a>
                  </button>
                  <button class="btn btn-success mx-2">
                    <a routerLink="/test"><i class="fa-solid fa-pen"></i></a>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
