<app-headnavagation></app-headnavagation>

<main>
  <div class="hero text-center text-light shadow p-5 mt-lg-5 mt-md-5 mt-3">
    <h1>DEPARTMENTS</h1>
    <p>ELEMENTARY</p>
  </div>
  <div class="container whole">
    <div class="list1 row container">
      <div class="col-lg-3 col-md-12 col-12 my-3 text-center">
        <p class="fw-bolder desc text-light rounded-top">
          STAFF AND ADMINISTRATION
        </p>
        <div class="row">
          <p class="fw-bold">PRINCIPAL</p>
          <div class="col-lg-12 dean">
            <img src="../../../../../assets/misc/defaultpfp.png" width="100" />
            <p class="fw-bold pt-3">
              ... <br />
              <span class="state">Principal, Elementary</span>
            </p>
          </div>
          <p class="fw-bold">TEACHERS</p>
          <div class="profs">
            <div class="container">
              <div class="d-flex flex-wrap justify-content-evenly">
                <div class="p-2 float-end">
                  <img
                    class="deptCard"
                    src="../assets/misc/defaultpfp.png"
                    alt="ASCB"
                    width="100"
                  />
                  <p class="fw-bold pt-3">
                    ... <br />
                    <span class="state"></span>
                  </p>
                </div>
                <div class="p-2 float-end">
                  <img
                    class="deptCard"
                    src="../assets/misc/defaultpfp.png"
                    alt="ASCB"
                    width="100"
                  />
                  <p class="fw-bold pt-3">
                    ... <br />
                    <span class="state"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="deptCard border border-3 rounded-3 my-3 col-lg-9 col-md-12 col-12 align-items-center"
      >
        <div class="face d-flex justify-content-center">
          <img src="../../../../../assets/misc/homepage/elem.png" width="200" />
        </div>
        <hr />
        <div class="container px-3">
          <h3 class="about sRespo">Elementary Department</h3>
          <hr />
          <div class="program px-3">
            <div class="state">
              A place where curiosity meets creativity, and every child is
              empowered to thrive. With dedicated educators, innovative teaching
              methods, and a nurturing environment, we cultivate a love for
              learning that lasts a lifetime. Come join our community and embark
              on an exciting journey of discovery, growth, and success!
            </div>
          </div>
          <p class="desc p-1 px-3 text-light mt-3">SEE OTHER DEPARTMENTS</p>
          <div class="others px-3">
            <ul>
              <li>
                <a routerLink="/dept-cbae" href="#"
                  >College of Business Accountancy Education</a
                >
              </li>
              <li>
                <a routerLink="/dept-cce" href="#"
                  >College of Computer Education</a
                >
              </li>
              <li>
                <a routerLink="/dept-ccje" href="#"
                  >College of Business Criminal Justice Education</a
                >
              </li>
              <li>
                <a routerLink="/dept-cte" href="#"
                  >College of Teacher Education</a
                >
              </li>
              <li>
                <a routerLink="/dept-jhs" href="#">Junior Highschool</a>
              </li>
              <li>
                <a routerLink="/dept-shs" href="#">Senior Highschool</a>
              </li>
              <li>
                <a routerLink="/dept-tvet" href="#">TVET Department</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footernavigation></app-footernavigation>
