<div class="position-absolute bottom-25 end-0 mx-5">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a
          class="page-link"
          href="#">
          Previous
        </a></li>
      <li class="page-item"><a
          class="page-link"
          routerLink="/enroll-maed">
          1
        </a></li>
      <li class="page-item"><a
          class="page-link"
          routerLink="/enroll-maed-student-information">
          2
        </a></li>
      <li class="page-item"><a
          class="page-link"
          routerLink="/enroll-maed-education-record">
          3
        </a></li>
      <li class="page-item"><a
          class="page-link"
          href="#">
          4
        </a></li>
      <li class="page-item"><a
          class="page-link"
          href="#">
          Next
        </a></li>
    </ul>
  </nav>
</div>
