<div
  class="container-fluid p-0 mw-100 vh-100 d-flex justify-content-center align-items-center"
  id="forgot">
  <div class="w-50 bg-light mx-auto container-fluid p-2 bg-opacity-75 rounded-4 login-bg">
    <div class="asclogo position-absolute top-25 start-50 translate-middle">
      <img
        src="../../../assets/misc/ascb_logo.png"
        alt
        class="img-responsive w-100">
    </div>
    <div class="row g-1">
      <div class="col-6 px-3 d-flex align-items-center justify-content-center my-0">
        <img
          src="../../../assets/misc/container_image_1.png"
          alt="logo"
          class="img-responsive mw-100">
      </div>
      <div class="col-6">
        <div class="img-responsive w-100 text-center">
          <img
            src="../../../assets/misc/70th_ascb_logo.png"
            alt="70th logo">
        </div>
        <div class="text-center">
          <h3 class="fw-boldest h4 fs-5">Reset Password</h3>
          <p class="text-wrap reset">
            In an effort to secure your personal information, please provide us
            with the following details.
          </p>
          <div class="p-3">
            <a
              routerLink="/student-reset-password"
              class="btn-primary p-2 px-3 rounded h5 fw-bold link-offset-2 link-underline link-underline-opacity-0">
              I'M A STUDENT
            </a>
          </div>
          <div class="p-3 mt-2">
            <a
              routerLink="/employee-reset-password"
              class="btn-primary p-2 px-3 rounded h5 fw-bold link-offset-2 link-underline link-underline-opacity-0">
              I'M AN EMPLOYEE
            </a>
          </div>
        </div>
        <p class="text-center mt-3 mx-5">
          <a
            routerLink="/login"
            class="fw-normal text-primary link-offset-2 link-underline link-underline-opacity-0">
            Go to Login
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
