.content {
  padding-top: 8%;
  width: 90%;
}

.bg-content {
  background-color: whitesmoke;
}

.input-holder {
  width: 90%;
  margin: auto;
}

.info-links {
  border-radius: 5px 5px 0 0;
}

input,
select {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid black;
  border-radius: 0 !important;
}

thead tr th {
  background: #191970 !important;
  color: white;
  text-align: center !important;
  border-top: 0;
  border-bottom: 0;
}

table {
  border: 1px solid rgba(112, 99, 99, 0.877);
}

.p-accordion-header {
  background-color: red !important;
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .content {
    padding-top: 10%;
  }
}

@media only screen and (max-width: 576px) {
  .content {
    padding-top: 23%;
  }
}
