<div class="container-dashboard">
  <app-student-sidebar></app-student-sidebar>
  <div class="main-content">
    <div class="fixed-background"></div>
    <app-student-navbar></app-student-navbar>
    <div class="container-fluid content mb-5">
      <div class="bg-white rounded">
        <div class="bg-secondary py-3 info-links">
          <div class="mx-auto text-center">
            <h2 class="fs-5 text-uppercase text-white my-0">Enrollment Form</h2>
          </div>
        </div>
        <table class="table table-bordered py-2 text-center">
          <thead>
            <tr>
              <th>Course Code.</th>
              <th>Descriptive Titles</th>
              <th>Units</th>
              <th>Pre-requisite</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <p class="opacity-0">Footer-spacer</p>
    </div>
  </div>
</div>
