<div class="container">
  <h2 class="about text-light pb-2">External Links</h2>
  <div class="mx-4 divider"></div>
  <div class="d-flex flex-wrap justify-content-evenly pt-3">
    <div class="text-center float-end">
      <a target="_blank" href="https://mail.google.com/mail/u/0/#inbox"
        ><img
          class="img-fluid"
          src="../../../../assets/misc/genesys-dashboard-Gmail-logo.png"
          width="35"
          alt="gmail logo"
        />
        <p class="text-light">Gmail</p>
      </a>
    </div>
    <div class="text-center float-end">
      <a target="_blank" href="https://classroom.google.com/?pli=1"
        ><img
          class="img-fluid"
          src="../../../../assets/misc/genesys-dashboard-google-classroom-logo.png"
          width="35"
          alt="google classroom logo"
        />
        <p class="text-light">Classroom</p>
      </a>
    </div>
    <div class="text-center float-end">
      <a target="_blank" href="https://drive.google.com/drive/home"
        ><img
          class="img-fluid"
          src="../../../../assets/misc/genesys-dashboard-google-drive-logo.png"
          width="35"
          alt="google drive logo"
        />
        <p class="text-light">Drive</p>
      </a>
    </div>
    <div class="text-center float-end">
      <a target="_blank" href="https://www.facebook.com/AndresSorianoCollege"
        ><img
          class="img-fluid"
          src="../../../../assets/misc/genesys-news-facebook-icon.png"
          width="35"
          alt="Facebook logo"
        />
        <p class="text-light">ASCB</p>
      </a>
    </div>
  </div>
  <h2 class="about text-light pb-2">Educational Resources</h2>
  <div class="mx-4 divider"></div>
  <div class="d-flex flex-wrap justify-content-evenly pt-3">
    <div class="text-center float-end">
      <a target="_blank" href="https://www.academia.edu/"
        ><img
          class="img-fluid"
          src="../../../../assets/misc/genesys-dashboard-academia-logo.png"
          width="35"
          alt="academia logo"
        />
        <p class="text-light">Academia</p>
      </a>
    </div>
    <div class="text-center float-end">
      <a target="_blank" href="https://scholar.google.com/"
        ><img
          class="img-fluid"
          src="../../../../assets/misc/genesys-dashboard-google-scholar-logo.png"
          width="35"
          alt="google scholar logo"
        />
        <p class="text-light">Scholar</p>
      </a>
    </div>
    <div class="text-center float-end">
      <a target="_blank" href="https://en.wikipedia.org/wiki/Main_Page"
        ><img
          class="img-fluid"
          src="../../../../assets/misc/genesys-dashboard-wikipedia-logo.png"
          width="35"
          alt="wikia logo"
        />
        <p class="text-light">wikipedia</p>
      </a>
    </div>
    <div class="text-center float-end">
      <a target="_blank" href="https://www.jstor.org/"
        ><img
          class="img-fluid"
          src="../../../../assets/misc/genesys-dashboard-JSTOR-Logo.png"
          width="35"
          alt="JSTOR logo"
        />
        <p class="text-light">JSTOR</p>
      </a>
    </div>
    <div class="text-center float-end">
      <a target="_blank" href="https://www.base-search.net/"
        ><img
          class="img-fluid"
          src="../../../../assets/misc/genesys-dashboard-base-search-logo.png"
          width="35"
          alt="base logo"
        />
        <p class="text-light">Base</p>
      </a>
    </div>
  </div>
</div>
