<div class="container-dashboard">
  <app-student-sidebar></app-student-sidebar>
  <div class="main-content">
    <div class="fixed-background"></div>
    <app-student-navbar></app-student-navbar>
    <div
      class="container-fluid vh-100 d-flex justify-content-center align-items-center flex-column"
    >
      <div class="text-start w-75">
        <h2 class="text-white">Quick Links</h2>
      </div>
      <div class="divider"></div>

      <div class="d-flex justify-content-evenly w-75">
        <a
          href="https://mail.google.com"
          target="_blank"
          class="link-offset-2 link-underline link-underline-opacity-0 text-white"
          >Email</a
        >
        <a
          href="https://classroom.google.com"
          target="_blank"
          class="https://www.facebook.com/groups/1097332243646245"
          >Google Classroom</a
        >
        <a
          href="https://drive.google.com/"
          target="_blank"
          class="link-offset-2 link-underline link-underline-opacity-0 text-white"
          >Google Drive</a
        >
        <a
          href="https://www.facebook.com/ascbtambayan"
          target="_blank"
          class="link-offset-2 link-underline link-underline-opacity-0 text-white"
          >ASCB Tambayan</a
        >
        <a href=""></a>
      </div>

      <div class="text-start w-75">
        <h2 class="text-white">Educational Resources</h2>
      </div>
      <div class="divider"></div>
    </div>
  </div>
</div>
