<div class="sidebar position-fixed">
  <div class="logout position-relative">
    <div class="text-end">
      <a
        href="#"
        class="text-white position-absolute top-0 end-0 my-1 mx-3 link-offset-2 link-underline link-underline-opacity-0"
      >
        <i class="fa-solid fa-right-from-bracket"></i>
        Logout
      </a>
    </div>
    <div class="text-start">
      <img
        src="../../../assets/misc/default.jpg"
        alt="avatar"
        id="profile"
        width="60"
        height="60"
        class="img-thumbnail mt-4 mx-3"
      />
      <h2 class="h6 fw-bold text-white mx-3 my-2">Doe, John</h2>
      <p class="text-light fs-6 mx-3 fw-light">Registrar</p>
    </div>
  </div>
  <div>
    <div id="list-example" class="list-group">
      <a
        class="py-3 list-group-item list-group-item-action home menu-item"
        routerLink="/registrar-dashboard-home"
        routerLinkActive="active"
      >
        <i class="mx-2 fa-solid fa-house"></i>
        Home
      </a>
      <a
        class="my-1 py-3 list-group-item list-group-item-action menu-item"
        id="accSetupToggle"
        routerLinkActive="active"
      >
        <i class="mx-2 fa-solid fa-book-open-reader"></i>
        Enrollment
        <i class="fa-solid fa-caret-down"></i>
      </a>
      <ul class="accSetupToggle-sub">
        <li>
          <a
            routerLink="/registrar-dashboard-applicants"
            routerLinkActive="active"
            class="list-group-item list-group-item-action py-2"
            ><i class="fa-solid fa-truck-fast mx-2"></i>
            Applicants
          </a>
        </li>
        <li>
          <a
            routerLink="/registrar-dashboard-enrolled"
            routerLinkActive="active"
            class="list-group-item list-group-item-action py-2 my-1"
            ><i class="fa-solid fa-notes-medical mx-2"></i>
            Officially Enrolled
          </a>
        </li>
        <li>
          <a
            routerLink="/registrar-dashboard-enrolled"
            routerLinkActive="active"
            class="list-group-item list-group-item-action py-2"
            ><i class="fa-solid fa-notes-medical mx-2"></i>
            Enrolled by Subject
          </a>
        </li>
      </ul>
      <a
        class="my-1 py-2 list-group-item list-group-item-action menu-item"
        routerLink="/registrar-student-list"
        routerLinkActive="active"
        id
      >
        <i class="mx-2 fa-solid fa-file-pen"></i>
        Student Grades
        <i class="fa-solid fa-caret-down"></i>
      </a>
      <a
        class="my-1 py-2 list-group-item list-group-item-action menu-item"
        routerLink="/registrar-semester"
        routerLinkActive="active"
      >
        <i class="mx-2 fa-solid fa-file-pen"></i>
        Semester
      </a>
      <ul class="accReportsToggle-sub">
        <li>
          <a
            routerLink="/accounting-dashboard-soa"
            routerLinkActive="active"
            class="list-group-item list-group-item-action"
            ><i class="fa-solid fa-truck-fast mx-2"></i>
            Statement of Accounts
          </a>
        </li>
        <li>
          <a
            routerLink="/accounting-dashboard-studentledger"
            routerLinkActive="active"
            class="list-group-item list-group-item-action"
            ><i class="fa-solid fa-notes-medical mx-2"></i>
            Student's Ledger
          </a>
        </li>
      </ul>

      <a
        class="my-1 py-3 list-group-item list-group-item-action menu-item"
        routerLinkActive="active"
        id="accFinanceToggle"
      >
        <i class="mx-2 fa-solid fa-hand-holding-dollar"></i>
        Accounting Finance
        <i class="fa-solid fa-caret-down"></i>
      </a>
      <ul class="accFinanceToggle-sub">
        <li>
          <a
            routerLink="/accounting-matriculation"
            routerLinkActive="active"
            class="list-group-item list-group-item-action"
            ><i class="fa-solid fa-truck-fast mx-2"></i>
            Matriculation
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
