<p-toast></p-toast>
<div class="container-fluid containerTab">
  <div class="bg-white w-100 contentTab rounded">
    <div class="text-start text-header rounded-top shadow w-100 py-2 ps-3">
      <h3 class="text-white fw-bold">Lab Fees</h3>
    </div>
    <div class="container">
      <p-table
        [rowHover]="true"
        [value]="departments"
        styleClass="p-datatable-striped"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Departments</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-depts>
          <tr>
            <td>{{ depts.department_name }}</td>
            <td>
              <p-button
                icon="pi pi-eye"
                (click)="showDept(depts.id, depts.department_name)"
              >
              </p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog
  header="{{ departname }}"
  [modal]="true"
  [(visible)]="deptdialog"
  [style]="{ width: '70%' }"
>
  <form
    [formGroup]="addlabfees"
    (ngSubmit)="savelabfees()"
    class="d-flex flex-column"
  >
    <input type="hidden" formControlName="deptid" />
    <label for="sublist">Select Subject:</label>
    <p-dropdown
      [options]="deptsubjects"
      [style]="{ width: '50%' }"
      optionLabel="subjects"
      optionValue="subjectid"
      [filter]="true"
      filterBy="subjects"
      formControlName="subjectid"
      id="sublist"
    ></p-dropdown>
    <br />
    <label for="amount">Amount:</label>
    <p-inputNumber
      inputId="currency-ph"
      mode="currency"
      currency="PHP"
      formControlName="amount"
      locale="en-PH"
      id="amount"
    ></p-inputNumber>
    <div class="d-flex justify-content-end mt-4">
      <p-button type="submit" label="Submit"></p-button>
    </div>
  </form>
  <p-divider />
  <p-table [value]="labfeesdb" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 45%">Subjects</th>
        <th>Amount</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-subs>
      <tr>
        <td>{{ subs.subject }}</td>
        <td>{{ subs.feeAmount }}</td>
        <td>
          <p-button icon="pi pi-pen"></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="p-4 text-center" colspan="7">No Data Found.</td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
