<app-headnavagation></app-headnavagation>

<main>
  <div class="hero text-center text-light shadow p-5 mt-lg-5 mt-md-5 mt-3">
    <h1>DEPARTMENTS</h1>
    <p>COLLEGE OF COMPUTER EDUCATION</p>
  </div>
  <div class="container whole">
    <div class="list1 row container">
      <div class="col-lg-3 col-md-12 col-12 my-3 text-center">
        <p class="fw-bolder desc text-light rounded-top">
          STAFF AND ADMINISTRATION
        </p>
        <div class="row">
          <p class="fw-bold">DEAN</p>
          <div class="col-lg-12 dean">
            <img src="../../../../../assets/misc/defaultpfp.png" width="100" />
            <p class="fw-bold pt-3">
              Genda C. Necio, MIT, DBM <br />
              <span class="state">Dean, College of Computer Education</span>
            </p>
          </div>
          <p class="fw-bold">PROFFESSORS</p>
          <div class="profs">
            <div class="container">
              <div class="d-flex flex-wrap justify-content-evenly">
                <div class="p-2 float-end">
                  <img
                    class="deptCard"
                    src="../assets/misc/defaultpfp.png"
                    alt="ASCB"
                    width="100"
                  />
                  <p class="fw-bold pt-3">
                    Angel U. Abellanosa Jr. <br />
                    <span class="state"></span>
                  </p>
                </div>
                <div class="p-2 float-end">
                  <img
                    class="deptCard"
                    src="../assets/misc/defaultpfp.png"
                    alt="ASCB"
                    width="100"
                  />
                  <p class="fw-bold pt-3">
                    Emiquel Jim C. Rengel <br />
                    <span class="state"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="deptCard border border-3 rounded-3 my-3 col-lg-9 col-md-12 col-12 align-items-center"
      >
        <div class="face d-flex justify-content-center">
          <img src="../../../../../assets/misc/homepage/cce.png" width="200" />
        </div>
        <hr />
        <div class="container px-3">
          <h3 class="about sRespo">College of Computer Education</h3>
          <hr />
          <p class="desc p-1 px-3 text-light mt-3">PROGRAMS OFFERED</p>
          <div class="program px-3">
            <div class="state">
              <ul>
                <li class="">
                  <span class="fw-bold"
                    >Bachelor of Science in Information Technology
                    &lpar;BSIT&rpar;</span
                  >
                  <p class="ps-lg-3 ps-md-3 ps-0">
                    A three-year program that prepares students to be IT
                    professionals well-versed on IT applications, including web,
                    database, programming, and networking technologies.
                  </p>
                </li>
                <li class="">
                  <span class="fw-bold"
                    >Bachelor of Science in Computer Science
                    &lpar;BSCS&rpar;</span
                  >
                  <p class="ps-lg-3 ps-md-3 ps-0">
                    A program that combines general education with computer
                    science, mathematics, and technology coursework. This degree
                    prepares graduates to pursue roles in the workforce or
                    advanced degrees.
                  </p>
                </li>
                <li class="">
                  <span class="fw-bold"
                    >Bachelor of Science in Information Systems
                    &lpar;BSIS&rpar;</span
                  >
                  <p class="ps-lg-3 ps-md-3 ps-0">
                    A degree program that deals with the design and
                    implementation of solutions that integrate information
                    technology with business processes.
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <p class="desc p-1 px-3 text-light mt-3">SEE OTHER DEPARTMENTS</p>
          <div class="others px-3">
            <ul>
              <li>
                <a routerLink="/dept-cbae" href="#"
                  >College of Business Accountancy Education</a
                >
              </li>
              <li>
                <a routerLink="/dept-ccje" href="#"
                  >College of Criminal Justice Education</a
                >
              </li>
              <li>
                <a routerLink="/dept-cte" href="#"
                  >College of Teacher Education</a
                >
              </li>
              <li>
                <a routerLink="/dept-elementary" href="#">Elementary</a>
              </li>
              <li>
                <a routerLink="/dept-jhs" href="#">Junior Highschool</a>
              </li>
              <li>
                <a routerLink="/dept-shs" href="#">Senior Highschool</a>
              </li>
              <li>
                <a routerLink="/dept-tvet" href="#">TVET Department</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footernavigation></app-footernavigation>
