<app-headnavagation></app-headnavagation>

<main>
  <div class="hero text-center text-light shadow p-5 mt-5">
    <h1>DEPARTMENTS</h1>
    <p>COLLEGE OF CRIMINAL JUSTICE EDUCATION</p>
  </div>
  <div class="container">
    <div class="list1 row container">
      <div class="col-lg-3 col-md-12 col-12 my-3 text-center">
        <p class="fw-bolder desc text-light rounded-top">
          STAFF AND ADMINISTRATION
        </p>
        <div class="row">
          <p class="fw-bold">DEAN</p>
          <div class="col-lg-12 dean">
            <img src="../../../../../assets/misc/defaultpfp.png" width="100" />
            <p class="fw-bold pt-3">
              Eric M. Malazarte, MSCJ <br />
              <span class="state"
                >Dean, College of Criminal Justice Education</span
              >
            </p>
          </div>
          <p class="fw-bold">PROFFESSORS</p>
          <div class="profs">
            <div class="container">
              <div class="d-flex flex-wrap justify-content-evenly">
                <div class="p-2 float-end">
                  <img
                    class="deptCard"
                    src="../assets/misc/defaultpfp.png"
                    alt="ASCB"
                    width="100"
                  />
                  <p class="fw-bold pt-3">
                    .... <br />
                    <span class="state"></span>
                  </p>
                </div>
                <div class="p-2 float-end">
                  <img
                    class="deptCard"
                    src="../assets/misc/defaultpfp.png"
                    alt="ASCB"
                    width="100"
                  />
                  <p class="fw-bold pt-3">
                    .... <br />
                    <span class="state"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="deptCard border border-3 rounded-3 my-3 col-lg-9 col-md-12 col-12 align-items-center"
      >
        <div class="face d-flex justify-content-center">
          <img src="../../../../../assets/misc/homepage/ccje.png" width="200" />
        </div>
        <hr />
        <div class="container px-3">
          <h3 class="about">College of Criminal Justice Education</h3>
          <hr />
          <p class="desc p-1 px-3 text-light mt-3">PROGRAMS OFFERED</p>
          <div class="program px-3">
            <div class="state">
              <ul>
                <li>Bachelor of Science in Criminology &lpar;BSC&rpar;</li>
              </ul>
            </div>
          </div>
          <p class="desc p-1 px-3 text-light mt-3">COURSES</p>
          <div id="prospectus">
            <div class="cardInfo mx-3 mt-2">
              <div class="tab-content" id="myTabContent">
                <div>
                  <div class="courses">
                    <p class="tritle p-2">1st year &lpar;1st Trimester&rpar;</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">GE 1</th>
                          <td>Understanding the Self</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE 4</th>
                          <td>Mathematics in Modern World</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE 3</th>
                          <td>The Contemporary World</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE 2</th>
                          <td>Readings in Philippine History</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">EC 1</th>
                          <td>Reading Comprehension</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">Crim 1</th>
                          <td>Introduction to Criminology</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">DEFTAC 1</th>
                          <td>Fundamentals of Martial Arts</td>
                          <td>2</td>
                        </tr>
                        <tr>
                          <th scope="row">NSTP 1</th>
                          <td>ROTC 1</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">1st year &lpar;2nd Trimester&rpar;</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">GE 6</th>
                          <td>Art Appreciation</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE 7</th>
                          <td>Science, Technology and Society</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE 5</th>
                          <td>Purposive Communication</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">DEFTAC 2</th>
                          <td>Arnis &amp; Disarming Technique</td>
                          <td>2</td>
                        </tr>
                        <tr>
                          <th scope="row">CLJ 1</th>
                          <td>
                            Introduction to Philippine Criminal Justice System
                          </td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">LEA 1</th>
                          <td>
                            Law Enforcement Organization and Administration
                          </td>
                          <td>4</td>
                        </tr>
                        <tr>
                          <th scope="row">NSTP 2</th>
                          <td>ROTC 2</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">1st year &lpar;3rd Trimester&rpar;</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">GE 8</th>
                          <td>Ethics</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">EC 2</th>
                          <td>Basic Computer Software</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">LEA 2</th>
                          <td>Comparative Models in Policing</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">Crim 2</th>
                          <td>Theories of Crime Causation</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CLJ 2</th>
                          <td>Human Rights Education</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CDI 1</th>
                          <td>
                            Fundamentals of Investigation and Intelligence
                          </td>
                          <td>4</td>
                        </tr>
                        <tr>
                          <th scope="row">DEFTAC 3</th>
                          <td>First Aid and Water Safety</td>
                          <td>2</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">2nd year &lpar;1st Trimester&rpar;</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">PC 1</th>
                          <td>Life and Works of Rizal</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CLJ 3</th>
                          <td>Criminal Law &lpar;Book 1&rpar;</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CDI 2</th>
                          <td>
                            Specialized Crime Investigation 1 with Legal
                            Medicine
                          </td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">Forensic 1</th>
                          <td>Forensic Photography</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">DEFTAC 4</th>
                          <td>Marksmanship and Combat Shooting</td>
                          <td>2</td>
                        </tr>
                        <tr>
                          <th scope="row">LEA 3</th>
                          <td>Introduction to Industrial Security Concepts</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">Chem 1</th>
                          <td>General Chemistry &lpar;Organic&rpar;</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">2nd year &lpar;2nd Trimester&rpar;</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">EC 3</th>
                          <td>
                            Politics &amp; Governance with Philippine
                            Constitution
                          </td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">Crim 3</th>
                          <td>Professional Conduct and Ethical Standard</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">Crim 4</th>
                          <td>Human Behavior and Victimology</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CDI 3</th>
                          <td>
                            Specialized Crime Investigation 2 with Simulation on
                            Interrogation and Interview
                          </td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">Forensic 2</th>
                          <td>Personal Identification Techniques</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CLJ 4</th>
                          <td>Criminal Law &lpar;Book 2&rpar;</td>
                          <td>4</td>
                        </tr>
                        <tr>
                          <th scope="row">CA 1</th>
                          <td>Institutional Corrections</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">2nd year &lpar;3rd Trimester&rpar;</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Forensic 3</th>
                          <td>Forensic Chemistry and Toxicology</td>
                          <td>5</td>
                        </tr>
                        <tr>
                          <th scope="row">CDI 4</th>
                          <td>
                            Traffic Management and Accident Investigation with
                            Driving
                          </td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CFLM 1</th>
                          <td>
                            Character Formation, Nationalism and Patriotism
                          </td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">Crim 5</th>
                          <td>
                            Juvenile Delinquency and Juvenile Justice System
                          </td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">Crim 6</th>
                          <td>
                            Dispute Resolution and Crises/Incident Management
                          </td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CA 2</th>
                          <td>Non-Institutional Corrections</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">LEA 4</th>
                          <td>
                            Law Enforcement Operation and Planning w&sol; Crime
                            Mapping
                          </td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">3rd year &lpar;1st Trimester&rpar;</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">CLJ 5</th>
                          <td>Evidence</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CDI 6</th>
                          <td>Fire Protection &amp; Arson Investigation</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CDI 5</th>
                          <td>
                            Technical English 1 &lpar;Technical Report Writing &
                            Presentation&rpar;
                          </td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CFLM 2</th>
                          <td>
                            Character Formation w&sol; Leadership, Decision
                            Making, Management and Administration
                          </td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CA 3</th>
                          <td>Therapeutic Modalities</td>
                          <td>2</td>
                        </tr>
                        <tr>
                          <th scope="row">Forensic 4</th>
                          <td>Questioned Document Examination</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">Crim 7</th>
                          <td>
                            Criminological Research 1 &lpar;Research Methods
                            w&sol; Applied Statistics&rpar;
                          </td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">3rd year &lpar;2nd Trimester&rpar;</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">CLJ 6</th>
                          <td>Criminal Procedure &amp; Court Testimony</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">Forensic 5</th>
                          <td>Lie Detection Techniques</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CDI 7</th>
                          <td>Vice and Drug Education and Contro</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CDI 8</th>
                          <td>Technical English 2 &lpar;Legal Forms&rpar;</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">Forensic 6</th>
                          <td>Forensic Ballistics</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CDI 9</th>
                          <td>
                            Introduction to Cybercrime and Environmental Laws
                            and Protection
                          </td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">Crim 8</th>
                          <td>
                            Criminological Research 2 &lpar;Thesis Writing and
                            Presentation&rpar;
                          </td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">3rd year &lpar;3rd Trimester&rpar;</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Criminology Practicum 1</th>
                          <td>Internship &lpar;On-the-Job Training 1&rpar;</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">Sem 1</th>
                          <td>Seminar 1</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">4th year &lpar;1st Trimester&rpar;</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Criminology Practicum 2</th>
                          <td>Internship &lpar;On-the-Job Training 2&rpar;</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">Sem 1</th>
                          <td>Seminar 2</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="desc text-light text-center mt-3">DEPARTMENTS</p>
    <div class="container">
      <div class="d-flex flex-wrap justify-content-evenly">
        <div class="folders p-2 float-end">
          <a routerLink="/cbae-ui" href=""
            ><img
              class="deptCard"
              src="../assets/misc/homepage/cbe.png"
              alt="ASCB"
              width="75"
          /></a>
        </div>
        <div class="folders p-2 float-end">
          <a routerLink="/cce-ui" href=""
            ><img
              class="deptCard"
              src="./assets/misc/homepage/cce.png"
              alt="ASCB"
              width="75"
          /></a>
        </div>
        <div class="folders p-2 float-end">
          <a routerLink="/cte-ui" href=""
            ><img
              class="deptCard"
              src="../assets/misc/homepage/cte.png"
              alt="ASCB"
              width="75"
          /></a>
        </div>
        <div class="folders p-2 float-end">
          <a href=""
            ><img
              class="deptCard"
              src="../assets/misc/homepage/elem.png"
              alt="ASCB"
              width="75"
          /></a>
        </div>
        <div class="folders p-2 float-end">
          <a href=""
            ><img
              class="deptCard"
              src="../assets/misc/homepage/jhs.png"
              alt="ASCB"
              width="75"
          /></a>
        </div>
        <div class="folders p-2 float-start">
          <a routerLink="/shs-ui" href=""
            ><img
              class="deptCard"
              src="../assets/misc/homepage/shs.png"
              alt="ASCB"
              width="75"
          /></a>
        </div>

        <div class="folders p-2 float-end">
          <a href=""
            ><img
              class="deptCard"
              src="../assets/misc/homepage/tvet.png"
              alt="ASCB"
              width="75"
          /></a>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footernavigation></app-footernavigation>
