<div class="container-dashboard">
  <app-deans-sidebar></app-deans-sidebar>
  <div class="main-content">
    <div class="fixed-background"></div>
    <app-deans-navbar></app-deans-navbar>
    <div class="container-fluid containerTab">
      <!-- <div class="divider mb-4"></div> -->
      <div class="contentTab mb-3 bg-white w-100 rounded">
        <div class="text-start text-header rounded-top shadow w-100 py-2 ps-3">
          <h3 class="text-white fw-bold">Subject List</h3>
        </div>
        <div class="container my-4">
          <table id="example" #dataTable class="table table-striped">
            <thead>
              <tr>
                <th>Subject</th>
                <th>Instructor</th>
                <th>Course/Sem</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>MATH 1A/COLLEGE AND ADVANCED ALGEBRA</td>
                <td>Alfonso Jose M.</td>
                <td>BSCS-1A/2nd Trimester</td>
                <td>
                  <span class="badge text-bg-success text-center"
                    >Approved</span
                  >
                </td>
                <td>
                  <button
                    class="btn btn-info"
                    data-bs-toggle="modal"
                    data-bs-target="#approveGrade"
                  >
                    <a class="text-white text-decoration-none"
                      ><i class="fa-solid fa-eye"></i
                    ></a>
                  </button>
                  <button class="mx-2 btn btn-success">
                    <a class="text-white text-decoration-none"
                      ><i class="fa-solid fa-check"></i>Approve</a
                    >
                  </button>
                </td>
              </tr>
              <tr>
                <td>CC 101/INTRODUCTION TO COMPUTING WITH KEYBOARDING</td>
                <td>Alfonso Jose M.</td>

                <td>BSIT-1A/2nd Trimester</td>
                <td>
                  <span class="badge text-bg-success text-center"
                    >Approved</span
                  >
                </td>
                <td>
                  <button
                    class="btn btn-info"
                    data-bs-toggle="modal"
                    data-bs-target="#approveGrade"
                  >
                    <a class="text-white text-decoration-none"
                      ><i class="fa-solid fa-eye"></i
                    ></a>
                  </button>
                  <button class="mx-2 btn btn-success">
                    <a class="text-white text-decoration-none"
                      ><i class="fa-solid fa-check"></i>Approve</a
                    >
                  </button>
                </td>
              </tr>
              <tr>
                <td>AR 101-ARCHITECTURE & ORGANIZATION</td>
                <td>Alfonso Jose M.</td>

                <td>BSIT-1A/2nd Trimester</td>
                <td>
                  <span class="badge text-bg-secondary text-center"
                    >Pending</span
                  >
                </td>
                <td>
                  <button
                    class="btn btn-info"
                    data-bs-toggle="modal"
                    data-bs-target="#approveGrade"
                  >
                    <a class="text-white text-decoration-none"
                      ><i class="fa-solid fa-eye"></i
                    ></a>
                  </button>
                  <button class="mx-2 btn btn-success">
                    <a class="text-white text-decoration-none"
                      ><i class="fa-solid fa-check"></i>Approve</a
                    >
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->
<div
  class="modal fade"
  id="approveGrade"
  tabindex="-1"
  aria-labelledby="approveGradeLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 fw-bold" id="approveGradeLabel">
          Subject Information
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="m-2 px-2">
          <div class="inputGroup row d-flex align-items-center">
            <div class="inputGroup row d-flex align-items-center my-3">
              <div class="col-4">
                <label for="studName">Instructor</label>
                <input
                  class="inputs"
                  type="text"
                  id="studName"
                  name="studName"
                  value="Alfonso Jose M."
                  readonly
                />
              </div>
              <div class="col-4">
                <label for="schoolyr">School Year:</label>
                <input
                  class="inputs"
                  type="text"
                  id="schoolyr"
                  name="schoolyr"
                  value="A.Y 2022-2023"
                  readonly
                />
              </div>
              <div class="divider my-4 w-100"></div>
              <span class="caption-top">Information</span>
              <div class="col-9 mt-3">
                <label for="subName">Subject Name:</label>
                <input
                  class="inputs"
                  type="text"
                  id="subName"
                  name="subName"
                  value="CC 101/INTRODUCTION TO COMPUTING WITH KEYBOARDING"
                  readonly
                />
              </div>
              <div class="col-5 my-4">
                <label for="section">Section</label>
                <input
                  class="inputs"
                  type="text"
                  id="section"
                  name="section"
                  value="BSIT-1A - 2nd Trimester"
                  readonly
                />
              </div>
              <div class="col-6">
                <label for="department">Department</label>
                <input
                  class="inputs"
                  type="text"
                  id="department"
                  name="department"
                  value="College of Computer Education"
                  readonly
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
