<app-headnavagation></app-headnavagation>
<main>
  <button
    onclick="topFunction()"
    id="topbtn"
    title="Back to Top"
    data-bs-toggle="tooltip"
    data-bs-placement="top"
    data-bs-custom-class="custom-tooltip"
  >
    <!-- <img src="../../../assets/misc/homepage/" width="30" /> -->
  </button>

  <div class="hero text-center text-light shadow p-5 mt-5">
    <h1>DEPARTMENTS</h1>
    <p>ACADEMIC DEPARTMENTS</p>
  </div>
  <div class="showCase container d-flex p-5">
    <div class="row">
      <div class="col-lg-3 col-md-12 d-flex justify-content-md-center p-2">
        <img src="../assets/misc/homepage/20230425_063141.png" width="250" />
      </div>
      <div class="col-lg-9 col-md-12 text-lg-start text-md-center">
        <h2 class="about pt-lg-2 px-5">ASCB</h2>
        <br />
        <p class="px-5">
          Andres Soriano College has a variety of CHED recognized undergraduate
          programs in its three departments: Arts & Education, Business &
          Management, and Computer Science. The school also has a Senior High
          School department offering ABM, HUMSS, GAS, HE, and IA. Technical
          courses from TESDA, like Commercial Cooking, Computer Programming, and
          Food & Beverage Services, are also available for those who would like
          to get their National Certificate (NC).
        </p>
      </div>
    </div>
  </div>
  <h2 class="about text-center">DEPARTMENTS</h2>
  <div class="list container mb-5">
    <hr />
    <div class="container">
      <div class="d-flex flex-wrap justify-content-center">
        <div class="p-2 float-end">
          <a routerLink="/cbae-ui" href=""
            ><img
              class="deptCard"
              src="../assets/misc/homepage/CBAE.jpg"
              alt="ASCB"
          /></a>
        </div>
        <div class="p-2 float-end">
          <a routerLink="/cce-ui" href=""
            ><img
              class="deptCard"
              src="../assets/misc/homepage/CCE.jpg"
              alt="ASCB"
          /></a>
        </div>
        <div class="p-2 float-end">
          <a routerLink="/ccje-ui" href=""
            ><img
              class="deptCard"
              src="./assets/misc/homepage/CCJE.jpg"
              alt="ASCB"
          /></a>
        </div>
        <div class="p-2 float-end">
          <a routerLink="/cte-ui" href=""
            ><img
              class="deptCard"
              src="../assets/misc/homepage/CTE.jpg"
              alt="ASCB"
          /></a>
        </div>
        <div class="p-2 float-end">
          <a href=""
            ><img
              class="deptCard"
              src="../assets/misc/homepage/Elem.jpg"
              alt="ASCB"
          /></a>
        </div>
        <div class="p-2 float-end">
          <a href=""
            ><img
              class="deptCard"
              src="../assets/misc/homepage/JHS.jpg"
              alt="ASCB"
          /></a>
        </div>
        <div class="p-2 float-start">
          <a routerLink="/shs-ui" href=""
            ><img
              class="deptCard"
              src="../assets/misc/homepage/SHS.jpg"
              alt="ASCB"
          /></a>
        </div>

        <div class="p-2 float-end">
          <a href=""
            ><img
              class="deptCard"
              src="../assets/misc/homepage/TVET.jpg"
              alt="ASCB"
          /></a>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footernavigation></app-footernavigation>
