<div
  class="modal fade"
  id="studView"
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  role="dialog"
  aria-labelledby="modalTitleId"
  aria-hidden="true">
  <div
    class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl"
    role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="h5 m-0 p-0">Information</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body container-fluid">

        <div class="px-5">
          <h3 class="h5 mt-3">Personal Information</h3>
          <hr>

          <div class="row mb-3">
            <div class="col-3">
              <input
                type="text"
                value="1234567890123"
                id="id"
                class="form-control"
                aria-readonly="true"
                readonly>
              <small>Id No.</small>
            </div>
            <div class="col-3">
              <input
                type="text"
                value="BSIT"
                id="course"
                class="form-control"
                aria-readonly="true"
                readonly>
              <small>Course</small>
            </div>
            <div class="col-3">
              <input
                type="text"
                value="2nd Year"
                id="year"
                class="form-control"
                aria-readonly="true"
                readonly>
              <small>Year Level</small>
            </div>
            <div class="col-3">
              <input
                type="text"
                value="Continuing"
                id="status"
                class="form-control"
                aria-readonly="true"
                readonly>
              <small>Status</small>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-3">
              <input
                type="text"
                value="james"
                id="fname"
                class="form-control text-capitalize"
                aria-readonly="true"
                readonly>
              <small>First Name</small>
            </div>
            <div class="col-3">
              <input
                type="text"
                value="moreno"
                id="mName"
                class="form-control text-capitalize"
                aria-readonly="true"
                readonly>
              <small>Middle Name</small>
            </div>
            <div class="col-3">
              <input
                type="text"
                value="badang"
                id="lname"
                class="form-control text-capitalize"
                aria-readonly="true"
                readonly>
              <small>Last Name</small>
            </div>
            <div class="col-3">
              <input
                type="text"
                value="jr."
                id="suffix"
                class="form-control text-capitalize"
                aria-readonly="true"
                readonly>
              <small>Suffix</small>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-3">
              <input
                type="text"
                value="M"
                id="gender"
                class="form-control"
                aria-readonly="true"
                readonly>
              <small>Gender</small>
            </div>
            <div class="col-3">
              <input
                type="date"
                id="bdate"
                class="form-control"
                aria-readonly="true"
                readonly>
              <small>Birthdate</small>
            </div>
            <div class="col-3">
              <input
                type="text"
                value="Mangagoy, Bislig City SDS"
                id="birtplace"
                class="form-control text-capitalize"
                aria-readonly="true"
                readonly>
              <small>BirthPlace</small>
            </div>
            <div class="col-3">
              <input
                type="text"
                value="Single"
                id="civil_status"
                class="form-control text-capitalize"
                aria-readonly="true"
                readonly>
              <small>Civil Status</small>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-3">
              <input
                type="text"
                value="roman catholic"
                id="religion"
                class="form-control text-capitalize"
                aria-readonly="true"
                readonly>
              <small>Religion</small>
            </div>
            <div class="col-3">
              <input
                type="text"
                value="Filipino"
                id="citizenship"
                class="form-control text-capitalize"
                aria-readonly="true"
                readonly>
              <small>Citizenship</small>
            </div>
            <div class="col-3">
              <input
                type="email"
                value="james@gmail.com"
                id="email"
                class="form-control"
                aria-readonly="true"
                readonly>
              <small>Email</small>
            </div>
            <div class="col-3">
              <input
                type="text"
                value="09123456789"
                id="number"
                class="form-control text-capitalize"
                aria-readonly="true"
                readonly>
              <small>Contact Number</small>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <input
                type="text"
                id="home"
                value="p-2 panaghi-usa district, mangagoy bislig city"
                class="form-control text-capitalize"
                aria-readonly="true"
                readonly>
              <small>Home Address</small>
            </div>
            <div class="col-6">
              <input
                type="text"
                id="permanent"
                value="p-2 panaghi-usa district, mangagoy bislig city"
                class="form-control text-capitalize"
                aria-readonly="true"
                readonly>
              <small>Permanent Address</small>
            </div>
          </div>

          <h3 class="h5 mt-3">Educational Attainment</h3>
          <hr>

          <div class="row mb-3">
            <div class="col-4">
              <h2 class="h6">Elementary</h2>
              <input
                type="text"
                id="elem_name"
                value="ILES"
                class="form-control text-capitalize"
                aria-readonly="true"
                readonly>
              <small>School Name</small>
            </div>
            <div class="col-4">
              <h2 class="h6">Junior High School</h2>
              <input
                type="text"
                id="jsh_name"
                value="ILES"
                class="form-control text-capitalize"
                aria-readonly="true"
                readonly>
              <small>School Name</small>
            </div>
            <div class="col-4">
              <h2 class="h6">Senior High School</h2>
              <input
                type="text"
                id="shs_name"
                value="ILES"
                class="form-control text-capitalize"
                aria-readonly="true"
                readonly>
              <small>School Name</small>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <div class>
                <input
                  type="text"
                  id="elem_year"
                  value="2023-2024"
                  class="form-control text-capitalize"
                  aria-readonly="true"
                  readonly>
                <small>Year Graduated</small>
              </div>
            </div>
            <div class="col-4">
              <input
                type="text"
                id="jhs_year"
                value="2023-2024"
                class="form-control text-capitalize"
                aria-readonly="true"
                readonly>
              <small>Year Graduated</small>
            </div>
            <div class="col-4">
              <input
                type="text"
                id="shs_year"
                value="2023-2024"
                class="form-control text-capitalize"
                aria-readonly="true"
                readonly>
              <small>Year Graduated</small>
            </div>
          </div>

          <h3 class="h5 mt-3">Parent/Guardian's Information</h3>
          <hr>
          <div class="row mb-3">
            <div class="col-3">
              <input
                type="text"
                value="james"
                id="p_fname"
                class="form-control text-capitalize"
                aria-readonly="true"
                readonly>
              <small>First Name</small>
            </div>
            <div class="col-3">
              <input
                type="text"
                value="moreno"
                id="p_mName"
                class="form-control text-capitalize"
                aria-readonly="true"
                readonly>
              <small>Middle Name</small>
            </div>
            <div class="col-3">
              <input
                type="text"
                value="badang"
                id="p_lname"
                class="form-control text-capitalize"
                aria-readonly="true"
                readonly>
              <small>Last Name</small>
            </div>
            <div class="col-3">
              <input
                type="text"
                value="jr."
                id="p_suffix"
                class="form-control text-capitalize"
                aria-readonly="true"
                readonly>
              <small>Suffix</small>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-3">
              <input
                type="text"
                value="housewife"
                id="occupation"
                class="form-control text-capitalize"
                aria-readonly="true"
                readonly>
              <small>Occupation</small>
            </div>
            <div class="col-3">
              <input
                type="text"
                value="09123456789"
                id="c_number"
                class="form-control text-capitalize"
                aria-readonly="true"
                readonly>
              <small>Contact Number</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
