<app-headnavagation></app-headnavagation>

<main>
  <div class="hero text-center text-light shadow p-5 mt-5">
    <h1>DEPARTMENTS</h1>
    <p>COLLEGE OF COMPUTER EDUCATION</p>
  </div>
  <div class="container">
    <div class="list1 row container">
      <div class="col-lg-3 col-md-12 col-12 my-3 text-center">
        <p class="fw-bolder desc text-light rounded-top">
          STAFF AND ADMINISTRATION
        </p>
        <div class="row">
          <p class="fw-bold">DEAN</p>
          <div class="col-lg-12 dean">
            <img src="../../../../../assets/misc/defaultpfp.png" width="100" />
            <p class="fw-bold pt-3">
              Someone <br />
              <span class="state">Dean, College of Computer Education</span>
            </p>
          </div>
          <p class="fw-bold">PROFFESSORS</p>
          <div class="profs">
            <div class="container">
              <div class="d-flex flex-wrap justify-content-evenly">
                <div class="p-2 float-end">
                  <img
                    class="deptCard"
                    src="../assets/misc/defaultpfp.png"
                    alt="ASCB"
                    width="100"
                  />
                  <p class="fw-bold pt-3">
                    Someone <br />
                    <span class="state">LPT.</span>
                  </p>
                </div>
                <div class="p-2 float-end">
                  <img
                    class="deptCard"
                    src="../assets/misc/defaultpfp.png"
                    alt="ASCB"
                    width="100"
                  />
                  <p class="fw-bold pt-3">
                    Someone <br />
                    <span class="state">LPT.</span>
                  </p>
                </div>
                <div class="p-2 float-end">
                  <img
                    class="deptCard"
                    src="../assets/misc/defaultpfp.png"
                    alt="ASCB"
                    width="100"
                  />
                  <p class="fw-bold pt-3">
                    Someone <br />
                    <span class="state">LPT.</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="deptCard border border-3 rounded-3 my-3 col-lg-9 col-md-12 col-12 align-items-center"
      >
        <div class="face d-flex justify-content-center">
          <img src="../../../../../assets/misc/homepage/cce.png" width="200" />
        </div>
        <hr />
        <div class="container px-3">
          <h3 class="about">College of Computer Education</h3>
          <hr />
          <p class="desc p-1 px-3 text-light mt-3">PROGRAMS OFFERED</p>
          <div class="program px-3">
            <div class="state">
              <ul>
                <li>
                  Bachelor of Science in Information Technology &lpar;BSIT&rpar;
                </li>
                <li>
                  Bachelor of Science in Computer Science &lpar;BSCS&rpar;
                </li>
                <li>
                  Bachelor of Science in Information Systems &lpar;BSIS&rpar;
                </li>
              </ul>
            </div>
          </div>
          <p class="desc p-1 px-3 text-light mt-3">COURSES</p>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="text-dark fw-bold nav-link active"
                id="home-tab"
                data-bs-toggle="tab"
                data-bs-target="#home-tab-pane"
                type="button"
                role="tab"
                aria-controls="home-tab-pane"
                aria-selected="true"
              >
                BSIT
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="text-dark fw-bold nav-link"
                id="profile-tab"
                data-bs-toggle="tab"
                data-bs-target="#profile-tab-pane"
                type="button"
                role="tab"
                aria-controls="profile-tab-pane"
                aria-selected="false"
              >
                BSCS
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="text-dark fw-bold nav-link"
                id="contact-tab"
                data-bs-toggle="tab"
                data-bs-target="#contact-tab-pane"
                type="button"
                role="tab"
                aria-controls="contact-tab-pane"
                aria-selected="false"
              >
                BSIS
              </button>
            </li>
          </ul>
          <div id="prospectus">
            <div class="cardInfo mx-3 mt-2">
              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade show active"
                  id="home-tab-pane"
                  role="tabpanel"
                  aria-labelledby="home-tab"
                  tabindex="0"
                >
                  <div class="courses">
                    <p class="tritle p-2">1st Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">CC101</th>
                          <td>Introduction to Computing with Keyboarding</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CSS1</th>
                          <td>
                            Install and Configure Computers/Set-up Computer
                            Networks
                          </td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE1</th>
                          <td>Understanding the Self</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE2</th>
                          <td>Readings in Philippine History</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE3</th>
                          <td>The Contemporary World</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">PATH Fit 1</th>
                          <td>Movement Competency Training</td>
                          <td>2</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">2nd Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">CC102</th>
                          <td>Computer Programming 1</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE4</th>
                          <td>Mathematics in the Modern World</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE5</th>
                          <td>Purposive Communication</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CSS2</th>
                          <td>
                            Set-up Computer Servers/Maintain Computer Systems
                            and Network
                          </td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">PATH Fit 2</th>
                          <td>Exercise-based Fitness</td>
                          <td>2</td>
                        </tr>
                        <tr>
                          <th scope="row">NSTP1</th>
                          <td>Civic Welfare Training Service 1</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">3rd Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">CC103</th>
                          <td>Computer Programming 2</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">MS101</th>
                          <td>Discrete Mathematics</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE6</th>
                          <td>Art Appreciation</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE7</th>
                          <td>Science, Technology &amp; Society</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE8</th>
                          <td>Ethics</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">PATH Fit 3</th>
                          <td>Dance and Sports</td>
                          <td>2</td>
                        </tr>
                        <tr>
                          <th scope="row">NSTP2</th>
                          <td>Civic Welfare Training Service 2</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">4th Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">PF101</th>
                          <td>Object Oriented Programming</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CC104</th>
                          <td>Data Structures and Algorithms</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">PT101</th>
                          <td>Platform Technologies</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CC105</th>
                          <td>Information Management</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE9</th>
                          <td>Gender and Society</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE10</th>
                          <td>Philippine Popular Culture</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">PATH Fit 4</th>
                          <td>Outdoor and Adventure Activities</td>
                          <td>2</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">5th Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">IM101</th>
                          <td>Fundamentals of Database Systems</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">NET101</th>
                          <td>Networking 1</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">IPT101</th>
                          <td>Integrative Programming and Technologies</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE11</th>
                          <td>Living in an IT Era</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE12</th>
                          <td>Life &amp; Works of Rizal</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">SAD</th>
                          <td>System Analysis, Design and Development</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">6th Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">AL102</th>
                          <td>Automata and Formal Languages</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CC106</th>
                          <td>
                            Application Development and Emerging Technologies
                          </td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">IAS101</th>
                          <td>Information Assurance and Security</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">HCI</th>
                          <td>Human Computer Interaction</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">Stat1</th>
                          <td>Statistics</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">SE102</th>
                          <td>Software Engineering 2</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">DS102</th>
                          <td>Discrete Structure 2</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">7th Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">THS101</th>
                          <td>CS Thesis Writing 1</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">BD101</th>
                          <td>Business Intelligence</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">DM</th>
                          <td>Data Mining</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">SP101</th>
                          <td>System Administration and Maintainance</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">NC101</th>
                          <td>Networks and Communications</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CS Elec 1</th>
                          <td>System Fundamentals</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CS Elec 2</th>
                          <td>Graphics and Visual Computing</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">8th Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">THS102</th>
                          <td>CS Thesis Writing 2</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CS Elec 3</th>
                          <td>Computational Science</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">PDC101</th>
                          <td>Parallel and Distributive Computing</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">IS101</th>
                          <td>Intelligence System</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">OS101</th>
                          <td>Operating Systems</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">Acctg.101</th>
                          <td>Basic Accounting</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">PL101</th>
                          <td>Programming Languages</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">9th Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">PRC</th>
                          <td>Practicum&lpar;486hrs.&rpar;</td>
                          <td>6</td>
                        </tr>
                        <tr>
                          <th scope="row">GE12</th>
                          <td>Life &amp; Works of Ri</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="profile-tab-pane"
                  role="tabpanel"
                  aria-labelledby="profile-tab"
                  tabindex="0"
                >
                  <div class="courses">
                    <p class="tritle p-2">1st Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">CC101</th>
                          <td>Introduction to Computing with Keyboarding</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CSS1</th>
                          <td>
                            Install and Configure Computers/Set-up Computer
                            Networks
                          </td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE1</th>
                          <td>Understanding the Self</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE2</th>
                          <td>Readings in Philippine History</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE3</th>
                          <td>The Contemporary World</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">PATH Fit 1</th>
                          <td>Movement Competency Training</td>
                          <td>2</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">2nd Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">CC102</th>
                          <td>Fundamentals of Programming</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE4</th>
                          <td>Mathematics in the Modern World</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE5</th>
                          <td>Purposive Communication</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">NSTP1</th>
                          <td>Civic Welfare Training Service 1</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CSS2</th>
                          <td>
                            Set-up Computer Servers/Maintain Computer Systems
                            and Network
                          </td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">PATH Fit 2</th>
                          <td>Exercise-based Fitness</td>
                          <td>2</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">3rd Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">CC103</th>
                          <td>Intermediate Programming</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">DS101</th>
                          <td>Discrete Structure 1</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE6</th>
                          <td>Art Appreciation</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE7</th>
                          <td>Science, Technology &amp; Society</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE8</th>
                          <td>Ethics</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">PATH Fit 3</th>
                          <td>Dance and Sports</td>
                          <td>2</td>
                        </tr>
                        <tr>
                          <th scope="row">NSTP2</th>
                          <td>Civic Welfare Training Service 2</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">4th Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">SDF101</th>
                          <td>Object Oriented Programming</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CC104</th>
                          <td>Data Structures and Algorithms</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CC105</th>
                          <td>Information Management</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE9</th>
                          <td>Gender and Society</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE10</th>
                          <td>Philippine Popular Culture</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">PATH Fit 4</th>
                          <td>Outdoor and Adventure Activities</td>
                          <td>2</td>
                        </tr>
                        <tr>
                          <th scope="row">PT101</th>
                          <td>Platform Technologies</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">5th Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">AL101</th>
                          <td>Algorithms &amp; Complexity</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">Math2A</th>
                          <td>
                            Math Elective &lpar;Differential Calculus&rpar;
                          </td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">AR101</th>
                          <td>Architecture and Organization</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">SAD101</th>
                          <td>System Analysis, Design and Development</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE11</th>
                          <td>Living in an IT Era</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">SE101</th>
                          <td>Software Engineering 1</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">6th Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">IAS101</th>
                          <td>Captstone Project and Research 1</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">SIA101</th>
                          <td>System Integration and Architecture 1</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">HCI101</th>
                          <td>Human Computer Interaction</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">MS102</th>
                          <td>
                            Quantitative Methods &lpar;include Modeling and
                            Simulation&rpar;
                          </td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">Stat1</th>
                          <td>Statistics</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CC106</th>
                          <td>
                            Application Development and Emerging Technologies
                          </td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">7th Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">BD101</th>
                          <td>Business Intelligence</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">SP101</th>
                          <td>Social and Proffessional Issues</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">NET102</th>
                          <td>Networking 2</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">SA101</th>
                          <td>System Administration and Maintainance</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CAP101</th>
                          <td>Capstone Project and Research 1</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">IT Elec 1</th>
                          <td>Web Systems and Technologies</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">8th Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">CAP102</th>
                          <td>Capstone Project and Research 2</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">IT Elec 2</th>
                          <td>Integrative Programming and Technologies 2</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">IAS102</th>
                          <td>Captstone Project and Research 1 2</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">Acctg.1</th>
                          <td>Basic Accounting 1</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">IT Elec 3</th>
                          <td>Human Computer Interaction 2</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">PDC</th>
                          <td>Parallel and Distributive Computing</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">OS101</th>
                          <td>Operating Systems</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">9th Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">PR101</th>
                          <td>Practicum&lpar;486hrs.&rpar;</td>
                          <td>6</td>
                        </tr>
                        <tr>
                          <th scope="row">IT Elec 4</th>
                          <td>System Integration and Architecture 2</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="contact-tab-pane"
                  role="tabpanel"
                  aria-labelledby="contact-tab"
                  tabindex="0"
                >
                  <div class="courses">
                    <p class="tritle p-2">1st Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">CC101</th>
                          <td>Introduction to Computing with Keyboarding</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CSS1</th>
                          <td>
                            Install and Configure Computers/Set-up Computer
                            Networks
                          </td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE1</th>
                          <td>Understanding the Self</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE2</th>
                          <td>Readings in Philippine History</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE3</th>
                          <td>The Contemporary World</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">PATH Fit 1</th>
                          <td>Movement Competency Training</td>
                          <td>2</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">2nd Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">CC102</th>
                          <td>Computer Programming 1</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE4</th>
                          <td>Mathematics in the Modern World</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE5</th>
                          <td>Purposive Communication</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CSS2</th>
                          <td>
                            Set-up Computer Servers/Maintain Computer Systems
                            and Network
                          </td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">PATH Fit 2</th>
                          <td>Exercise-based Fitness</td>
                          <td>2</td>
                        </tr>
                        <tr>
                          <th scope="row">NSTP1</th>
                          <td>Civic Welfare Training Service 1</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">3rd Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">CC103</th>
                          <td>Computer Programming 2</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">IS101</th>
                          <td>Fundamentals of Information Systems</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE6</th>
                          <td>Art Appreciation</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE7</th>
                          <td>Science, Technology &amp; Society</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE8</th>
                          <td>Ethics</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">PATH Fit 3</th>
                          <td>Dance and Sports</td>
                          <td>2</td>
                        </tr>
                        <tr>
                          <th scope="row">NSTP2</th>
                          <td>Civic Welfare Training Service 2</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">4th Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">PF101</th>
                          <td>Object Oriented Programming</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CC104</th>
                          <td>Data Structures and Algorithms</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">IS103</th>
                          <td>IT Infrastructure and Network Technologies</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">IS102</th>
                          <td>Proffesional Issues in Information System</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE9</th>
                          <td>Gender and Society</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE10</th>
                          <td>Philippine Popular Culture</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">PATH Fit 4</th>
                          <td>Outdoor and Adventure Activities</td>
                          <td>2</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">5th Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">IM101</th>
                          <td>Fundamentals of Database Systems</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">CC105</th>
                          <td>Information Management</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">IS104</th>
                          <td>System Analysis, Design and Development</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">DM101</th>
                          <td>Organization and Mnagement Concepts</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">IPT101</th>
                          <td>Integrative Programming and Technologies</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE11</th>
                          <td>Living in IT Era</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">GE12</th>
                          <td>Life and Works of Rizal</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">6th Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">IAS101</th>
                          <td>Captstone Project and Research 1</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">HCI101</th>
                          <td>Human Computer Interaction</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">QUAMET</th>
                          <td>Quantitative Methods</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">STAT1</th>
                          <td>Statistics</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">IS105</th>
                          <td>Enterprise Architecture</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">7th Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">CAP101</th>
                          <td>Captstone Project and Research 1</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">IS106</th>
                          <td>IS Project Mnagement 1</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">ITAC</th>
                          <td>IT Audit and Controls</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">BD101</th>
                          <td>Business Intelligence</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">IS101</th>
                          <td>IS Strategy, Management and Acquisition</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">DM103</th>
                          <td>Business Process Design and Management</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">Research</th>
                          <td>Methods of Research and Computing</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">8th Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">CAP102</th>
                          <td>Captstone Project and Research 1</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">IS106</th>
                          <td>IS Project Mnagement 1</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">IST</th>
                          <td>IT Audit and Controls</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">Acctg.1</th>
                          <td>Basic Accounting 1</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">IT Elec 2</th>
                          <td>Enterprise Resource Planning</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">IT Elec 3</th>
                          <td>IS Project Management 2</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">Techno</th>
                          <td>Technopreneurship</td>
                          <td>3</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="courses">
                    <p class="tritle p-2">9th Trimester</p>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Course Code</th>
                          <th scope="col">Descriptive Title</th>
                          <th scope="col">Units</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">DM104</th>
                          <td>Evaluation of Business Performance</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">IS Elec 4</th>
                          <td>Customer Relationship Management</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <th scope="row">Prac101</th>
                          <td>
                            Practicum for Information Systems &lpar;486
                            hours&rpar;
                          </td>
                          <td>6</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="desc text-light text-center mt-3">DEPARTMENTS</p>
    <div class="container">
      <div class="d-flex flex-wrap justify-content-evenly">
        <div class="p-2 float-end">
          <a routerLink="/cce-ui" href=""
            ><img
              class="deptCard"
              src="../assets/misc/homepage/cbe.png"
              alt="ASCB"
              width="75"
          /></a>
        </div>
        <div class="p-2 float-end">
          <a href=""
            ><img
              class="deptCard"
              src="./assets/misc/homepage/ccje.png"
              alt="ASCB"
              width="75"
          /></a>
        </div>
        <div class="p-2 float-end">
          <a href=""
            ><img
              class="deptCard"
              src="../assets/misc/homepage/cte.png"
              alt="ASCB"
              width="75"
          /></a>
        </div>
        <div class="p-2 float-end">
          <a href=""
            ><img
              class="deptCard"
              src="../assets/misc/homepage/elem.png"
              alt="ASCB"
              width="75"
          /></a>
        </div>
        <div class="p-2 float-end">
          <a href=""
            ><img
              class="deptCard"
              src="../assets/misc/homepage/jhs.png"
              alt="ASCB"
              width="75"
          /></a>
        </div>
        <div class="p-2 float-start">
          <a href=""
            ><img
              class="deptCard"
              src="../assets/misc/homepage/shs.png"
              alt="ASCB"
              width="75"
          /></a>
        </div>

        <div class="p-2 float-end">
          <a href=""
            ><img
              class="deptCard"
              src="../assets/misc/homepage/tvet.png"
              alt="ASCB"
              width="75"
          /></a>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footernavigation></app-footernavigation>
