<app-headnavagation></app-headnavagation>
<main>
  <button
    onclick="topFunction()"
    id="topbtn"
    title="Back to Top"
    data-bs-toggle="tooltip"
    data-bs-placement="top"
    data-bs-custom-class="custom-tooltip"
  >
    <!-- <img src="../../../assets/misc/homepage/" width="30" /> -->
  </button>

  <div class="hero text-center text-light shadow p-5 mt-lg-5 mt-md-5 mt-3">
    <h1>DEPARTMENTS</h1>
    <p>ACADEMIC DEPARTMENTS</p>
  </div>
  <div class="showCase container d-flex p-5">
    <div class="row">
      <div class="col-lg-3 col-md-12 d-flex justify-content-md-center p-2">
        <img
          src="../../../../assets/misc/ascb_logo.png"
          alt="ascb logo"
          width="250"
        />
      </div>
      <div class="col-lg-9 col-md-12 text-start">
        <h2 class="about pt-lg-2 px-5 text-lg-start text-md-center mt-md-3">
          ASCB
        </h2>
        <br />
        <p class="px-lg-5 px-0 px-0">
          Andres Soriano College has a variety of CHED recognized undergraduate
          programs in its three departments: Arts & Education, Business &
          Management, and Computer Science. The school also has a Senior High
          School department offering ABM, HUMSS, GAS, HE, SMAW and ICT strands.
          Technical courses from TESDA, like Commercial Cooking, Computer
          Programming, and Food & Beverage Services, are also available for
          those who would like to get their National Certificate &lpar;NC&rpar;.
        </p>
      </div>
    </div>
  </div>
  <h2 class="about text-center">DEPARTMENTS</h2>
  <div class="list container mb-5">
    <hr />
    <div class="container">
      <div class="d-flex flex-wrap justify-content-center">
        <div class="p-2 float-end">
          <a routerLink="/dept-cbae" href="#"
            ><img
              class="deptCard img-fluid"
              src="../../../../assets/misc/homepage/genesys-departments-card-CBAE.jpg"
              alt="cbae information card"
          /></a>
        </div>
        <div class="p-2 float-end">
          <a routerLink="/dept-cce" href="#"
            ><img
              class="deptCard img-fluid"
              src="../../../../assets/misc/homepage/genesys-departments-card-CCE.jpg"
              alt="cce information card"
          /></a>
        </div>
        <div class="p-2 float-end">
          <a routerLink="/dept-ccje" href="#"
            ><img
              class="deptCard img-fluid"
              src="../../../../assets/misc/homepage/genesys-departments-card-CCJE.jpg"
              alt="ccje information card"
          /></a>
        </div>
        <div class="p-2 float-end">
          <a routerLink="/dept-cte" href="#"
            ><img
              class="deptCard img-fluid"
              src="../../../../assets/misc/homepage/genesys-departments-card-CTE.jpg"
              alt="cte information card"
          /></a>
        </div>
        <div class="p-2 float-end">
          <a routerLink="/dept-elementary" href="#"
            ><img
              class="deptCard img-fluid"
              src="../../../../assets/misc/homepage/genesys-departments-card-Elem.jpg"
              alt="elementary information card"
          /></a>
        </div>
        <div class="p-2 float-end">
          <a routerLink="/dept-jhs" href="#"
            ><img
              class="deptCard img-fluid"
              src="../../../../assets/misc/homepage/genesys-departments-card-JHS.jpg"
              alt="junior&dash;high information card"
          /></a>
        </div>
        <div class="p-2 float-start">
          <a routerLink="/dept-shs" href="#"
            ><img
              class="deptCard img-fluid"
              src="../../../../assets/misc/homepage/genesys-departments-card-SHS.jpg"
              alt="senior&dash;high information card"
          /></a>
        </div>

        <div class="p-2 float-end">
          <a routerLink="/dept-tvet" href="#"
            ><img
              class="deptCard img-fluid"
              src="../../../../assets/misc/homepage/genesys-departments-card-TVET.jpg"
              alt="tvet information card"
          /></a>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footernavigation></app-footernavigation>
