#student-reset {
  background-image: url("../../../../assets/misc/logo_background.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

h3 {
  font-weight: 900;
}

button {
  border: none;
}

input {
  width: 80%;
  border: none;
}

.login-bg {
  width: 30%;
}
