<div
  class="container-fluid p-0 mw-100 vh-100 d-flex justify-content-center align-items-center"
  id="student-reset"
>
  <div class="loading-overlay" *ngIf="loading">
    <app-loading-page></app-loading-page>
  </div>
  <div
    class="p-3 bg-light mx-auto container-fluid p-2 bg-opacity-75 rounded-4 login-bg"
  >
    <div class="asclogo text-center">
      <img
        src="../../../assets/misc/ascb_logo.png"
        alt=""
        class="img-responsive"
      />
    </div>
    <div class="text-center">
      <h3 class="h4 mt-2">Reset Password</h3>
      <p class="text-wrap reset mb-0">
        In an effort to secure your personal information, please provide us with
        the following details.
      </p>
      <form *ngIf="!reset" action="">
        <div>
          <label for="email" class="form-label"></label>
          <input
            type="email"
            pInputText
            class="fw-bold mx-auto border"
            name="email"
            [(ngModel)]="email"
            id="email"
            placeholder="Email"
          />
        </div>
        <p-toast position="top-center"></p-toast>
        <div class="mt-4 text-center">
          <button
            pButton
            pRipple
            [loading]="loadingbtn"
            type="submit"
            class="btn btn-primary fw-bold p-2 w-50 login-button"
            (click)="sendmail()"
          >
            Send Request
          </button>
        </div>
      </form>

      <p-toast position="top-center"></p-toast>
      <form [formGroup]="passwordInputs">
        <div
          *ngIf="reset && !showForm3"
          class="d-flex justify-content-center flex-column align-items-center"
        >
          <p-inputOtp
            pAutoFocus
            [autofocus]="true"
            [length]="4"
            formControlName="resetcode"
            class="my-3"
          ></p-inputOtp>
          <button
            pButton
            pRipple
            [loading]="loadingbtn"
            class="btn btn-primary fw-bold p-2 w-50 login-button"
            (click)="verifCodeSubmit()"
          >
            Submit
          </button>
        </div>

        <div
          *ngIf="showForm3"
          class="d-flex my-2 flex-column align-items-center"
        >
          <p-password
            formControlName="password"
            [toggleMask]="true"
            placeholder="Password"
            class="text-start p-0"
          >
            <ng-template pTemplate="footer">
              <p-divider></p-divider>
              <p class="mt-2">Suggestions</p>
              <ul class="pl-2 ml-2 mt-0 fs-6" style="line-height: 1.5">
                <li>Minimum of 8 characters</li>
                <li>At least uppercase letter</li>
                <li>And numeric & special characters</li>
              </ul>
            </ng-template>
          </p-password>

          <p-password
            formControlName="cpassword"
            [feedback]="false"
            [toggleMask]="true"
            placeholder="Retype Password"
            class="my-3"
          >
          </p-password>

          <button
            [disabled]="passwordInputs.invalid"
            pButton
            pRipple
            class="btn btn-primary"
            (click)="resetPasswordSubmit()"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
    <p class="text-center mt-3 mx-5">
      <a
        routerLink="/forgot-password"
        class="fw-normal text-primary link-offset-2 link-underline link-underline-opacity-0"
        >Back</a
      >
    </p>
  </div>
</div>
