.logout {
  width: 100%;
  height: 10rem;
  background-image: url("../../../../assets/misc/profile.png");
  background-size: cover;
  background-position: center;
}

#profile {
  border-radius: 50%;
}

.active {
  background: #0840a1 !important;
  color: whitesmoke;
}

.sidebar {
  width: 20%;
  min-height: 100%;
  background: whitesmoke;
}

.list-group a {
  display: inline-block;
  background: linear-gradient(to left, whitesmoke 50%, #0840a1 50%) right;
  background-size: 200%;
  transition: 0.3s ease-out;
  border-radius: 0 !important;
  border: none;
}

.list-group a:hover {
  background-position: left;
  color: whitesmoke;
}

.sidebar-content {
  background: #ffffff;
}

.respo-md {
  padding-top: 45px;
}

.profile {
  border-radius: 50%;
  width: 50;
}

.dropdown-item:hover {
  cursor: pointer;
  background-color: var(--blue);
  color: #ffffff;
  transition: 0.2s ease-in-out;
}

.profileName {
  color: var(--midnight);
}

.disabled {
  color: red;
}

/* none */
.permit {
  background-color: whitesmoke;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
}

.logoutBtn {
  text-decoration: none;
  background-color: var(--midnight);
  color: white;
}

@media only screen and (min-width: 769px) {
  .nav-link {
    color: black;
    transition: 0.1s ease-out;
  }

  .nav-link:hover {
    background: var(--midnight) !important;
    color: #ffffff;
    padding-left: 2rem;
  }

  .active {
    background: var(--midnight) !important;
    padding-left: 2rem;
  }
}
