<!-- <div class="sidebar position-fixed">
  <div class="logout position-relative">
    <div class="text-end">
      <a href="#"
        class="text-white position-absolute top-0 end-0 my-1 mx-3 link-offset-2 link-underline link-underline-opacity-0">
        <i class="fa-solid fa-right-from-bracket"></i>
        Logout
      </a>
    </div>
    <div class="text-start">
      <img src="../../../assets/misc/default.png" alt="avatar" id="profile" width="60" height="60"
        class="img-thumbnail mt-4 mx-3" />
      <h2 class="h6 fw-bold text-white mx-3 my-2">Doe, John</h2>
      <p class="text-light fs-6 mx-3 fw-light">Dean</p>
    </div>
  </div>
  <div class="links">
    <div id="list-example" class="list-group">
      <a class="my-1 py-3 accordion-body list-group-item list-group-item-action home" routerLink="/deans-home"
        routerLinkActive="active">
        <i class="mx-2 fa-solid fa-house"></i>
        Home
      </a>
      <a class="my-1 py-3 list-group-item list-group-item-action menu-item" routerLinkActive="active"
        routerLink="/deans-subjectlist">
        <i class="mx-2 fa-solid fa-book-open-reader"></i>
        Subjects
      </a>
      <a class="my-1 py-3 list-group-item list-group-item-action menu-item" routerLinkActive="active"
        routerLink="/deans-classroom">
        <i class="mx-2 fa-solid fa-book-open-reader"></i>
        Classroom
      </a>
      <a class="my-1 py-3 list-group-item list-group-item-action menu-item" routerLinkActive="active"
        routerLink="/deans-assignSubject">
        <i class="mx-2 fa-solid fa-file-pen"></i>
        Assign Subjects
      </a>
      <a class="my-1 py-3 list-group-item list-group-item-action menu-item" routerLinkActive="active"
        routerLink="/deans-gradeApproval">
        <i class="mx-2 fa-solid fa-note-sticky"></i>
        Grades Approval
      </a>
      <a class="my-1 py-3 list-group-item list-group-item-action menu-item" routerLinkActive="active"
        routerLink="/deans-prospectus-approval">
        <i class="mx-2 fa-solid fa-note-sticky"></i>
        Enrollee Approval
      </a>
    </div>
  </div>
</div> -->

<div
  class="profile-view d-lg-flex d-none flex-column p-3 vh-100 position-fixed sidebar-content d-lg-flex d-none"
  style="width: 20%;"
>
  <div class="d-flex justify-content-between">
    <img
      class="profile img-fluid"
      src="../../../../assets/misc/defaultasdas.jpg"
      alt="User Profile"
    />
    <div class="dropstart">
      <a
        class="text-dark"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <i class="pi pi-cog fs-5"></i>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="#" class="dropdown-item disabled">
            <i class="pi pi-cog"></i>&nbsp;&nbsp;Account Settings
          </a>
        </li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li>
          <a class="dropdown-item" (click)="logout()"
            ><i class="pi pi-sign-out"></i>&nbsp;&nbsp;Sign out</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="pt-2 px-2">
    <!-- no backend; hardcoded names, change the format if you must-->
    <p>
      <span class="fw-bold profileName">Dean&apos;s Name...</span><br />Dean,
      Department
    </p>
    <hr />
  </div>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        class="nav-link mb-3"
        routerLink="/dean/home"
        routerLinkActive="active"
      >
        <i class="pi pi-home mx-2"></i>
        Home
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link mb-3"
        routerLink="/dean/courses"
        routerLinkActive="active"
      >
        <i class="pi pi-book mx-2"></i>
        Course list
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link mb-3"
        routerLinkActive="active"
        routerLink="/dean/classrooms"
      >
        <i class="mx-2 pi pi-users"></i>
        Classrooms
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link mb-3 disabled text-danger"
        routerLinkActive="active"
        routerLink="/dean/assigning"
      >
        <i class="mx-2 pi pi-lock"></i>
        Appoint Courses
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link mb-3"
        routerLink="/student/prospectus"
        routerLink="/dean/approval-grade"
        routerLinkActive="active"
      >
        <i class="pi pi-id-card mx-2"></i>
        Student Grades
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link mb-3"
        routerLink="/dean/courses-approval"
        routerLinkActive="active"
      >
        <i class="pi pi-user-plus mx-2"></i>
        Enrollees
      </a>
    </li>
  </ul>
  <hr />
  <!-- <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center text-decoration-none dropdown-toggle"
      id="dropdownUser2"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="../../../../assets/misc/defaultasdas.jpg"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong>...DEAN...</strong>
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
      <li>
        <p class="dropdown-item">Account Settings</p>
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
    </ul>
  </div> -->
</div>
<div class="permit d-lg-none d-flex">
  <div
    class="noneText d-flex justify-content-center align-items-center flex-column text-center mx-3"
  >
    <img
      class="mb-3 img-fluid"
      src="../../../../assets/misc/ascb_logo.png"
      alt="ASCB Logo"
      width="auto"
    />
    <!-- <i class="fa fa-exclamation-triangle m-3"></i> -->
    <h1 class="my-2">Please kindly log off this device!</h1>
    <h5 class="my-2">
      For security purposes&semi; Please refrain from using mobile devices to
      acces your account, instead refer to your personal computer to enter the
      system.
    </h5>
    <a
      class="logoutBtn btn mt-2 rounded rounded-3 w-25 fw-bold"
      (click)="logout()"
      >Log&dash;out</a
    >
  </div>
</div>
