.content {
  padding-top: 8%;
  width: 95%;
}

.semester-text {
  color: grey;
  font-size: small;
}

#semester {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid black;
  border-radius: 0 !important;
}

.table {
  width: 95%;
  margin: auto;
  border-bottom: 2px solid black;
}

thead tr th {
  background: #0287AF !important;
  color: white;
  text-align: center !important;
  border-top: 0;
  border-bottom: 0;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.search {
  width: 45%;
}

p {
  font-size: small;
}
