.container-dashboard{
    width: 100%;
    min-height: 100%;
}

.logout {
    width: 100%; 
    height: 10rem;
    background-color: #ff0000;
    background-image: url("../../../assets/misc/profile.png");
    background-size: cover;
    background-position: center;
}

#profile{
    border-radius: 50%;
}

.sidebar{
    width: 20%;
    min-height: 100%;
    background: white;
}

.main-content{
    min-width: 80%;
    min-height: 100%;
    margin-left: 20%;
    background-image: url("../../../assets/misc/main-bg.png");
    background-size: cover;
    background-position: bottom;
}

.nav-text{
    color: #0840A1;
}

.home{
    color: white;
    background: #0840A1 !important ;
}

.list-group a {
    display: inline-block;
    background: linear-gradient(to left, white 50%, #0840A1 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    border-radius: 0 !important;
    border: none;
}
.list-group a:hover {
    background-position: left;
    color: white;
}

