<div class="container-dashboard">
  <app-student-sidebar></app-student-sidebar>
  <div class="main-content">
    <div class="fixed-background"></div>
    <app-student-navbar></app-student-navbar>
    <div class="container-fluid content mb-5">
      <h2 class="text-white h3 mb-3">
      Parent/Guardian's Information
      </h2>

      <div class="container-fluid bg-white rounded">
        <div class="row bg-secondary py-3 info-links">
          <div class="col-6 text-center">
            <a
              class="link-offset-2 link-underline link-underline-opacity-0 text-white fs-5 student-info"
              routerLink="/student-dashboard-information">
              Student Information
            </a>

          </div>
          <div class="col-6 text-center">
            <a
              class="link-offset-2 link-underline link-underline-opacity-0 text-white fs-5 parent-info"
              routerLink="/student-dashboard-parent">
              Parent/Guardian's Information
            </a>
            <div class="divider mx-auto"></div>
          </div>
        </div>
        <form
          action
          method>
          <div class="row mt-3">
            <div class="col-4">
              <div class="mb-3 input-holder">
                <label
                  for="parent_name"
                  class="form-label">
                  Parent's Name
                </label>
                <input
                  type="text"
                  class="form-control"
                  name="parent_name"
                  id="parent_name"
                  value
                  required>
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3 input-holder">
                <label
                  for="educational_attainment"
                  class="form-label">
                  Educational Attainment
                </label>
                <input
                  type="text"
                  class="form-control"
                  name="educational_attainment"
                  id="educational_attainment"
                  value
                  required>
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3 input-holder">
                <label
                  for="employed_where"
                  class="form-label">
                  If Employed? Where?
                </label>
                <input
                  type="text"
                  class="form-control"
                  name="employed_where"
                  id="employed_where"
                  value>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3 input-holder">
                <label
                  for="parent_occupation"
                  class="form-label">
                  Parent Occupation
                </label>
                <input
                  type="text"
                  class="form-control"
                  name="parent_occupation"
                  id="parent_occupation"
                  value
                  required>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3 input-holder">
                <label
                  for="parent_contact"
                  class="form-label">
                  Parent Contact Number
                </label>
                <input
                  type="tel"
                  pattern="[0-9]{11}"
                  class="form-control"
                  name="parent_contact"
                  id="parent_contact"
                  value
                  required>
              </div>
            </div>

            <div class="col-4">
              <div class="mb-3 input-holder">
                <label
                  for="guardian_name"
                  class="form-label">
                  Guardian Name
                </label>
                <input
                  type="text"
                  class="form-control"
                  name="guardian_name"
                  id="guardian_name"
                  value
                  required>
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3 input-holder">
                <label
                  for="educational_attainment"
                  class="form-label">
                  Educational Attainment
                </label>
                <input
                  type="text"
                  class="form-control"
                  name="educational_attainment"
                  id="educational_attainment"
                  value
                  required>
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3 input-holder">
                <label
                  for="employed_where"
                  class="form-label">
                  If Employed? Where?
                </label>
                <input
                  type="text"
                  class="form-control"
                  name="employed_where"
                  id="employed_where"
                  value>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3 input-holder">
                <label
                  for="guardian_occupation"
                  class="form-label">
                  Guardian Occupation
                </label>
                <input
                  type="text"
                  class="form-control"
                  name="guardian_occupation"
                  id="guardian_occupation"
                  value
                  required>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3 input-holder">
                <label
                  for="guardian_contact"
                  class="form-label">
                  Guardian Contact Number
                </label>
                <input
                  type="tel"
                  pattern="[0-9]{11}"
                  class="form-control"
                  name="guardian_contact"
                  id="guardian_contact"
                  value
                  required>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3 input-holder">
                <label
                  for="parent_home_address"
                  class="form-label">
                  Home Address
                </label>
                <input
                  type="text"
                  class="form-control"
                  name="parent_home_address"
                  id="parent_home_address"
                  value
                  required>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3 input-holder">
                <label
                  for="parent_permanent_address"
                  class="form-label">
                  Permanent Address
                </label>
                <input
                  type="text"
                  class="form-control"
                  name="parent_permanent_address"
                  id="parent_permanent_address"
                  value
                  required>
              </div>
            </div>
            <div class="col-6 my-2 text-center">
              <button
                type="button"
                class="btn btn-secondary w-50 mx-auto">
                Edit
              </button>
            </div>
            <div class="col-6 my-2 text-center">
              <button
                type="submit"
                class="btn btn-success w-50 mx-auto">
                Save
              </button>
            </div>
          </div>

        </form>
      </div>
      <div class="my-5"></div>
      <p class="opacity-0">Footer-spacer</p>
    </div>
  </div>
</div>
