<app-headnavagation></app-headnavagation>
<main>
  <button
    onclick="topFunction()"
    id="topbtn"
    title="Back to Top"
    data-bs-toggle="tooltip"
    data-bs-placement="top"
    data-bs-custom-class="custom-tooltip"
  >
    <!-- <img src="../../../assets/misc/homepage/" width="30" /> -->
  </button>

  <section class="hero text-center text-light shadow">
    <div
      class="container-fluid d-flex justify-content-center align-items-center flex-column vh-100"
    >
      <h1>
        ANDRES SORIANO
        <br />
        COLLEGES OF BISLIG
      </h1>
      <p>RISING ABOVE ADVERSITIES THROUGH FAITH, RESILIENCE AND UNITY</p>
      <button
        class="enrollreq btn text-light"
        routerLink="/registration-process"
      >
        REGISTRATION REQUIREMENTS
      </button>
    </div>
    <div
      class="banner rounded-3 position-absolute top-100 start-50 translate-middle p-4 py-lg-4 py-md-4 py-2 d-lg-block d-md-block d-none"
    >
      <div class="d-flex">
        <p class="text-start fs-6 py-2 m-0 px-1 fw-bold flex-fill">
          Learn about the procedures and criteria for admission and join the
          community at Andres Soriano Colleges of Bislig.
        </p>
        <button
          class="btn text-white enrollBtn text-uppercase fw-bold w-25 py-2"
          routerLink="/registration-process"
        >
          Enrollment Process
        </button>
      </div>
    </div>
  </section>

  <div class="container my-lg-5 my-md-5 my-2 py-lg-5 py-md-5 py-2">
    <div class="container mb-5">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h2 class="about text-center">
            <a routerLink="/ascb-about" href="#">About Us</a>
          </h2>
          <p class="text-center">
            Andres Soriano Colleges of Bislig, Inc. (ASCB) is a private,
            non-sectarian school in the province of Surigao del Sur.
          </p>
          <div class="row">
            <div class="aboutShow col-1 text-end">
              <img
                src="../../../assets/misc/genesys-home-history.png"
                alt="books"
              />
            </div>
            <div class="col-lg-5 col-md-5 col-11">
              <p class="desc">
                <a routerLink="/ascb-about-history" href="#">HISTORY</a>
              </p>
              <p class="state">
                In response to the demand for a local high school in Mangangoy,
                Bislig, the South East Pacific Institute now Andres Soriano
                Colleges of Bislig was built in 1952.
              </p>
            </div>
            <div class="aboutShow col-1 text-end">
              <img
                src="../../../assets/misc/genesys-home-images.png"
                alt="camera"
              />
            </div>
            <div class="col-lg-5 col-md-5 col-11">
              <p class="desc"><a routerLink="/news-tab" href="#">NEWS</a></p>
              <p class="state">
                Reflect on the current and previous occasions hosted within or
                outside Andres Soriano Colleges of Bislig, reminiscing about the
                diverse array of events that have enriched the institution's
                history and reputation.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="aboutShow col-1 text-end">
              <img
                src="../../../assets/misc/genesys-home-file-folder.png"
                alt="folder"
              />
            </div>
            <div class="col-lg-5 col-md-5 col-11">
              <p class="desc">
                <a routerLink="/registration-process" href="#">REGISTRATION</a>
              </p>
              <p class="state">
                Learn the registration requirements and process and become part
                of our vibrant community, where knowledge is shared and
                connections are forged.
              </p>
            </div>
            <div class="aboutShow col-1 text-end">
              <img
                src="../../../assets/misc/genesys-home-scholarship-bookmark.png"
                alt="bookmark"
              />
            </div>
            <div class="col-lg-5 col-md-5 col-11">
              <p class="desc">
                <a routerLink="/ascb-about" href="#">SCHOLARSHIP</a>
              </p>
              <p class="state">
                Andres Soriano Colleges of Bislig offers a wide array of
                scholarship opportunities, catering to and empowering students
                to achieve their educational aspirations.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12">
          <h2 class="about h3 text-center">Core Competencies</h2>
          <br />
          <div
            class="accordion accordion-flush shadow-lg"
            id="accordionFlushExample"
          >
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button
                  class="acc accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne"
                  aria-expanded="false"
                  aria-controls="flush-collapseOne"
                >
                  VISION
                </button>
              </h2>
              <div
                id="flush-collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body state2">
                  Andres Soriano Colleges of Bislig envisions a community of
                  holistic individuals foe social transformation
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button
                  class="acc accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo"
                  aria-expanded="false"
                  aria-controls="flush-collapseTwo"
                >
                  MISSION
                </button>
              </h2>
              <div
                id="flush-collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body state2">
                  Andres Soriano Colleges of Bislig is committed to provide
                  equitable access to quality education for all to produce
                  God-loving nationalistic productive bisliganons responsive to
                  the demands and challenges of the school's aspirations for a
                  culture of excellence.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button
                  class="acc accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree"
                  aria-expanded="false"
                  aria-controls="flush-collapseThree"
                >
                  CORE VALUES
                </button>
              </h2>
              <div
                id="flush-collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body state2">
                  <div class="row">
                    <div class="col-1 fw-bolder">
                      <p>A</p>
                      <p>S</p>
                      <p>C</p>
                      <p>B</p>
                    </div>
                    <div class="col-1">
                      <p>-</p>
                      <p>-</p>
                      <p>-</p>
                      <p>-</p>
                    </div>
                    <div class="col-10">
                      <p>Academic Excellence</p>
                      <p>Service to Community</p>
                      <p>Catalyst for Change</p>
                      <p>Benevolence and Compassion</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section id="academic">
      <h2 class="dept text-center">
        <a routerLink="/dept-ui01" href="#">Academic Departments</a>
      </h2>
      <p class="deptsub text-center pb-5">
        Every Andres strives for
        <span>(A)</span>
        cademic excellence with a heart for
        <span>(S)</span>
        ervice to community; a
        <span>(C)</span>
        atalyst for
        <br />
        Change and at all times
        <span>(B)</span>
        enevolent and compassionate
      </p>
      <div class="logoShow px-5 d-flex">
        <div class="row d-flex justify-content-evenly">
          <div
            class="col-lg-4 col-md-6 d-flex flex-lg-row flex-md-column flex-column text-lg-start text-md-center text-center pb-lg-5 pb-md-5 pb-1"
          >
            <img
              class="align-self-center"
              src="../../../assets/misc/ascb_logo.png"
              alt="cae logo"
              width="100"
            />
            <p class="state2 pt-3 ps-lg-2 px-3">
              <strong>CAE</strong><br />College of Accountancy Education
            </p>
          </div>
          <div
            class="col-lg-4 col-md-6 d-flex flex-lg-row flex-md-column flex-column text-lg-start text-md-center text-center pb-lg-5 pb-md-5 pb-1"
          >
            <img
              class="align-self-center"
              src="../../../assets/misc/homepage/genesys-departments-cbe.png"
              alt="cbe logo"
              width="100"
            />
            <p class="state2 pt-3 ps-lg-2 px-3">
              <strong>CBE</strong><br />College of Business Education
            </p>
          </div>
          <div
            class="col-lg-4 col-md-6 d-flex flex-lg-row flex-md-column flex-column text-lg-start text-md-center text-center pb-lg-5 pb-md-5 pb-1"
          >
            <img
              class="align-self-center"
              src="../../../assets/misc/homepage/genesys-departments-cce.png"
              alt="cce logo"
              width="100"
            />
            <p class="state2 pt-3 ps-lg-2 px-3">
              <strong>CCE</strong><br />College of Computer Education
            </p>
          </div>
          <div
            class="col-lg-4 col-md-6 d-flex flex-lg-row flex-md-column flex-column text-lg-start text-md-center text-center pb-lg-5 pb-md-5 pb-1"
          >
            <img
              class="align-self-center"
              src="../../../assets/misc/homepage/genesys-departments-ccje.png"
              alt="ccje logo"
              width="100"
            />
            <p class="state2 pt-3 ps-lg-2 px-3">
              <strong>CCJE</strong><br />College of Criminal Justice Education
            </p>
          </div>
          <div
            class="col-lg-4 col-md-6 d-flex flex-lg-row flex-md-column flex-column text-lg-start text-md-center text-center pb-lg-5 pb-md-5 pb-1"
          >
            <img
              class="align-self-center"
              src="../../../assets/misc/homepage/genesys-departments-cte.png"
              alt="cte logo"
              width="100"
            />
            <p class="state2 pt-3 ps-lg-2 px-3">
              <strong>CTE</strong><br />College of Teacher Education
            </p>
          </div>
          <div
            class="col-lg-4 col-md-6 d-flex flex-lg-row flex-md-column flex-column text-lg-start text-md-center text-center pb-lg-5 pb-md-5 pb-1"
          >
            <img
              class="align-self-center"
              src="../../../assets/misc/homepage/genesys-departments-elementary.png"
              alt="elementary logo"
              width="100"
            />
            <p class="state2 pt-3 ps-lg-2 px-3">
              <strong>Elementary</strong><br />Elementary Department
            </p>
          </div>
          <div
            class="col-lg-4 col-md-6 d-flex flex-lg-row flex-md-column flex-column text-lg-start text-md-center text-center pb-lg-5 pb-md-5 pb-1"
          >
            <img
              class="align-self-center"
              src="../../../assets/misc/homepage/genesys-departments-jhs.png"
              alt="junior&dash;high logo"
              width="100"
            />
            <p class="state2 pt-3 ps-lg-2 px-3">
              <strong>JHS</strong><br />Junior Highschool
            </p>
          </div>
          <div
            class="col-lg-4 col-md-6 d-flex flex-lg-row flex-md-column flex-column text-lg-start text-md-center text-center pb-lg-5 pb-md-5 pb-1"
          >
            <img
              class="align-self-center"
              src="../../../assets/misc/homepage/genesys-departments-shs.png"
              alt="senior&dash;high logo"
              width="100"
            />
            <p class="state2 pt-3 ps-lg-2 px-3">
              <strong>SHS</strong><br />Senior Highschool
            </p>
          </div>
          <div
            class="col-lg-4 col-md-6 d-flex flex-lg-row flex-md-column flex-column text-lg-start text-md-center text-center pb-lg-5 pb-md-5 pb-1"
          >
            <img
              class="align-self-center"
              src="../../../assets/misc/homepage/genesys-departments-tvet.png"
              alt="tvet logo"
              width="100"
            />
            <p class="state2 pt-3 ps-lg-2 px-3">
              <strong>TVET</strong><br />TVET Department
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="promo">
    <div class="container d-flex flex-lg-row flex-md-column p-5">
      <div
        class="promoSub rounded-5 col-lg-6 col-md-12 text-light fst-italic py-3 px-4"
      >
        <div class="text-lg-start text-md-center">
          <p>
            The
            <strong> Andres Soriano College of Bislig </strong>
            was founded in 1951 as a consequence of the tenacious efforts of
            people who thought that children should be developed holistically.
            The college, which was situated in Mangagoy, was established to meet
            the educational requirements of the expanding populace, which
            included workers from businesses like PICOP and BBLCI. Under the
            direction of committed civic-minded people like Mr. Godofredo M.
            Manila and Mr. Marcelo Ligas, Andres Soriano College started out as
            a modest 13-room nipa building that could house hundreds of eager
            students.
          </p>
        </div>
      </div>
      <div
        class="col-lg-6 col-md-12 align-self-md-center d-lg-block d-md-block d-none"
      >
        <div class="vid">
          <iframe
            class="rounded-5 mw-100"
            width="600"
            height="315"
            src="https://www.youtube.com/embed/iinERVSqFPo?si=pd2jJLqIG9hlZ7bB"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="map container">
    <h2 class="dept text-center p-5">Location</h2>
    <div class="container">
      <div class="row">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3949.18757859446!2d126.35569487405861!3d8.183850601647377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x32fdba2d29d27e07%3A0x3398840e4adc0b46!2sAndres%20Soriano%20College!5e0!3m2!1sen!2sph!4v1711012946561!5m2!1sen!2sph"
          width="467"
          height="347"
          style="border: 0"
          allowfullscreen
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
  <div class="news container text-center">
    <h2 class="about text-center my-5">News &amp; Achievements</h2>
    <div class="row">
      <div class="col-lg-4 col-md-12 current">
        <a
          target="_blank"
          href="https://www.facebook.com/photo/?fbid=808346734664291&set=a.547937237371910"
        >
          <img src="../../../assets/misc/genesys-home-event-8.jpg" />
        </a>
        <br />
        <a
          target="_blank"
          href="https://www.facebook.com/photo/?fbid=807742911391340&set=a.547937237371910"
        >
          <img src="../../../assets/misc/genesys-home-event-9.jpg" />
        </a>
      </div>
      <div class="col-lg-4 col-md-12 current">
        <a
          target="_blank"
          href="https://www.facebook.com/photo/?fbid=951734040289461&set=pcb.951734123622786"
        >
          <img src="../../../assets/misc/genesys-home-event-10.jpg" />
        </a>
        <br />
        <img src="../../../assets/misc/genesys-home-event-4.jpg" />
      </div>
      <div class="col-lg-4 col-md-12 current">
        <img src="../../../assets/misc/genesys-home-event-7.jpg" />
        <br />
        <img src="../../../assets/misc/genesys-home-event-6.jpg" />
      </div>
    </div>
    <button class="allsee btn text-light fw-bolder m-3">LEARN MORE</button>
  </div>
</main>
<app-footernavigation> </app-footernavigation>
