<div
  class="container-fluid p-0 mw-100 vh-100 d-flex justify-content-center align-items-center"
  id="login"
>
  <div class="d-none" id="loading">
    <div class="loader"></div>
    <div class="text-center">Loading....</div>
  </div>
  <div
    class="w-50 bg-light mx-auto container-fluid p-2 bg-opacity-75 rounded-4 login-bg"
    id="mainPage"
  >
    <div class="asclogo position-absolute top-25 start-50 translate-middle">
      <img
        src="../../../assets/misc/ascb_logo.png"
        alt
        class="img-responsive w-100"
      />
    </div>
    <div class="row g-1">
      <h2 class="text-center pt-5 mt-5">Please Confirm Email Verification</h2>
      <a
        target="_blank"
        href="https://mail.google.com"
        class="text-center pb-3"
      >
        <img
          src="../../../assets/misc/Gmail-logo.png"
          alt="email"
          width="200"
        />
        <br />
        Click Here
      </a>
    </div>
  </div>
</div>
