<app-headnavagation></app-headnavagation>

<main>
  <div class="hero text-center text-light shadow p-5 mt-lg-5 mt-md-5 mt-3">
    <h1>NEWS &amp; ACHIEVEMENTS</h1>
    <div class="container d-flex justify-content-center">
      <p class="text-center">
        Review the diverse events, both past and present, held within and
        outside Andres Soriano Colleges of Bislig, contributing to the
        institution's rich history and reputation
      </p>
    </div>
  </div>
  <div class="container-fluid my-5">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="newsInfo float-end m-3 border border-dark-subtle">
        <img
          class="newsCard rounded-top-3 img-fluid"
          src="../../../../assets/misc/genesys-home-event-1.jpg"
          alt="event information card"
        />

        <p class="mx-3 text-end pt-3">
          Brief description and introduction of the featured news or event
        </p>
        <button class="btn mx-3 mb-3 float-end">Learn More</button>
      </div>
      <div class="newsInfo float-end m-3 border border-dark-subtle">
        <img
          class="newsCard rounded-top-3 img-fluid"
          src="../../../../assets/misc/genesys-home-event-2.jpg"
          alt="event information card"
        />

        <p class="mx-3 text-end pt-3">
          Brief description and introduction of the featured news or event
        </p>
        <button class="btn mx-3 mb-3 float-end">Learn More</button>
      </div>
      <div class="newsInfo float-end m-3 border border-dark-subtle">
        <img
          class="newsCard rounded-top-3 img-fluid"
          src="../../../../assets/misc/genesys-home-event-3.jpg"
          alt="event information card"
        />

        <p class="mx-3 text-end pt-3">
          Brief description and introduction of the featured news or event
        </p>
        <button class="btn mx-3 mb-3 float-end">Learn More</button>
      </div>
      <div class="newsInfo float-end m-3 border border-dark-subtle">
        <img
          class="newsCard rounded-top-3 img-fluid"
          src="../../../../assets/misc/genesys-home-event-4.jpg"
          alt="event information card"
        />

        <p class="mx-3 text-end pt-3">
          Brief description and introduction of the featured news or event
        </p>
        <button class="btn mx-3 mb-3 float-end">Learn More</button>
      </div>
      <div class="newsInfo float-end m-3 border border-dark-subtle">
        <img
          class="newsCard rounded-top-3 img-fluid"
          src="../../../../assets/misc/genesys-home-event-5.jpg"
          alt="event information card"
        />

        <p class="mx-3 text-end pt-3">
          Brief description and introduction of the featured news or event
        </p>
        <button class="btn mx-3 mb-3 float-end">Learn More</button>
      </div>
      <div class="newsInfo float-end m-3 border border-dark-subtle">
        <img
          class="newsCard rounded-top-3 img-fluid"
          src="../../../../assets/misc/genesys-home-event-6.jpg"
          alt="event information card"
        />

        <p class="mx-3 text-end pt-3">
          Brief description and introduction of the featured news or event
        </p>
        <button class="btn mx-3 mb-3 float-end">Learn More</button>
      </div>
      <div class="newsInfo float-end m-3 border border-dark-subtle">
        <img
          class="newsCard rounded-top-3 img-fluid"
          src="../../../../assets/misc/genesys-home-event-7.jpg"
          alt="event information card"
        />

        <p class="mx-3 text-end pt-3">
          Brief description and introduction of the featured news or event
        </p>
        <button class="btn mx-3 mb-3 float-end">Learn More</button>
      </div>
    </div>
  </div>
</main>

<app-footernavigation> </app-footernavigation>
